<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Search Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.css @ categories=['tlc-aem-web.search' , 'tlc-aem-web.chat']}" />
<!-- this is a container component only -->
<div class="benefits-search-container ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
    <div class="cm-wrapper cm-top-padding-block">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="benefits-dropdown-container cm-inner-wrapper">
            <div class="mb-20">
               <div data-sly-resource="${'heading' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
            </div>
           <div data-sly-resource="${'autoComplete' @ resourceType='/apps/tlc-web-platform/components/content/auto-complete'}"></div>

            <button class="cm-button primary mt-50 ${properties.includeChatLink ? 'mb-25' : ''} benefits-search-button benefits-search-button">${properties.searchText}</button>
            <sly data-sly-test="${properties.includeChatLink}">
              <a class="cm-link underlined lets-chat-link text-center cm-link-serif footer-links" href="">
                <img src="${inheritedPageProperties.letsChatIcon}"/>
				${inheritedPageProperties.chatText}</a>
            </sly>
          </div>
        </div>
      </div>
</div>
</div>