<!-- Dynamic Experience Carousel For Unique Experience Listing on Experiences Page -->

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.js @ categories= 'tlc-aem-web.dynamicExperienceCarousel'}"/> 
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories= 'tlc-aem-web.experienceCarousel'}" />
<script id="handlebars-exp" type="text/x-handlebars-template"> 
{{#each this}}
{{#if this.detailPageLayout1}}

<div class="item {{indexPosition  @index}} ">
<img class="d-block w-100" src="{{this.detailPageLayout1.sliderImage}}" alt="{{this.detailPageLayout1.sliderImageAltText}}">
<div class="carousel-type-two-caption-block">
 <div class="exp-carousel-caption ">
   <h2 class="cm-heading caption-title">{{this.detailPageLayout1.descriptionSmall}}</h2>
     <h3 class="cm-text-16 caption-subtitle"></h3>
     <p class="cm-text-serif caption-text">{{this.detailPageLayout1.descriptionMedium}}</p>
   <a class="cm-button primary caption-cta cm-wide-mobile" href="{{this.detailPageLayout1.pageUrl}}">
        ${inheritedPageProperties.discoverMoreText @ context = 'html'}
   </a>
 </div>
</div>
</div>
{{/if}}

{{#if this.detailPageLayout2}}
<div class="item {{indexPosition  @index}} ">
<img class="d-block w-100" src="{{this.detailPageLayout2.sliderImage}}" alt="{{this.detailPageLayout2.sliderImageAltText}}">
<div class="carousel-type-two-caption-block">
 <div class="exp-carousel-caption ">
   <h2 class="cm-heading caption-title">{{this.detailPageLayout2.descriptionSmall}}</h2>
     <h3 class="cm-text-16 caption-subtitle"></h3>
     <p class="cm-text-serif caption-text">{{this.detailPageLayout2.descriptionMedium}}</p>
   <a class="cm-button primary caption-cta cm-wide-mobile" href="{{this.detailPageLayout2.pageUrl}}">
        ${inheritedPageProperties.discoverMoreText @ context = 'html'}
   </a>
 </div>
</div>
</div>
{{/if}}

{{#if this.detailPageLayout3}}
<div class="item {{indexPosition  @index}} ">
<img class="d-block w-100" src="{{this.detailPageLayout3.sliderImage}}" alt="{{this.detailPageLayout3.sliderImageAltText}}">
<div class="carousel-type-two-caption-block">
 <div class="exp-carousel-caption ">
   <h2 class="cm-heading caption-title">{{this.detailPageLayout3.descriptionSmall}}</h2>
     <h3 class="cm-text-16 caption-subtitle"></h3>
     <p class="cm-text-serif caption-text">{{this.detailPageLayout3.descriptionMedium}}</p>
   <a class="cm-button primary caption-cta cm-wide-mobile" href="{{this.detailPageLayout3.pageUrl}}">
        ${inheritedPageProperties.discoverMoreText @ context = 'html'}
   </a>
 </div>
</div>
</div>
{{/if}}

{{#if this.detailPageLayout4}}
<div class="item {{indexPosition  @index}} ">
<img class="d-block w-100" src="{{this.detailPageLayout4.sliderImage}}" alt="{{this.detailPageLayout4.sliderImageAltText}}">
<div class="carousel-type-two-caption-block">
 <div class="exp-carousel-caption ">
   <h2 class="cm-heading caption-title">{{this.detailPageLayout4.descriptionSmall}}</h2>
     <h3 class="cm-text-16 caption-subtitle"></h3>
     <p class="cm-text-serif caption-text">{{this.detailPageLayout4.descriptionMedium}}</p>
   <a class="cm-button primary caption-cta cm-wide-mobile" href="{{this.detailPageLayout4.pageUrl}}">
        ${inheritedPageProperties.discoverMoreText @ context = 'html'}
   </a>
 </div>
</div>
</div>
{{/if}}
{{/each}}
 </script>

<sly data-sly-use.model="com.tlc.web.platform.core.models.UniqueExperienceModel">
  <div id="uniqueExpId" data-unique-path="${model.uniqueExperiencePath}" data-path="${currentPage.parent.getPath}" hidden > </div>
  <sly data-sly-test="${model.expCarousel}">
    <div class='row uniqueExperiences'>
        <div class='col-md-10 offset-md-1 cm-inner-wrapper'>
            <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
        </div>
    </div>
    <div class="uniqueExperiences ${properties.bottomSpacerReq ? 'cm-bottom-padding-block' : ''}">
    
        <div class="cm-carousel-type2 ${properties.align}">
            <div class="owl-carousel owl-theme owl-exp">
            <!-- carousel type 2 item -->
        <sly data-sly-list="${model.expCarousel}">
            <sly data-sly-test="${item.detailPageLayout1}">
            <div class="item">
              <img class="d-block w-100" src="${item.detailPageLayout1.sliderImage}"  alt="${item.detailPageLayout1.sliderImageAltText}">
              <div class="carousel-type-two-caption-block">
                <div class="exp-carousel-caption ">
                  <h2 class="cm-heading caption-title">${item.detailPageLayout1.descriptionSmall}</h2>
                   <h3 class="cm-text-16 caption-subtitle"></h3>
                   <p class="cm-text-serif caption-text">${item.detailPageLayout1.descriptionMedium}</p>
                   <a href="${item.detailPageLayout1.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${inheritedPageProperties.discoverMoreText}
                   </a>
                </div>
              </div>
            </div>
        </sly>

        <sly data-sly-test="${item.detailPageLayout2}">
            <div class="item">
              <img class="d-block w-100" src="${item.detailPageLayout2.sliderImage}"  alt="${item.detailPageLayout2.sliderImageAltText}">
              <div class="carousel-type-two-caption-block">
                <div class="exp-carousel-caption ">
                  <h2 class="cm-heading caption-title">${item.detailPageLayout2.descriptionSmall}</h2>
                   <h3 class="cm-text-16 caption-subtitle"></h3>
                   <p class="cm-text-serif caption-text">${item.detailPageLayout2.descriptionMedium}</p>
                   <a href="${item.detailPageLayout2.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${inheritedPageProperties.discoverMoreText}
                   </a>
                </div>
              </div>
            </div>
        </sly>

        <sly data-sly-test="${item.detailPageLayout3}">
            <div class="item">
              <img class="d-block w-100" src="${item.detailPageLayout3.sliderImage}"  alt="${item.detailPageLayout3.sliderImageAltText}">
              <div class="carousel-type-two-caption-block">
                <div class="exp-carousel-caption ">
                  <h2 class="cm-heading caption-title">${item.detailPageLayout3.descriptionSmall}</h2>
                   <h3 class="cm-text-16 caption-subtitle"></h3>
                   <p class="cm-text-serif caption-text">${item.detailPageLayout3.descriptionMedium}</p>
                   <a href="${item.detailPageLayout3.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${inheritedPageProperties.discoverMoreText}
                   </a>
                </div>
              </div>
            </div>
        </sly>

        <sly data-sly-test="${item.detailPageLayout4}">
            <div class="item">
              <img class="d-block w-100" src="${item.detailPageLayout4.sliderImage}"  alt="${item.detailPageLayout4.sliderImageAltText}">
              <div class="carousel-type-two-caption-block">
                <div class="exp-carousel-caption ">
                  <h2 class="cm-heading caption-title">${item.detailPageLayout4.descriptionSmall}</h2>
                   <h3 class="cm-text-16 caption-subtitle"></h3>
                   <p class="cm-text-serif caption-text">${item.detailPageLayout4.descriptionMedium}</p>
                   <a href="${item.detailPageLayout4.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${inheritedPageProperties.discoverMoreText}
                   </a>
                </div>
              </div>
            </div>
        </sly>
        </sly>
      </div>
      </div>
      </div>
      
      </sly>
    </sly>