<!-- Dynamic Experience Carousel For Featured Events Listing on Experiences Page -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories= 'tlc-aem-web.featuredEventsCarousel'}"/>

<script id="handlebars-featuredEvents" type="text/x-handlebars-template"> 
    {{#each this}}
	<div class="carousel-item {{indexPosition  @index}}">
		<img class="d-block w-100" src="{{this.image}}" alt="{{this.imageAltText}}">
		<div class="carousel-type-two-caption-block">
 			<div class="carousel-caption ">
   				<h2 class="cm-heading caption-title">{{this.descriptionSmall}}</h2>
                 <h3 class="cm-text-16 caption-subtitle"></h3>
                 <p class="cm-text-serif caption-text">{{this.descriptionMedium}}</p>
   				<a class="cm-button primary caption-cta cm-wide-mobile" href= "{{this.pageUrl}}">
        			${pageProperties.discoverMoreText @ context = 'html'}
   				</a>
 			</div>
		</div>
	</div>
	{{/each}}
 </script>

<sly data-sly-use.model="com.tlc.web.platform.core.models.FeaturedEventsModel">
  <sly data-sly-test="${model.featuredEventsList}">
    <div class='row featuredEvents-teaser'>
        <div class='col-md-10 offset-md-1 mb-50 cm-inner-wrapper'>
            <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
        </div>
    </div>
    <div class="featuredEvents-teaser ${properties.bottomSpacerReq ? 'cm-bottom-padding-block' : ''}">
    <div class="cm-carousel-type2 ${properties.align}">
        <div id="carousel-events"  class="carousel slide carousel-type-two " data-ride="carousel" >
          <div class="carousel-inner" id="featuredEventsid" offersEventPath="${model.offersEventPath}" pagePath="${model.pagePath}" data-sly-list="${model.featuredEventsList}">
            <!-- carousel type 2 item -->
            <div class="carousel-item ${itemList.first ? 'active' : ''}">
              <img class="d-block w-100" src="${item.image}"  alt="${item.imageAltText}">
              <div class="carousel-type-two-caption-block">
                <div class="carousel-caption ">
                    <h2 class="cm-heading caption-title">${item.descriptionSmall}</h2>
                   <h3 class="cm-text-16 caption-subtitle"></h3>
					  <p class="cm-text-serif caption-text">${item.descriptionMedium}</p>
                   <a href="${item.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${pageProperties.discoverMoreText}
                   </a> 

                </div>
              </div>
            </div>
      </div>
      </div>
      <sly data-sly-test="${model.featuredEventsList.size > 1}">
      <a class="carousel-control-prev navButton" href="#carousel-events" role="button" data-slide="prev"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
                    <g fill="none" fill-rule="evenodd" transform="translate(-41)">
                        <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
                        <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
                    </g>
                </svg> <span class="sr-only">Previous</span>
        </a> <a class="carousel-control-next navButton" href="#carousel-events" role="button" data-slide="next">
         <svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
                    <g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
                        <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
                        <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
                    </g>
                </svg> <span class="sr-only">Next</span>
        </a>
        </sly>
    
        <div class="cm-banner-overlay"></div>
      </div>
      </div>
      </sly>
    </sly>

