<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Experince Carousel Component" class="cq-placeholder"></p>

<sly data-sly-use.model1="com.tlc.web.platform.core.models.UniqueExperienceModel">

<sly data-sly-test="${model1.componentType=='component1'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicComponent/dynamicExperienceCarousel/dynamicExperienceCarousel1.html"></section>
</sly> 
<sly data-sly-test="${model1.componentType=='component2'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicComponent/dynamicExperienceCarousel/dynamicExperienceCarousel2.html"></section>
</sly> 
<sly data-sly-test="${model1.componentType=='component3'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicComponent/dynamicExperienceCarousel/dynamicExperienceCarousel3.html"></section>
</sly>

</sly>