<!-- Dynamic Experience Carousel For Unique Experience Listing on Property Detail Page -->

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories= 'tlc-aem-web.experienceCarousel'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicExperienceCarousel">

<sly data-sly-test="${model.expCarousel} ">
 
<div class="experience-container ${properties.bottomSpacerReq ? 'cm-bottom-padding-block' : ''}">
<div class="cm-carousel-type2">

		<div class="owl-carousel owl-theme owl-exp">

		<sly data-sly-list="${model.expCarousel}">
			<!-- carousel type 2 item -->
			<sly data-sly-test="${item.detailPageLayout1}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout1.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout1.title @context='html'}</h2>
						<p class="cm-text-serif caption-text">${item.detailPageLayout1.descriptionMedium @context='html'}</p>
						<a href="${item.detailPageLayout1.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile" data-sly-test="${inheritedPageProperties.discoverMoreText}">
                           ${inheritedPageProperties.discoverMoreText} </a>
					</div>
				</div>
			</div>
			</sly>
			<sly data-sly-test="${item.detailPageLayout2}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout2.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout2.descriptionSmall @context='html'}</h2>
						<p class="cm-text-serif caption-text">${item.detailPageLayout2.descriptionMedium @context='html'}</p>
						<a href="${item.detailPageLayout2.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile" data-sly-test="${inheritedPageProperties.discoverMoreText}">
                           ${inheritedPageProperties.discoverMoreText} </a>
					</div>
				</div>
			</div>
			</sly>
			<sly data-sly-test="${item.detailPageLayout3}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout3.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout3.descriptionSmall @context='html'}</h2>
						<p class="cm-text-serif caption-text">${item.detailPageLayout3.descriptionMedium @context='html'}</p>
						<a href="${item.detailPageLayout3.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile" data-sly-test="${inheritedPageProperties.discoverMoreText}">
                           ${inheritedPageProperties.discoverMoreText} </a>
					</div>
				</div>
			</div>
			</sly>
			<sly data-sly-test="${item.detailPageLayout4}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout4.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout4.descriptionSmall @context='html'}</h2>
						<p class="cm-text-serif caption-text">${item.detailPageLayout4.descriptionMedium @context='html'}</p>
						<a href="${item.detailPageLayout4.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile" data-sly-test="${inheritedPageProperties.discoverMoreText}">
                           ${inheritedPageProperties.discoverMoreText} </a>
					</div>
				</div>
			</div>
			</sly>
		</sly>
	</div>
</div>
</div>
</sly>
</sly>