<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Text Component" class="cq-placeholder"></p>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicTextModel">
<div class="cm-wrapper cm-padding-block">
<div class="row" data-sly-list ="${model.promoContentList}"> 
    <div class="col-md-12">
        <div class="mb-50">
            <h2 class="cm-heading">${inheritedPageProperties.overviewText}</h2>
        </div>
        <div class="mb-50 p-mtb-0" >
			<p class="cm-text-serif ">${item.descriptionLarge @context='html'}</p>
        </div>
    </div>
    <div class="col-sm-12">
        <span class="divider"></span>
    </div>
</div>
</div>
</sly>