<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Configure Contact Us Form"></div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories=['tlc-aem-web.contactUs' , 'tlc-aem-web.dropDown']}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.MemberFormModel">

    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='tlc-aem-web.contactUs'}" />
    <div class="cm-top-padding-block ${properties.classType} ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
        <div class="cm-wrapper cm-padding-block">
            <div class="contact-content row">
                <div class="col-md-8 offset-md-2">
                    <!-- Rich text medium -->
                    <h2 class="cm-heading mb-50 text-center">${properties.mainHeading}</h2>
                    <p class="cm-text-serif text-center">
                        ${properties.subHeading}
                        <br>
                        <!-- Content has one enter space -->
                        <br> ${properties.description}
                    </p>
                </div>
                <div class="col-md-8 offset-md-2 cm-top-padding-block">
                    <form action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" id="memberForm" class="cm-form contact-form   visible">

                        <input type=hidden name="oid" value="00D0T0000008kNm">
                        <input type=hidden name="retURL" value="http://tlcgroup.com">

                        <!-- input group for name -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cm-input-group">
                                    <!-- custom select for all options -->
                                    <div class="cm-select cm-input-item cm-select-mini" id="avail-title-select">
                                        <i class="arrow-down"></i>
                                        <input type="text" class="cm-input" autocomplete="new-password" placeholder="${properties.title}" id="salutation" name="salutation" required>
                                        <ul class="cm-select-options" data-sly-list="${model.gender}">
                                            <li class="cm-select-option" data-value="${item.gender}">${item.gender}</li>

                                        </ul>
                                    </div>
                                    <label for="first_name" class="cm-input-label">
                                        <input type="text" class="cm-input cm-input-item name" id="first_name" maxlength="40" name="first_name" size="20" type="text" pattern="^[a-zA-Z]*$" placeholder="${properties.firstNamePlaceHolder}" required>

                                    </label>

                                    <label for="last_name" class="cm-input-label">
                                        <input type="text" class="cm-input cm-input-item name" id="last_name" maxlength="80" name="last_name" size="20" type="text" pattern="^[a-zA-Z]*$" placeholder="${properties.lastNamePlaceHolder}" required>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cm-input-group">
                                    <div class="ui-widget">
                                        <div class="cm-select cm-input-item cm-select-mini cm-select-dropdown" id="contactHow">
                                            <i class="arrow-down"></i>
                                            <input type="text" class="cm-input" autocomplete="new-password" placeholder="${properties.contactHowPlaceholder}" id="00N0T000000VUJe" name="00N0T000000VUJe" required>
                                            <ul class="cm-select-options" data-sly-list="${model.contactHow}">
                                                <li class="cm-select-option" data-value="${item.contactHow}">${item.contactHow}</li>
                                            </ul>
                                        </div>
                                        <!-- <p class='error' style="display:none;color:red;" id='select1error'>Please choose any option</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cm-input-group">
                                    <label for="country" class="cm-input-label cm-input-mini">
                                        <div class="cm-select cm-input-item cm-select-mini" id="countryCode">
                                            <i class="arrow-down"></i>
                                            <input type="text" name="00NN0000007Alcm" size="20" class="cm-input" maxlength="20" autocomplete="new-password" placeholder="+91" id="00NN0000007Alcm" required></input>
                                            <p class="ErrMsg error" id="countryCodeError" style="display: none">Please select country code</p>
                                            <ul class="cm-select-options" id="dropdown-Countrycode" data-sly-list="${model.countryCode}">
                                                <li class="cm-select-option countryCode-select" data-value="${item.countryCode}">${item.countryCode}</li>
                                            </ul>
                                        </div>
                                    </label>
                                    <label for="mobile" class="cm-input-label">
                                        <input type="number" maxlength="10" name="country" size="20" class="cm-input" id="mobile" placeholder="${properties.moiblePlaceHolder}"  pattern="^[0-9]{10}$" required>

                                        <!-- <p class="error" style="display:none;color:red;" id="mobileerror">Please enter mobile</p> -->
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class=" cm-input-group"=""="">
                                    <div class="ui-widget">
                                        <div class="cm-select cm-input-item cm-select-mini cm-select-dropdown" id="natureOfQuery">
                                            <i class="arrow-down"></i>
                                            <input type="text" class="cm-input" autocomplete="new-password" placeholder="${properties.natureOfQueryPlaceholder}" id="00N0T000000VUJj" name="00N0T000000VUJj" required>
                                            <ul class="cm-select-options" data-sly-list="${model.natureOfQuery}">
                                                <li class="cm-select-option" data-value="${item.natureOfQuery}">${item.natureOfQuery}</li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cm-input-group">
                                    <label for="email" class="cm-input-label">
                                        <input class="cm-input" id="email" maxlength="80" name="email" size="20" type="text" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" placeholder="${properties.eMailplaceHolder}" required>

                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12 mb-25">
                                <textarea name="description" class="cm-textarea" placeholder="${properties.textAreaPlaceHolder}"></textarea>
                            </div>
                        </div>
                        
						<sly data-sly-test="${properties.tncText}">
                        <label for="terms" class="cm-input-label md-checkbox cm-input-checkbox">
                            <input type="checkbox" id="00N0T000000VUJo" name="00N0T000000VUJo" value="1" required></input>
                            <label></label>
                            ${properties.tncText @context = 'html'}
                        </label>
                        </sly>

                        <div class="text-center">

                             <input type="submit" name="submit" class= "cm-button primary caption-cta">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</sly>