.filter-links {
	align-items: center;
	display: flex;
	order: 2;
	margin-bottom: 25px;
}

.blog-categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	/* margin-bottom: 50px; */
}

.blog-category {
	font-family: "ProximaNova", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b1aaaa;
	padding: 0 25px;
	cursor: pointer;
	transition: .3s;
}

.blog-category:hover {
	text-decoration: underline;
}

.blog-category.blog-category-active {
	color: #c4b67e;
	text-decoration: underline;
}

.blog-category:first-child {
	padding-left: 0;
}

.blog-category:last-child {
	padding-right: 0;
}

.cm-blog-item {
	margin-bottom: 100px;
}

.blog-thumbnail-image {
    position:absolute;
    top:0;
    left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}
.blog-thumbnail-image-aspect{
	/* ﻿padding-top: 64.3%; */
   /*  overflow: hidden; */
    width: 100%;
   /*  position: relative; */
    padding-top:64.3%;
    position:relative;
}

.blog-item-content {
	text-align: left;
}

.cm-blog-item:nth-child(odd) .blog-item-content, .left-aligned .blog-item-content
	{
	order: 1
}

.cm-blog-item:nth-child(odd) .blog-thumbnail-image-block, .left-aligned .blog-thumbnail-image-block
	{
	order: 3;
}

.cm-blog-item:nth-child(odd) .spacer,
.right-aligned .spacer,
.cm-blog-item:nth-child(even) .spacer,
.left-aligned .spacer {
	order: 2;
}
/* .left-aligned .spacer {
	order: 2;
} */

.cm-blog-item:nth-child(even) .blog-item-content, .right-aligned .blog-item-content
	{
	order: 3
}

.cm-blog-item:nth-child(even) .blog-thumbnail-image-block,
	.right-aligned .blog-thumbnail-image-block {
	order: 1;
}

@media only screen and (max-width:991px){
	.blog-thumbnail-image-aspect{
		padding-top:88.4%;
	}
}

@media only screen and (max-width:767px) {
	.cm-blog-item:nth-child(odd) .blog-item-content, .left-aligned .blog-item-content{
		order: 3
	}
	.cm-blog-item:nth-child(odd) .blog-thumbnail-image-block, .left-aligned .blog-thumbnail-image-block{
		order: 1;
	}

	.cm-blog-item:nth-child(even) .blog-item-content, .right-aligned .blog-item-content{
		order: 3;
	}
	.cm-blog-item:nth-child(even) .blog-thumbnail-image-block,
		.right-aligned .blog-thumbnail-image-block {
		order: 1;
	}
	.blog-categories {
		margin-bottom: 00px;
		width: 100%;
	}
	.blog-category {
		/* padding: 0px 10px; */
		text-align: center;
		flex: 1;
	}
	.blog-filter-inputs {
		flex-direction: column;
	}
	.blog-filter-links {
		align-items: center;
		justify-content: center;
		display: flex;
		order: 2;
		margin-top: 25px;
	}
	.blog-category {
		font-size: 12px;
	}
	.blog-thumbnail-image-block {
		margin-bottom: 30px;
	}
	.blog-thumbnail-image {
		/* height: 280px;
    object-fit: cover; */
		
	}
	.blog-item-content-block {
		padding: 0 20px;
	}
}