<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Dynamic Listing Component" class="cq-placeholder"></p> 
	
<sly data-sly-use.model="com.tlc.web.platform.core.models.DynamicListingModel">

<sly data-sly-test="${model.componentElement=='restaurants'}">
    <section data-sly-include="/apps/tlc-web-platform/components/content/dynamicListing/featuresRestaurents.html"></section>
 </sly>

<sly data-sly-test="${model.componentElement=='participating'}">
 	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicListing/participatingHotel.html"></section>
 </sly>

 <sly data-sly-test="${model.componentElement=='experience'}">
 	 <section data-sly-include="/apps/tlc-web-platform/components/content/dynamicListing/experiences.html"></section>
 </sly>

 </sly>


