<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.experienceCarousel'}" />
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.js @ categories='tlc-aem-web.dynamicExperienceCarousel'}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.DynamicListingModel">
<div class="cm-padding-block">
<div class ="cm-wrapper"> 
	<div data-sly-resource="${'heading-dynLis' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
</div>

<div class="experience-container">
	<div class="cm-carousel-type2">

		<div class="owl-carousel owl-theme owl-exp">
			<!-- carousel type 2 item -->
			
			<sly data-sly-list="${model.experienceList}">
			<sly data-sly-test="${item.detailPageLayout1}">
			<div class="item" >
				<img class="d-block w-100" src="${item.detailPageLayout1.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout1.title @context='html'}</h2>
						<p class="cm-text-16 caption-subtitle" data-sly-test="${item.detailPageLayout1.subTitle}">${item.detailPageLayout1.subTitle}</p>
						<p class="cm-text-serif caption-text">${item.detailPageLayout1.descriptionMedium}</p>
						<a href="${item.detailPageLayout1.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${properties.ctaUrl}</a>
					</div>
				</div>
			</div>
			</sly>
			
		 	<sly data-sly-test="${item.detailPageLayout2}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout2.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout2.descriptionSmall @context='html'}</h2>
						<p class="cm-text-16 caption-subtitle" data-sly-test="${item.detailPageLayout2.subTitle}">${item.detailPageLayout2.subTitle}</p>
						<p class="cm-text-serif caption-text">${item.detailPageLayout2.descriptionMedium}</p>
						<a href="${item.detailPageLayout2.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${properties.ctaUrl}</a>
					</div>
				</div>
			</div>
			</sly>
			<sly data-sly-test="${item.detailPageLayout3}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout1.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout2.title @context='html'}</h2>
						<p class="cm-text-16 caption-subtitle" data-sly-test="${item.detailPageLayout1.subTitle}">${item.detailPageLayout2.subTitle}</p>
						<p class="cm-text-serif caption-text">${item.detailPageLayout2.descriptionMedium}</p>
						<a href="${item.detailPageLayout2.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${properties.ctaUrl}</a>
					</div>
				</div>
			</div>
			</sly>
			<sly data-sly-test="${item.detailPageLayout4}">
			<div class="item">
				<img class="d-block w-100" src="${item.detailPageLayout4.sliderImage}">
				<div class="carousel-type-two-caption-block">
					<div class="exp-carousel-caption ">
						<h2 class="cm-heading caption-title">${item.detailPageLayout4.title @context='html'}</h2>
						<p class="cm-text-16 caption-subtitle" data-sly-test="${item.detailPageLayout4.subTitle}">${item.detailPageLayout4.subTitle}</p>
						<p class="cm-text-serif caption-text">${item.detailPageLayout4.descriptionMedium}</p>
						<a href="${item.detailPageLayout4.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile">
                        ${properties.ctaUrl}</a>
					</div>
				</div>
			</div>
		  </sly>
		  </sly>
		</div>
	</div>
</div>
</div>
</sly>