<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.js @ categories='tlc-aem-web.featuredRest-DynListing'}" />

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.owlCarousel'}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.DynamicListingModel">

<div class="benefits-container">
	<div class="cm-wrapper cm-padding-block">
		<div>
			<sly data-sly-resource="${'heading-comp' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
		</div>
		<div class="benefits-carousel-container">
			<div class="owl-carousel cm-owl-carousel" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
				<sly data-sly-list="${model.dinningList}">

                    <sly data-sly-test="${item.detailPageLayout1}">  
				<a href="${item.detailPageLayout1.pageUrl}" class="cm-link cm-owl-carousel-content-link">
				<div class="cm-owl-carousel-item">
					<div class="cm-owl-carousel-image-block">
						<img data-src="${item.detailPageLayout1.sliderImage}" alt="${item.detailPageLayout1.imageAltText}" class="cm-owl-carousel-image lozad">
					</div>
					<div class="cm-owl-carousel-content"> 
						<!-- <p class="cm-text-serif cm-owl-carousel-content-body" data-sly-test="${item.tag}">${item.tag}</p> -->
						<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout1.title}</h2>
						<p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout1.descriptionMedium}</p>											
				   </div>
				</div>
                </a>
            </sly>

            <sly data-sly-test="${item.detailPageLayout2}">  
				<a href="${item.detailPageLayout2.pageUrl}" class="cm-link cm-owl-carousel-content-link">
				<div class="cm-owl-carousel-item">
					<div class="cm-owl-carousel-image-block">
						<img data-src="${item.detailPageLayout2.sliderImage}" alt="${item.detailPageLayout2.imageAltText}" class="cm-owl-carousel-image lozad">
					</div>
					<div class="cm-owl-carousel-content"> 
						<!-- <p class="cm-text-serif cm-owl-carousel-content-body" data-sly-test="${item.tag}">${item.tag}</p> -->
						<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout2.descriptionSmall}</h2>
						<p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout2.descriptionMedium}</p>											
				   </div>
				</div>
                </a>
            </sly>

            <sly data-sly-test="${item.detailPageLayout3}">  
				<a href="${item.detailPageLayout3.pageUrl}" class="cm-link cm-owl-carousel-content-link">
				<div class="cm-owl-carousel-item">
					<div class="cm-owl-carousel-image-block">
						<img data-src="${item.detailPageLayout3.sliderImage}" alt="${item.detailPageLayout3.imageAltText}" class="cm-owl-carousel-image lozad">
					</div>
					<div class="cm-owl-carousel-content"> 
						<!-- <p class="cm-text-serif cm-owl-carousel-content-body" data-sly-test="${item.tag}">${item.tag}</p> -->
						<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout3.descriptionSmall}</h2>
						<p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout3.descriptionMedium}</p>											
				   </div>
				</div>
                </a>
            </sly>

            <sly data-sly-test="${item.detailPageLayout4}">  
				<a href="${item.detailPageLayout4.pageUrl}" class="cm-link cm-owl-carousel-content-link">
				<div class="cm-owl-carousel-item">
					<div class="cm-owl-carousel-image-block">
						<img data-src="${item.detailPageLayout4.sliderImage}" alt="${item.detailPageLayout4.imageAltText}" class="cm-owl-carousel-image lozad">
					</div>
					<div class="cm-owl-carousel-content"> 
						<!-- <p class="cm-text-serif cm-owl-carousel-content-body" data-sly-test="${item.tag}">${item.tag}</p> -->
						<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout4.descriptionSmall}</h2>
						<p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout4.descriptionMedium}</p>											
				   </div>
				</div>
                </a>
            </sly>
            </sly>
			</div>
		</div>
	</div>
</div>
</sly>