<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.partHotel-dynListing'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.DynamicListingModel">
<div class="cm-wrapper cm-padding-block" id="dynamic-listing-part-hotel" >
	<div class='row'>
		<div class='col-md-10 offset-md-1'>
			<sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
		</div>
	</div>

	<div class="cm-teasers-list-block" >
		<ul class="cm-teasers-list  owl-carousel teaser-owl-carousel owl-theme" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
			<sly data-sly-list="${model.propertyList}"> <!-- teaser item -->
			<li class="item cm-teasers-list-item dyn-part-hotel">
				<div class="cm-teaser-list-image-block">
					<img data-src="${item.webfacade}" class="cm-teaser-list-image lozad" alt="${item.bgImageAltText}" />
					<div class="cm-teasers-list-item-cta">
						<a href="${item.pageUrl}" class="cm-button primary"> ${properties.ctaUrl}</a>
					</div>
				</div>
				<h2 class="cm-heading">${item.propertyName}</h2>
			<!--	<p class="cm-text-serif">${item.description @context ='html'}</p> -->
			</li>
			</sly>
		</ul>
	</div>
</div>
</sly>