<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Auto-complete Component" class="cq-placeholder"></p> 

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='tlc-aem-web.autoComplete'}" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.HotelListingModel">

<div class="cm-autocomplete" >
    <input id="tags" class="cm-autocomplete-input cm-input cm-input-gg"  placeholder="${properties.placeholderText}">

    <svg class="cm-autocomplete-cross" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <g fill="none" fill-rule="evenodd" stroke="#C4B67E" stroke-width="1.5">
          <path d="M5 5l10 10M15 5L5 15"/>
      </g>
    </svg>
    <a  class="autocomplete-dropdown-link "></a>

</div>
<div id="nono" data-resourceP="${model.cityPath}" hidden> </div>
</sly>
