<div class="wrapper-contents">
<div class="main-body-container">
<sly data-sly-resource="${'offer-detail' @ resourceType='tlc-web-platform/components/content/offerDetail'}"></sly>
	<sly data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
</div>