<sly data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Pop Up Cta" class="cq-placeholder"></sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
 	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.popUpCta'}"/>

<button class="cm-button cm-button-sm cm-wide-mobile primary cm-modal-link">${inheritedPageProperties.reserveButtonText}</button>
<!-- modal for Pop Up CTA -->
<div class="modal" role="dialog" id="reserverModal">
	<div class="modal-body">
		<img src="${inheritedPageProperties.modalCloseImagePath}" class="cm-modal-close" alt="" srcset="" />
		<sly data-sly-use.model="com.tlc.web.platform.core.models.OutletDetailModel">

		<h2 class="modal-heading cm-heading">${inheritedPageProperties.reservePopUpText}</h2>
		<p class="modal-content cm-text">
			${inheritedPageProperties.popUpDescription1} ${model.detailpagelayout.title}, ${inheritedPageProperties.popUpDescription2}
		</p>
		</sly>
		<div class="cm-button-group start vertical-sm mt-50">
			<button class="cm-button  cm-wide-mobile primary">${inheritedPageProperties.downloadApp}</button>
			<button class="cm-button  cm-wide-mobile primary">${inheritedPageProperties.continueOnWeb}</button>
		</div>
	</div>
</div>
<!-- End modal for Pop Up CTA -->