.property-map{
  width: 100%;
  min-height: 500px;
}
  .property-back-link{
    margin-bottom: 0px;
    margin-top : 50px;
    display: inline-block;
  }

.property-content{
  margin-top: 50px;
}
.property-content-item{
  margin-bottom: 25px;
}

.property-content-item-heading{
  margin-bottom: 5px;
}
.property-content-item-body{
  margin: 0;
}
@media only screen and (max-width:767px){
  .property-map{
    margin-top: 25px;
    min-height: 330px;
  }
  .property-back-link{
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-top : 25px;
  }
  .property-content{
    margin-top: 25px;
  }

}