<template data-sly-template.bannerTemplate="${ @ model }"> 
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.banner'}" />

<div class="cm-banner ${!(wcmmode.edit || wcmmode.preview)  ? 'banner-height-Calc':''} ${model.align}-aligned ${model.bannerType}">

	<sly data-sly-test="${model.backgroundType=='image'}"> 
	<img class="cm-banner-carousel-image" id="hotelBanner" data-default-src="${inheritedPageProperties.defaultImage}"   src="${model.desktopImage}" alt="">

	</sly>
	<sly data-sly-test="${model.backgroundType=='dam'}"> 
	<video autoplay loop>
		<source src="${model.backgroundVideo}" type="video/mp4" />
	</video> 
	</sly>
	<span class="location-tag cm-text white" data-sly-test="${model.imgCopyrightText}">${model.imgCopyrightText}</span>

	<div class="carousel-caption-block cm-banner-content-block">
		<div class="carousel-caption ${model.horizontalAlign}">
			<h1 data-sly-element="${model.headingType}"
				class="cm-heading ${model.bannerType=='cm-type-1' ? 'cm-banner-title' : 'cm-heading caption-title'}"
				data-sly-test="${model.heading}">
				${model.heading}
				</h1>
				<p class="cm-text-16 ${model.bannerType=='cm-type-1' ? 'cm-banner-subtitle' : 'caption-subtitle'}"
					data-sly-test="${model.subHeading}">${model.subHeading @context = 'html'}</p>
				<div class="cm-text-serif ${model.bannerType=='cm-type-1' ? 'cm-banner-desc' : 'caption-text'}"
					 data-sly-test="${model.description}">${model.description
					@context = 'html'}
				</div>

				<sly data-sly-list="${model.ctaList}"> 
				<sly data-sly-test="${item.ctaText}"> 
				<a class="cm-button primary cm-banner-action cm-wide-mobile"
				href="${item.ctaUrl}"> ${item.ctaText} </a> </sly> </sly>
		</div>
	</div>

	<div class="cm-banner-overlay"></div>
</div>
</template>