<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Banner"></div>

    <sly data-sly-use.model="com.tlc.web.platform.core.models.BannerModel" 
    	 data-sly-use.bannerTemplate="bannerTemplate.html">

        <!-- BANNER -->
       <div data-sly-test= "${model.bannerType}" class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
             <sly data-sly-call="${bannerTemplate.bannerTemplate @ model=model}" />
       </div>
        <!-- END BANNER -->
        
    </sly>