<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure App Banner Component" class="cq-placeholder"> </p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.appBanner'}" />

<div class="${!(wcmmode.edit || wcmmode.preview) ? 'banner-height-calc':''} banner-type-cta full-height ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
  <div class="cm-wrapper cm-padding-block">
    <div class="row banner-type-cta-content-wrapper content-align-row ${properties.alignImage}">
      <div class="  banner-type-cta-content">
        <h1 class="cm-heading banner-type-cta-title small-margin" data-sly-test="${properties.heading}">${properties.heading}<br> ${properties.bottomHeading}</h1>
        <p class="cm-text-serif mb-25"  data-sly-test="${properties.subHeading}">
		${properties.subHeading  @ context='html'}
        </p> 
        <div class="cm-button-group  extended">
			<a href ="${properties.ctaUrlAndroid}${properties.ctaUrlAndroid ? '.html' : ''}" class="cm-button primary cm-button-sm" data-sly-test=${properties.androidCtaText}>${properties.androidCtaText}</a>
    		<a href ="${properties.ctaUrlIos}" class="cm-button primary cm-button-sm" data-sly-test=${properties.iosCtaText}>${properties.iosCtaText}</a>
        </div>
      </div>
      <div class="col-md-7 height-100 banner-type-cta-image-block" data-sly-test=${properties.desktopImage}>
        <img src="${properties.desktopImage}" alt="${properties.altText}" class="banner-type-cta-image">
      </div>
    </div>
  </div>
</div>