<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Download App Animation-1 Component" class="cq-placeholder"></p> 

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.css @ categories='tlc-aem-web.downloadAppAnimation-1'}" />
    
     <sly data-sly-use.model="com.tlc.web.platform.core.models.DownloadAppAnimationModel">
     <div class="sticky-sections">
        <div class=" sticky-section">
          <div class="cm-wrapper height-100">
            <div class="row height-100">
              <div class="col-md-4 offset-1 content">
                    <sly data-sly-list="${model.animationItems}">
                <div class="multi-content " id="multi-content-${itemList.count}">
                  <img src="${item.iconImagePath}" alt="" srcset="">
                  <h1 class="cm-heading">${item.title}</h1>
                  <p class="cm-text-serif">${item.description}</p>
                </div>
            </sly>
              </div>
              <div class="col-md-6  offset-1 image">
                    <sly data-sly-list="${model.animationItems}">
                  <img class="sticky-image" id="sticky-image-${itemList.count}" src="${item.imagePath}" alt="${item.imageAltText}" srcset="">
                </sly>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.js @ categories='tlc-aem-web.downloadAppAnimation-1'}" />