<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Download App Animation-2 Component" class="cq-placeholder"></p> 




<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.css @ categories='tlc-aem-web.downloadAppAnimation-2'}" />
     <sly data-sly-use.model="com.tlc.web.platform.core.models.DownloadAppAnimationModel">
<div class="sticky-sections-part-2">
    <div class=" sticky-section-part-2">
      <div class="cm-wrapper height-100">
        <div class="row height-100">
          <div class="col-md-12  content">
            <div class="main-content " id="part-2-content-1">
              <div class="image-container">
                        <sly data-sly-list="${model.animation2Items}">
                <img id="part-2-image-${itemList.count}" class=""  src="${item.imagePath}" alt="${item.imageAltText}" srcset="">
                        </sly>
              </div>
              <h1 class="cm-heading">${properties.title}</h1>
              <p class="cm-text-serif">${properties.description}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>
  <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.js @ categories='tlc-aem-web.downloadAppAnimation-2'}" />