<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Download App Animation Component" class="cq-placeholder"></p>

<sly data-sly-use.model="com.tlc.web.platform.core.models.DownloadAppAnimationModel">
<sly data-sly-test="${model.animationType=='animation1'}">
        <sly data-sly-include="/apps/tlc-web-platform/components/content/downloadAppAnimation/downloadAppAnimation-1.html"/>
    </sly>
    <sly data-sly-test="${model.animationType=='animation2'}">
            <sly data-sly-include="/apps/tlc-web-platform/components/content/downloadAppAnimation/downloadAppAnimation-2.html"/>
    </sly>
</sly>
