<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Text/ RTE Component" class="cq-placeholder"></p>

<sly data-sly-test="${!properties.disableComponent}">
    <div class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}"
        id="${properties.customScrollId}">
        ${properties.text @context= 'html'}
    </div>
</sly>