#personal-section-1 .content {
	order: 1;
	height: auto;
	padding: 50px 15px;
	margin: 0;
}

#personal-section-1 .image-banner {
	order: 2;
}

#personal-section-1 .image-banner img {
	height: auto;
	width: 100%;
}

#personal-section-2 .content {
	order: 2;
	height: auto;
	padding: 50px 15px;
	margin: 0;
}

#personal-section-2 .image-banner img {
	height: auto;
	width: 70%;
	margin: auto;
}

#personal-section-2 {
	min-height: 100vh;
	max-height: unset;
	height: auto;
}