<!-- Analytics Footer Tag -->
<script type="text/javascript">_satellite.pageBottom();</script>
<!-- ENd Analytics Footer Tag -->

<div data-sly-resource="${'footer-par' @ resourceType='/libs/foundation/components/iparsys'}"></div>