<template data-sly-template.head="${@ page}">

	<title>${page.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="${inheritedPageProperties.favIcon}" sizes="16x16"/>

	<sly data-sly-include="headlibs.html"/>
	<sly data-sly-include="customheaderlibs.html"/>
</template>