<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-test="${!wcmmode.disabled}" data-sly-call="${clientLib.all @ categories = [
        'wcm.foundation.allowedcomponents',
        'cq.pagetypes.html5page',
        'cq.authoring.page',
        'cq.wcm.foundation-main',
        'cq.shared'
        ]
    }"></sly>
    
<!-- Analytics Tag -->
<script data-sly-test="${inheritedPageProperties.analyticsscriptCode != null}" 
		src="//assets.adobedtm.com/launch-${inheritedPageProperties.analyticsscriptCode}.min.js">
</script>
<!-- ENd Analytics Tag -->