.membership-form-block{
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 1;
  max-width: 1150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 0px;
  height:100%;

}
.membership-form-block.align-right{
  justify-content: flex-end;
}
.membership-form-block.align-left{
  justify-content: flex-start;
}
.membership-form{
  background: #fff;
  padding: 50px 100px;
  max-width: 588px;
}
.membership-banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
}
.membership-banner-image{
  height: 100%;
  object-fit: cover;
  width: 100%
}
.membership-section-wrapper{
  position: relative;
   height: auto;
  min-height: 680px;
}

.membership-section-wrapper-publish-mode{
  height: calc(100vh - 80px);
}

.footer-links img{
  margin-right: 5px;
  display: inline-block;
  filter:grayscale(100%);
}
.footer-links:hover img{
  filter:grayscale(0);
}

@media only screen and (max-width: 992px){
.membership-section-wrapper{
  min-height: unset;
  height: auto;
}
.membership-form{
  padding: 30px 45px;
}
.membership-form-block{
  padding: 50px 35px;
  position: relative;
  transform: none;
  height: auto  ;
}
.membership-form-block,
.membership-form-block.align-left,
.membership-form-block.align-right{
  justify-content: center;
}
.membership-banner{
  height: 100%;
}
}

@media only screen and (max-width: 414px){
.help-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.help-links .footer-links:first-child{
	margin-right: 0;
    margin-bottom:10px;
}
}