<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Hotel Detail Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='tlc-aem-web.hotelDetail'}" />
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.carouselGeneric'}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.HotelDetailModel">
<sly data-sly-test="${model.propertyDetailCard}"> 
	<div class="cm-padding-block">
		<div class="cm-type-1 cm-carousel" >
			<div id="carousel-hotel-detail" class="carousel slide" data-ride="carousel">
				
				<ol class="carousel-indicators"> </ol>
				<div class="carousel-inner" data-sly-list="${model.propertyDetailCard}">
				<sly data-sly-list.subItem="${item.propertyWebBannerImages}">
				<div class="carousel-item ${subItemList.first ? 'active' : ''}">
					<div class="cm-banner ${!wcmmode.edit ? 'banner-height-Calc':''} cm-type-1 ">
						<img class="cm-banner-carousel-image" src="${subItem}" alt="${item.bgImageAltText}"> 
						<div class="cm-banner-overlay"></div>
					</div>
				</div>
				</sly>
				</div>
			</div>
			
			<sly data-sly-test="${model.propertyDetailCard.size>1}">
			<a class="carousel-control-prev" href="#carousel-hotel-detail" role="button" data-slide="prev"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
				<g fill="none" fill-rule="evenodd" transform="translate(-41)">
				<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
            	<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
        		</g>
      			</svg> 
      			<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next" href="#carousel-hotel-detail" role="button" data-slide="next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
          	<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
             <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
             <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
          	</g>
        	</svg> 
        	<span class="sr-only">Next</span>
			</a> 
		</sly>
		
		</div>
	</div>	
</sly>	
	
<sly data-sly-list="${model.propertyDetailCard}"> 	
<div class="cm-padding-block cm-wrapper">
    <div class="row">
      <div class="col-md-5 col-lg-4">      
        <div class="property-details">
            <div class="property-title">
              <h1 class="cm-heading">${item.propertyName}</h1>
                <sly data-sly-use.model="com.tlc.web.platform.core.models.SocialLinkModel">
                <ul class="cm-social-list" data-sly-list="${model.socialLinksList}">
                    <li class="cm-social-list-item cm-menu-link">
                        <a href="${item.url ? item.url : '#'}" target="${item.openInNewWindow ? '_blank' : '_self'}">
                       <img src="${item.iconClass}" alt="" srcset="">
                        </a>
                    </li>
                </ul>
                </sly>
          </div>
            <div class="property-content">
                <div class="property-content-item">
                  <h3 class="cm-text-16 property-content-item-heading">${inheritedPageProperties.overviewText}</h3>
                  <p class="cm-text-serif property-content-item-body">
                      ${item.descriptionSmall @ context ='html'}
                  </p>
                </div>
				<!-- image for mobile only -->
                <img class="full-image property-image-m" src="${item.propertyWebSideImage}" alt="${item.bgImageAltText}">
				<!--  end image -->
                <div class="property-content-item ">
                    <h3 class="cm-text-16 property-content-item-heading" >${inheritedPageProperties.addressText}</h3>
                    <p class="cm-text-serif property-content-item-body">
                      ${item.propertyAddress}
                    </p>
                </div>
            </div>
          </div>
          </div>

      <div class="col-md-6 col-lg-7 offset-lg-1 offset-md-1">
          <img class="full-image property-image-d" src="${item.propertyWebSideImage}" alt="">
      </div>

    
      <div class="col-12">
          <div class="cm-button-group start vertical-sm mt-50 property-actions">
              <a href="${pageProperties.becomeMemberUrl}${pageProperties.becomeMemberUrl ? '.html' : ''}" class="cm-button cm-button-sm cm-wide-mobile primary">${inheritedPageProperties.becomeMemberText}</a>        
            </div>
      </div> 
      </div>
      </div>  
      </sly>  
</sly>