@font-face {
  font-family: "ProximaNova";
  src: url("../resources/font/FontsFree-Net-Proxima-Nova-Light.otf");
}
@font-face {
  font-family: "EB Garamond Bold";
  src: url("../resources/font/EBGaramond-Bold.ttf");
}
@font-face {
  font-family: "EB Garamond";
  src: url("../resources/font/EBGaramond-Regular.ttf");
}
@font-face {
  font-family: "EB Garamond Italic";
  src: url("../resources/font/EBGaramond-Italic.ttf");
}
@font-face {
  font-family: "EB Garamond BoldItalic";
  src: url("../resources/font/EBGaramond-BoldItalic.ttf");
}

.experience-container{
  margin-top: 50px;
}

/* form elements */
.cm-button-group {
  display: flex;
  justify-content: space-between;
}
.cm-button-group.centered {
  justify-content: center;
}
.cm-button-group.stacked {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cm-button-group.start{
  justify-content: flex-start;
}
.cm-button-group.extended .cm-button{
	
	max-width:246px;
}
.help-text,.cm-input-checkbox {
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #b1aaaa;
  margin-bottom: 20px;
}
.cm-input-label .cm-input-text{
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  color: #000000;
  outline: none;
  font-size: 16px;
  width: 100%;
  /* margin-bottom: 20px; */
  font-weight: 300;
  cursor: text;
}
.cm-input {
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  color: #000000;
  outline: none;
  font-size: 16px;
  width: 100%;
  /* margin-bottom: 20px; */
  font-weight: 300;
  cursor: text;
  background: transparent;
  font-family:"ProximaNova",sans-serif;

}
textarea.cm-textarea{
  border: none;
    border: 1px solid #000;
    padding: 10px;
    color: #000000;
    outline: none;
    font-size: 16px;
    width: 100%;
    /* margin-bottom: 20px; */
    font-weight: 300;
    cursor: text;
    background: #fff;
    height: 125px;
    resize: none;
}
.cm-input.cm-input-white,
.cm-input.cm-input-white:focus
{
  border-bottom: 1px solid #fff;
  color: #fff;
}
.cm-input.cm-input-gg{
  border-bottom: 1px solid #b1aaaa;
  font-size: 14px;
  color: #c4b67e;
}
.cm-input.cm-input-gg:focus{
  border-bottom: 1px solid #c4b67e;
}
.cm-input.touched:invalid {
  border-color: #e44b4b;
}
.cm-input:focus {
  border-bottom: 1px solid #000;
}

.cm-input::placeholder {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.cm-input::-webkit-input-placeholder {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}
.cm-input.cm-input-gg::placeholder,
.cm-input.cm-input-gg::-webkit-input-placeholder {
  color: #b1aaaa;
}
.cm-input.cm-input-white::placeholder,
.cm-input.cm-input-white::-webkit-input-placeholder {
  color: #fff;
}
.cm-input-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cm-input-group .cm-input {
  /* height: 100%; */
  display: block;
  margin: 0px;
  /* margin-right: 30px; */
}
.cm-input-group .cm-select {
  margin-right: 30px;
  /* margin-top: 10px; */
}
.cm-input-group .cm-input-label{
  margin-bottom: 0px;
  flex:1;
  margin-right: 30px;
}
.cm-input-group .cm-input-label:last-child {
  margin-right: 0;
}
.cm-input-group.vertical {
  flex-direction: column;
}
.cm-input-group.start {
  justify-content: flex-start;
}

.cm-input-label {
  display: flex;
  margin-bottom: 20px;
  /* margin-top: 10px; */
  align-items: flex-start;
  position: relative;
}
.cm-input-label.cm-input-mini {
  min-width: 70px;
  width: 70px;
  max-width: 70px;
}
.cm-input-label.noMargin {
  margin: 0px;
}
.cm-input-label .cm-input-white + span.cm-placeholder-label{
  color: #fff;
}
.cm-input-label .cm-input-gg + span.cm-placeholder-label{
  color: #c4b67e;
}
.cm-input-label span.cm-placeholder-label {
  position: absolute;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  bottom: 3px;
  left: 0;
  transition: .2s;
  pointer-events: none;
}
.cm-input-label .cm-input:focus + span.cm-placeholder-label,
.cm-input-label .cm-input.touched + span.cm-placeholder-label{
  bottom: 25px;
  font-size: 12px;
}
.cm-input-label a {
  cursor: pointer;
  text-decoration: underline;
}

.disguise-text {
  width: calc(100% - 27px);
  font-family: "ProximaNova", sans-serif;
  font-size: 10px;
  margin-left: 27px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 10px;
}
.disguise-text > a {
  text-decoration: underline;
  cursor: pointer;
}
.disguise-text.collapse {
  margin-left: 2px;
  width: auto;
}

.cm-input-checkbox {
  display: none;
  cursor: pointer;
}
.cm-input-checkbox + span.check-icon {
  width: 17px;
  margin-right: 10px;
  height: 17px;
  display: inline-block;
  background: url("/content/dam/tlc-website/checkbox-active.svg");
}
.cm-input-checkbox:checked + span.check-icon,
.cm-input-checkbox[checked] + span.check-icon {
  background: url("/content/dam/tlc-website/checkbox-active.svg");

}
.cm-input-checkbox {
  display: flex; }
  .cm-input-checkbox input {
    width: 0px;
    height: 0px; }

.md-checkbox {
  position: relative;
  z-index: 0;
  margin: 1em 0;
  text-align: left;
  margin-left: 30px; }
  .md-checkbox.md-checkbox-inline {
    display: inline-block; }
  .md-checkbox label:not(:empty) {
    padding-left: 0.75em; }
  .md-checkbox label:before, .md-checkbox label:after {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    z-index: -1; }
  .md-checkbox label:before {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #c4b67e;
    border-radius: 1px;
    cursor: pointer;
    transition: background .3s; }
  .md-checkbox input[type="checkbox"] {
    outline: 0;
    width: 16px;
    margin: 0 10px 0 0;
    display: inline-flex;
    font-size: inherit;
    width: 0px;
    height: 0px;
    margin: 0px;
    position: absolute;
    left: -30px;
    width: 22px;
    height: 22px;
    opacity: 0; }
    .md-checkbox input[type="checkbox"]:checked + label:before {
      background: url("/content/dam/tlc-website/checkbox-active.svg");
      border: none; }
    .md-checkbox input[type="checkbox"]:checked + label:after {
      -webkit-transform: translate(3px, 5px) rotate(-45deg);
              transform: translate(3px, 5px) rotate(-45deg);
      width: 10px;
      height: 5px;
      border: 1px solid #fff;
      border-top-style: none;
      border-right-style: none; }
    .md-checkbox input[type="checkbox"]:disabled + label:before {
      border-color: rgba(0, 0, 0, 0.26); }
    .md-checkbox input[type="checkbox"]:disabled:checked + label:before {
      background: rgba(0, 0, 0, 0.26); }

/* .cm-form {
  padding: 50px;
  margin: auto;
  overflow-y: scroll;
  overflow-y: overlay;
}
.cm-form:valid .cm--button.primary {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.cm-form:invalid .cm-button.primary {
  color: #cbcbcb;
  cursor: not-allowed;
  pointer-events: none;
}
.cm-form .cm-button.primary {
  display: block;
  margin: 0 auto;
} */

.cm-select {
  position: relative;
}
.cm-select > i.arrow-down{
    position: absolute;
    right: 0;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #000;
}
.cm-select .cm-input {
  pointer-events: none;
}
.cm-select.cm-select-mini{
  width: 70px;
  min-width: 70px;
}
.cm-select-options {
  display: none;
  padding: 0px;
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  left: 0px;
  margin: 0px;
  box-shadow: 0 0 5px 0 rgba(118, 192, 255, 0.2);
  border: solid 1px #e6e6e6;
  z-index: 1;
  list-style-type: none;
}
.cm-select-options > .cm-select-option {
  height: 26px;
  padding: 5px;
  background-color: #fff;
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  width: 100%;
  transition: translate 0.3s;
  color: #000000;
  cursor: pointer;
}
.cm-select-options > .cm-select-option:hover,
.cm-select-options > .cm-select-option.active,
.cm-select-options > .cm-select-option.selected {
  background: #ebf2f8;
}
.cm-select-options.in {
  display: block;
}

/* form elements ends */

.cm-button {
  min-width: 168px;
  padding: 15px 20px 12px 20px;
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c4b67e;
  background: #ffffff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: inline-block;
  /* border-radius: 3px; */
  transition: opacity 0.3s;
  text-align: center;
}
.cm-button.cm-button-sm {
  padding: 10px 15px 7px 15px;
  min-width: 154px;
}
.cm-button.has-icon{
	display: flex;
    align-items: center;
    justify-content: center;
}
.cm-button.has-icon img{
	margin-right:10px;
	margin-top: -3px;
}

.cm-button.primary:not([href]),.cm-button.primary {
  color: #ffffff;
  background: #c4b67e;
}
.cm-button.primary:not([href]):hover,.cm-button:hover {
  text-decoration: none;
  background: #d8ca92;
                            color:#fff;
}
.cm-button-group .cm-button.cm-button-sm {
  margin-right: 10px;
}
.cm-button-group .cm-button {
  margin-right: 30px;
}
.cm-button-group .cm-button:last-child {
  margin-right: 0px;
}

/*
    Title/Heading Styles
*/
.cm-heading p{
	margin-bottom: 0px;
}
h1.cm-heading {
  font-size: 32px;
  font-family: "ProximaNova", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.19;
  color: #000000;
  margin: 0px;
  margin-bottom: 5px;
}
h1.cm-heading.cm-heading-white {
  color: #fff;
}
.cm-heading.cm-heading-gray {
  color: #b1b1b1;
}

h2.cm-heading {
  font-size: 24px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  margin: 0px;
  margin-bottom: 5px;
  color: #000000;
}
.cm-main-heading.with-space-100{
	margin-bottom: 100px;
}

.cm-main-heading.with-space-50{
	margin-bottom: 50px;
}
.cm-text {
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  color: #000000;
}
.cm-text.cm-text-12{
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  color: #000000;
}
.cm-text.cm-text-gray,
.cm-text.cm-text-12.cm-text-gray{
  color: #a4a4a4;
}
.cm-text-16 {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  color: #000000;
}
.cm-text-16.cm-text-gray{
  color: #a4a4a4;
}
.cm-subtext {
  font-size: 12px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 5px;
  color: #b1aaaa;
}

.cm-text-serif {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  line-height: 1.38;
  color: #000000;
}

.cm-link,
.cm-link:hover {
  font-family: "EB Garamond", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.cm-footer-link,
.cm-footer-link:hover {
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.cm-link.underlined,
.cm-link.underlined:not([href]):not([tabindex]){
  text-decoration: underline;
}
.cm-link.cm-link-serif{
  font-family: "EB Garamond", serif;
}

.cm-menu-link ,.cm-menu-link > a  {
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}
/* pagination boostrap overwritten*/
.cm-pagination .page-link,
.cm-pagination .page-link:not([href]):not([tabindex])
{
  cursor: pointer;
  border: none;
  color: #b1aaaa;
  padding: 0 12px;
  padding: 0 12.5px;
}
.cm-pagination .page-item.disabled .page-link{
  color: #b1aaaa;
}
.cm-pagination .page-link:hover{
  color: #c4b67e;
  background: transparent;
  text-decoration: underline;
}
.cm-pagination .page-item.active .page-link{
    color: #c4b67e;
  background-color: transparent;
  text-decoration: underline;
}
.cm-arrow{
  position: relative;
  width: 15px;
  transition: .2s;
  height: 20px;
  display: inline-block;
}
.cm-arrow:hover{
  transition: .3s;
  width: 20px;
}
.cm-arrow::before{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  content: '';
  background: #b1aaaa;
  height: 1px;
  transition: .5s;
}
.cm-arrow::after{
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 8px;
  right: 1px;
  height: 100%;
  content: '';
  border-right: 1px solid #b1aaaa;
  border-bottom: 1px solid #b1aaaa;
  transition: .5s;
  height: 8px;
  transform-origin: center;
}
.cm-plus::after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  right: 1px;
  height: 100%;
  content: '';
  transition: .3s;
  height: 1px;
  transform-origin: center;
  background: #979797;
}
.cm-plus::before{
  position: absolute;
  top: 0px;
  width: 1px;
  right: 0px;
  height: 100%;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  transform-origin: center;
  background: #979797;
}
.cm-plus.is-minus::after,.cm-minus::before{
  position: absolute;
  top: 0px;
  width: 1px;
  right: 0px;
  height: 100%;
  content: '';transform: rotate(0deg);
  transition: .5s;
  height: 1px;
  transform-origin: center;
  background: #979797;
}
.cm-arrow.left::after{
  right: unset;
  left: 1px;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #b1aaaa;
  border-top: 1px solid #b1aaaa;

}
/* helpers */
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-25,h1.mt-25,h2.mt-25{
  margin-top: 25px;
}
.mt-40{
  margin-top: 40px;
}
.mt-50,h1.mt-50,h2.mt-50{
  margin-top: 50px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25,h1.mb-25,h2.mb-25{
  margin-bottom: 25px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px !important;
}
.mb-100{
  margin-bottom: 100px !important;
}
@media screen and (max-width: 767px) {
  h1.cm-heading {
    font-size: 24px;
  }
  h2.cm-heading {
    font-size: 16px;
  }
  .cm-main-heading.with-space-100{
	margin-bottom: 50px;
  }
    .cm-main-heading.with-space-50{
	margin-bottom: 25px;
  }
  .cm-text-serif {
    font-size: 14px;
  }
  .cm-link,.cm-link:hover{
    font-size: 14px;
  }
  .cm-button.cm-wide-mobile {
    width: 100%;
    max-width: 245px;
    margin: 0 auto;
    display: block;
  }
  .cm-button {
    padding: 9px 15px;
  }
  .cm-button-group.vertical-sm{
    flex-direction: column;
    align-items: center;
  }
  .cm-button-group.vertical-sm .cm-button{
    margin: 0;
    margin-bottom: 25px;
  }
  .cm-button-group.extended{
  	justify-content:center;
  	align-items:center;
  	flex-direction:column;
  }
.cm-button-group.extended .cm-button{
	margin-bottom:25px;
	flex:1;
	margin-right: 0;
	width: 100%;
}
  .cm-text-16 {
    font-size: 14px;
  }
  .cm-input,.cm-input-text,.cm-select-option{
    font-size: 14px;
  }
  .cm-input-label span.cm-placeholder-label,
  .cm-input-label .cm-input-text{
    font-size: 12px;
    line-height: 22px;
  }
  .cm-input::placeholder {
    font-size: 12px;
  }

  .cm-input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .mb-25-xs{
    margin-bottom: 25px !important;
  }
  .mt-25-xs{
    margin-top: 25px !important;
  }
}
@media screen and (max-width: 767px){
  .mb-25-sm{
    margin-bottom: 25px !important;
  }
  .mt-25-sm{
    margin-top: 25px !important;
  }
  .mb-50-sm{
    margin-bottom: 50px !important;
  }
}