.paginationjs ul { padding: 0px; display: flex; justify-content: flex-end; }
.paginationjs ul li { list-style: none;
    padding: 0 12px; display: flex; justify-content: start; }

.paginationjs ul li a { 
    position: relative;
    display: block;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    cursor pointer;
    border: none;
    color: #b1aaaa;
}
.paginationjs ul li.paginationjs-prev a, .paginationjs ul li.paginationjs-next a { font-size: 0px;     position: relative;
    width: 15px;
    transition: .2s;
    height: 20px;
    display: inline-block; }
.paginationjs ul li.paginationjs-prev a:before, .paginationjs ul li.paginationjs-next a:before {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    content: '';
    background: #b1aaaa;
    height: 1px;
    transition: .5s;
}
.paginationjs ul li.paginationjs-prev a:after, .paginationjs ul li.paginationjs-next a:after {
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 8px;
    right: 1px;
    height: 100%;
    content: '';
    border-right: 1px solid #b1aaaa;
    border-bottom: 1px solid #b1aaaa;
    transition: .5s;
    height: 8px;
    transform-origin: center;
}
.paginationjs ul li.paginationjs-prev a:after {
    right: unset;
    left: 1px;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #b1aaaa;
    border-top: 1px solid #b1aaaa;
}
