body{
  margin: 0;
}
.divider{
  display: block;
  height: 1px;
  background: #a1a1a1;
  width: 100%;
}
.cm-wrapper{
  margin: auto;
  max-width: 1190px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.cm-outer-wrapper{
  margin: auto;
  max-width: 1440px;
  width: 100%;
}
.cm-padding-block{
  padding-top: 0px;
  /* overflow: hidden; */
  padding-bottom: 100px;
}
.cm-bottom-padding-block{
  padding-bottom: 100px;
}
.cm-top-padding-block{
  padding-top: 100px;
}
.main-body-container{
  padding-top: 80px;
}
.full-image{
  width: 100%;
}
/* writting this carousel globally as component wise it was not working */
.cm-owl-carousel .owl-item .cm-owl-carousel-image-block{
  height: 100%;
  margin-top:30%;
  margin-bottom:25px;
}
.cm-owl-carousel .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block{
	padding-top:105%;
	margin-top:0;
	}
.cm-owl-carousel .owl-item.active ~ .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block, 
.cm-owl-carousel .owl-item.active .cm-owl-carousel-image-block{
	padding-top:52.7%;
	margin-top:30%;
}
.not-centered.cm-owl-carousel .owl-item.active .cm-owl-carousel-image-block{
	padding-top:105%;
	margin-top:0;
}

.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::before,
.cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block::after
{
  transform: scaleY(0);
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:195px;
  outline:none;
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-prev span,
.cm-owl-carousel.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:195px;
  outline:none;
}
.cm-owl-carousel.owl-carousel .owl-nav button.owl-next.disabled ,
 .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev.disabled{
	display:none;
}
/* carousel type 3 owl  */
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:46%;
  outline:none;
}
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev span,
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
.cm-carousel-type-3.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:31%;
  outline:none;
}

/* teaser carousel styling */
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top:38%;
  outline:none;
}
.cards-carousel.owl-carousel .owl-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  pointer-events:none;
  height: calc(20.3vw - 60px);
  /* height: calc(37.3vw - 30px); */
  width: 100%;
}
.cards-carousel.owl-carousel .owl-nav button.owl-prev,
.cards-carousel.owl-carousel .owl-nav button.owl-next{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: calc(50% - 25px);
  pointer-events:all;
  outline: none;
   background-image: url('/content/dam/tlc-website/slider-arrow-trans.svg');
}
.cards-carousel.owl-carousel .owl-nav button.owl-next::after{
	content:'';
	width:0;
	height:0;
	position:absolute;
	overflow:hidden;
	visibility:hidden;
	background-image: url('/content/dam/tlc-website/slider-arrow-1.svg');
}

.cards-carousel.owl-carousel .owl-nav button.owl-prev:hover,
.cards-carousel.owl-carousel .owl-nav button.owl-next:hover{
	background-image: url('/content/dam/tlc-website/slider-arrow-1.svg');
}
.cards-carousel.owl-carousel .owl-nav button.owl-prev{
/*   background-image: url('/content/dam/tlc-website/slider-arrow-trans.svg');
 */  background-size: 100% 100%;
  width: 30px;
  left: 0px;
  transform: translateY(-50%);
}
.cards-carousel.owl-carousel .owl-nav button.owl-next{
  /* background-image: url('/content/dam/tlc-website/slider-arrow-1.svg'); */
  background-size: 100% 100%;
  width: 30px;
  right: 0px;
  transform: translateY(-50%) rotate(180deg);
}

.cards-carousel.owl-carousel .owl-nav button.owl-prev.disabled,
.cards-carousel.owl-carousel .owl-nav button.owl-next.disabled{
  display: none;
}
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev span,
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next span,
.cards-carousel.owl-carousel .owl-nav button.owl-prev span,
.cards-carousel.owl-carousel .owl-nav button.owl-next span{
  display: none;
}
/* .cards-carousel .owl-item{
  padding-right: 15px;
   padding-left: 15px;
} */
/* .cards-carousel .owl-item:first-child{
   padding-left: 0px;
}
.cards-carousel .owl-item:last-child{
  padding-right: 0px;
} */
/* .cards-carousel.owl-carousel .owl-stage-outer{
  margin: 0 -15px;
} */
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next{
  content: '';
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #c4b67e;
  clear: both;
  transform: rotate(-90deg);
  position: absolute;
  right: -40px;
  top:38%;
  outline:none;
}

.teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev.disabled,
.teaser-owl-carousel.owl-carousel .owl-nav button.owl-next.disabled{
  border-top-color: #ccc;
}

.cm-owl-carousel .owl-stage{
  display: flex;
  align-items: flex-start;
}


/* Dropdown style for hotel list*/
.dropdown-type1 + .custom-combobox .custom-combobox-input{
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 46px;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-family: "ProximaNova", sans-serif;
    font-weight: 300;
}
.ui-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  /* width: 100%; */
  box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  max-height: 40vh;
  overflow: scroll;
  overflow: overlay;
  height: auto;
  z-index: 5;
}

.ui-menu-item{
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: "ProximaNova", sans-serif;
  font-weight: 300;
  color: #000;
  padding: 0;
}
.ui-menu-item div{
  padding: 5px 10px;
}
.ui-menu-item div:hover,
.ui-menu-item .ui-state-active{
  background-color: #eee;
}
.ui-helper-hidden-accessible{
  display: none;
}
/* ui menu scrollbar */
.ui-menu::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ui-menu::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.ui-menu::-webkit-scrollbar-thumb {
  background: #dddddd;
}

/* Handle on hover */
.ui-menu::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
/* .ui-widget input{
  font-family: "ProximaNova", sans-serif !important;
} */
.dropdown-type1.dark + .custom-combobox .custom-combobox-input{
  color: #b1aaaa;
  border-color: #b1aaaa;
}
.dropdown-type1.dark + .custom-combobox .custom-combobox-toggle::after{
  border-top: 8px solid #b1aaaa;
}
.dropdown-type1.dark  + .custom-combobox .custom-combobox-input::placeholder,
.dropdown-type1.dark  + .custom-combobox .custom-combobox-input::-webkit-input-placeholder{
  color: #b1aaaa;
}
.dropdown-type1 + .custom-combobox .custom-combobox-input::placeholder {
    color: #fff;
}

.dropdown-type1 + .custom-combobox .custom-combobox-input::-webkit-input-placeholder {
    color: #fff;
}

.custom-combobox{
  position: relative;
  height: 100%;
  font-size: 0;
  display: block;
  width: 100%
}
.custom-combobox-toggle{
  width: 10px;
  height: 100%;
  display: inline;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
.dropdown-type1 + .custom-combobox .custom-combobox-toggle::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ffffff;
  clear: both;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  outline:none;
}

/* cities dropdown style */
.dropdown-type2 + .custom-combobox .custom-combobox-input{
  background: transparent;
    box-shadow: none;
    border: none;
    /* border-bottom: 1px solid #b1aaaa; */
    width: 100%;
    height: 26px;
    color: #b1b1b1;
    outline: none;
    /* font-family: "ProximaNova", sans-serif; */
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
    width: 45px;
}
.dropdown-type2 + .custom-combobox .custom-combobox-input:focus{
  border-color: #c4b67e;
}
.dropdown-type2 + .custom-combobox .custom-combobox-input::placeholder {
    color: #b1aaaa;
}

.dropdown-type2 + .custom-combobox .custom-combobox-input::-webkit-input-placeholder {
    color: #b1aaaa;
}

.dropdown-type2 + .custom-combobox .custom-combobox-toggle::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #b1aaaa;
  clear: both;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  outline:none;
}

.dropdown-type2 + .custom-combobox .custom-combobox-toggle{
  visibility: visible;
}


/* form dropdown style */
.dropdown-type-form + .custom-combobox .custom-combobox-input{
  background: transparent;
    box-shadow: none;
    padding-bottom: 5px;
    font-family: "ProximaNova", sans-serif;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color: #000000;
    outline: none;
    font-size: 16px;
    width: 100%;
    /* margin-bottom: 20px; */
    font-weight: 300;
    cursor: text;
    background: transparent;
}
.dropdown-type-form + .custom-combobox .custom-combobox-input:focus{
  border-color: #c4b67e;
}
.dropdown-type-form + .custom-combobox .custom-combobox-input::placeholder {
    color: #000;
}

.dropdown-type-form + .custom-combobox .custom-combobox-input::-webkit-input-placeholder {
    color: #000;
}

.dropdown-type-form + .custom-combobox .custom-combobox-toggle::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
  clear: both;
  position: absolute;
  right: 0px;
  top:50%;
  transform: translateY(-50%);
  outline:none;
}

.dropdown-type-form + .custom-combobox .custom-combobox-toggle{
  visibility: visible;
}



.is-hidden{
  display: none !important;
}

.visible-mobile{
  display: none !important;
}
.hidden-mobile{
  display: inherit !important;
}
.lets-chat-link img{
  height: 20px;
  margin-right: 5px;
}
.height-100{
  height: 100%;
}
.cm-input-group .ui-widget{
  width: 100%;
}

/* expereince carousel new */
.owl-exp.owl-carousel{
	/* background: #fff; */
}
.cm-carousel-type2 .item{
  width: 65vw;
}

.owl-exp.owl-carousel .owl-item.center.active .exp-carousel-caption {
  opacity: 1;
}
.owl-exp.owl-carousel .owl-nav .owl-prev{
    background: #fff;
    width: 40px;
    height: 80px;
    transform: none;
    border-radius: 0 40px 40px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    outline: none;
}
.owl-exp.owl-carousel .owl-nav .owl-next{
  background: #fff;
  width: 40px;
  height: 80px;
  transform: none;
  border-radius:  40px 0 0 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  outline: none;
}
.owl-exp.owl-carousel .owl-nav .owl-prev:after{
  content:'';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid #DDDBD6 ;
  clear: both;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  left: 6px;
  top: 50%;
  outline: none;
}

.owl-exp.owl-carousel .owl-nav .owl-prev:hover:after,
.owl-exp.owl-carousel .owl-nav .owl-next:hover:after{
  border-top-color:#c4b67e;
}
.owl-exp.owl-carousel .owl-nav .owl-next:after{
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 13px solid #DDDBD6;
  clear: both;
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 50%;
  outline: none;
}
/* expereince carousel new */

@media only screen and(min-width: 1400px )
{
	.cm-owl-carousel .owl-item .cm-owl-carousel-image-block{
 /*  height: 540px; */
  margin-top:0px;
	}
 .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev , .cm-owl-carousel.owl-carousel .owl-nav button.owl-next{
/*  top:257px; */
 }
}
@media only screen and (min-width:1260px){
	.cards-carousel.owl-carousel .owl-nav button.owl-prev{
	left:-45px;
/* 	background-image: url('/content/dam/tlc-website/slider-arrow-1.svg');
 */}
	.cards-carousel.owl-carousel .owl-nav button.owl-next{
		right:-45px;
/* 		background-image: url('/content/dam/tlc-website/slider-arrow-1.svg');
 */	}
}
@media only screen and (min-width:1330px){
	.cards-carousel.owl-carousel .owl-nav button.owl-prev{
	left:-65px;
}
.cards-carousel.owl-carousel .owl-nav button.owl-next{
	right:-65px;

	}
}

@media only screen and (max-width: 767px){

/* expereince carousel new */	
.owl-exp.owl-carousel .owl-nav .owl-next,
  .owl-exp.owl-carousel .owl-nav .owl-prev{
    top: 280px;
    transform: translateY(0px);
  }
/* expereince carousel new */	
	
	.cm-owl-carousel.owl-carousel .owl-nav button.owl-next, .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
    display:none;
  }
  
 .cm-owl-carousel .owl-item.active ~ .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block,
 .cm-owl-carousel .owl-item.active ~ .owl-item.active .cm-owl-carousel-image-block{
	padding-top:52.7%;
	margin-top:30%;
	}
 .cm-owl-carousel .owl-item.active.center .cm-owl-carousel-image-block{
	padding-top:105%;
	margin-top:0;
	}
  .cards-carousel.owl-carousel .owl-nav{
    height: calc(37.3vw - 30px);
  }
  .visible-mobile{
    display: inherit !important;
  }
  .hidden-mobile{
    display: none !important;
  }
  .cm-wrapper.cm-wrapper-collapse-mobile{
    padding-left: 0;
    padding-right: 0;
  }
  .main-body-container{
    padding-top: 50px;
  }
  .cm-padding-block{
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .cm-top-padding-block{
    padding-top: 50px;
  }
  body{
    overflow-x: hidden;
  }
  /* carousels */

  .cm-carousel-type-3.owl-carousel .owl-nav button.owl-prev{
    left: 0;
  }
  .cm-carousel-type-3.owl-carousel .owl-nav button.owl-next{
    right: 0;
  }
  
  .dropdown-type1 + .custom-combobox .custom-combobox-input{
    font-size: 12px;
    height: 25px;
  }
  .dropdown-type2 + .custom-combobox .custom-combobox-input{
    font-size: 12px;
  }
  .cm-inner-wrapper{
    width: 100%;
    max-width: calc(100vw - 170px);
    margin: auto;
    min-width: 245px;
    padding: 0;
  }
  .no-padding-sm{
    padding: 0;
  }
  .cm-order-sm-1{
    order: 1;
  }
  .cm-order-sm-2{
    order: 2;
  }
  .ui-menu-item{
    font-size: 12px;
  }
  /* carousel styling mobile */
/*   .cm-owl-carousel .owl-item .cm-owl-carousel-image-block,
  .cm-owl-carousel .owl-item.center.active .cm-owl-carousel-image-block
  {
    height: 300px;
  } */
  .cm-owl-carousel.owl-carousel .owl-nav button.owl-next,
  .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
    display: none;
  }
}

@media only screen and (max-width:1260px){

  .teaser-owl-carousel.owl-carousel .owl-nav button.owl-next, .cm-owl-carousel.owl-carousel .owl-nav button.owl-next{
    right: 0;
  }

  .teaser-owl-carousel.owl-carousel .owl-nav button.owl-prev, .cm-owl-carousel.owl-carousel .owl-nav button.owl-prev{
    left: 0;
  }
  
}
/*Model Popup For Reserve Cta*/
.modal-background {
    background: #fff;
    opacity: 0.9;
  }
  .modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.72);
    z-index: 99999;
    opacity: 0;
    padding: 40px 0px;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-y: overlay;
    transition-delay: 0.1s;
    max-width: 100vw;
    max-height: 100vh;
  }
  .modal .modal-body {
    width: auto;
    position: relative;
    margin: auto;
    padding: 50px 100px;
    border-radius: 0px;
    background: #fff;
    transition: 0.3s;
    transition-delay: 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
    max-width: 560px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  }
  .modal .modal-body .modal-heading {
    /* font: 700 14px "Open Sans", sans-serif;
    font-size: 28px;
    color: #2d2d2d; */
    margin-bottom: 40px;
  }
  .modal .modal-body .modal-heading.subheading {
    font: 600 14px "Open Sans", sans-serif;
    font-size: 28px;
    margin: 0px 0px 20px 0px;
  }
  .modal .modal-body .modal-content {
      border: none;
  }
  .modal .modal-body .modal-content.scrollable {
    padding: 20px 10px;
    border-radius: 3px;
    border: solid 1px #f2f2fd;
    overflow-y: scroll;
    height: 340px;
    font-size: 12px;
    text-align: left;
  }
  .modal .modal-body .cm-modal-close {
    right: 25px;
    top: 25px;
    position: absolute;
    cursor: pointer;
  }
  .modal .modal-body.noPadding {
    padding: 0px;
  }
  .modal .modal-body .modal-padding-wrapper {
    padding: 40px 100px;
  }
  .modal .modal-footer {
    background: #f2f7fd;
    padding: 20px 60px;
    width: 100%;
    max-width: 590px;
  }
  .modal:target, .modal.modal-active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.3s;
    transition-delay: 0s;
  }
  .modal:target .modal-body, .modal.modal-active .modal-body {
    transition: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  @media (max-width: 767px) {
    .modal {
      padding: 0px;
      flex-direction: column;
    }
    .modal .modal-body {
      width: 100%;
      height: 100vh;
      top: 0px;
      margin-top: 0px;
      padding: 40px 20px;
    }
    .modal .modal-body .back {
      left: 20px;
    }
    .modal .modal-body .modal-heading {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .modal .modal-body .modal-padding-wrapper {
      padding: 40px 20px;
    }
    .modal .modal-footer {
      position: relative;
    }
  }
  
  @media only screen and (max-width: 578px){
/*   .cm-owl-carousel .owl-item .cm-owl-carousel-image-block{
    padding-top: 83.75%;
    margin-top: 30%;
    } */ 
    }
  
  .p-mtb-0 p{
  	margin-top: 0px !important;
  	margin-bottom: 0px !important;
  }