<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Heading Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='tlc-aem-web.not-Found'}"/>
<div class= "${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
	<div class="cm-wrapper cm-padding-block error-wrapper">
    <div class="error-content row">
      <div class="col-md-6 offset-md-3">
        <!-- Rich text medium -->
         <div data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>

      </div>
    </div>
</div>
</div>
