.cm-footer{
 /*  border-top: 1px solid #e8e8e8; */
  width: 100%;
}
.footer-bottom{
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.top-footer{
  width: 100%;
}

.footer-sticky-links{
  font-size: 0;
}
.footer-icon{
  display: inline-block;
  margin-left: 5px;
}
.footer-links:first-child{
  margin-right: 20px;
}

.footer-links{
  font-size: 14px;
  text-decoration: underline;
}
.footer-links:hover{
	text-decoration: underline;
	color: #c4b67e ;
	font-size: 14px;
}
.footer-links img{
  margin-right: 5px;
  display: inline-block;
  filter:grayscale(100%);
}
.footer-links:hover img{
  filter:grayscale(0);
}
.footer-links svg{
	margin-right: 5px;
	width:17px;
	height:auto;
    display: inline-block;
	color:#B1AAAA;
}
.footer-links:hover svg{
	color: #c4b67e ;
}
/* hotel list footer */
.custom-hotel-list{
  border: 1px solid #979797;
  padding-top: 40px;
  margin: 70px 0 40px 0;
  position: relative;
}
.custom-hotel-list-logo{
  width: 15.5%;
  position: absolute;
  top: -30px;
  left: calc(50% - 7.8%);
  background: #fff;
  text-align: center;
  height: 60px;
}
.custom-hotel-list-logo img{
  height: 100%;
  width: auto;
}
.custom-hotel-row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.custom-hotel-row a{
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
}
.custom-hotel-row img{
  max-height: 60px;
}
.cm-menu-link>a:hover{ 
	color:#c4b67e;
	text-decoration:underline;
}
.bottom-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:15px;
}
.bottom-links p{
  margin-bottom: 0;
}
   .footer-section{
 /*    padding-top: 25px; */
    margin-bottom: 0;
  } 
.list-link-col:nth-child(1),
.list-link-col:nth-child(2),
.list-link-col:nth-child(3){
margin-bottom:15px;
}
@media only screen and (max-width:1040px){
  .custom-hotel-row img{
    max-height: 50px;
  }
}
@media only screen and (max-width:940px){
  .custom-hotel-row img{
    max-height: 45px;
  }
  .custom-hotel-row a{
    padding: 0 20px;
  }
  .custom-hotel-list-logo{
    height: 44px;
    top: -22px;
  }
}

@media only screen and (max-width:767px){

  .footer-sticky-links{
/*  position: absolute;
 	bottom: 10px;
  	left: 15px; */
  	width: 100%;
    text-align: center;
    margin: 25px 0;
  }
  .top-footer{
    padding: 0px 0px 0px 0px;
  }
  .top-footer-image{
    padding: 0;
  }
  .footer-bottom{
    padding: 50px 0px; 
    border-top: 1px solid #e8e8e8;
  }
/*   .footer-sticky-links{
    position: absolute;
    top: 118px;
    left: 15px;
    margin-top: 0;
    width: 100%;
    height: 30px;
    bottom: unset;
    
  } */
   .custom-hotel-row img{
    max-height: 40px;
  }
  .custom-hotel-row a{
    padding: 0 10px;
  }
  .custom-hotel-row {
    padding: 30px 0;
  }
  .custom-hotel-list-logo{
    height: 34px;
    top: -17px;
  }
  /* section text css*/
   .footer-section{
 /*    padding-top: 25px; */
    margin-bottom: 0;
  } 
}

@media only screen and (max-width:675px){
  .custom-hotel-row img{
    max-height: 30px;
  }
  .custom-hotel-row a{
    padding: 0 12px;
  }
  .custom-hotel-list-logo{
    height: 30px;
    top: -15px;
  }
}
@media only screen and (max-width:560px){
  .custom-hotel-row img{
    max-height: 20px;
  }
  .custom-hotel-row a{
    padding: 0 10px;
  }
  .custom-hotel-row {
    padding: 20px 0;
  }
  .custom-hotel-list-logo{
    height: 20px;
    top: -10px;
  }
}

