<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Terms and Condition Component" class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.termsandCondition'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.TermsandConditionsModel">
    <div class="cm-wrapper cm-padding-block cm-top-padding-block" id="terms-conditions">
        <div class="terms-content row">
            <div class="col-md-4 hidden-mobile">
                <ul class="section-links" data-sly-list="${model.termsCondList}">
                        <li>
                            <a data-href="#${item.parsysId}" class="cm-link section-link-item ">${item.title}</a>
                        </li>
                </ul>
            </div>
            <div class="col-md-8 " data-sly-list="${model.termsCondList}">
                <!-- Rich text medium -->
                <h2 class="cm-heading mb-25 mt-50 terms-section-heading" id="${item.parsysId}">${item.title}</h2>
                <div  data-sly-resource="${@path=item.parsysId, resourceType='wcm/foundation/components/parsys'}">
                </div>
            </div>
        </div>
    </div>
</sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.js @ categories='tlc-aem-web.termsandCondition'}" />