<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Membership Terms Component" class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories=['tlc-aem-web.carouselGeneric' , 'tlc-aem-web.termsandCondition']}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.MembershipTermsModel">
	
	<sly data-sly-test="${model.certificateDetail.certificateRedeemImage}"> 
	
		<div class="cm-type-1 cm-carousel" >
			<div id="cm-membership-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				<div class="carousel-item">
					<div class="cm-banner ${!wcmmode.edit ? 'banner-height-Calc':''} cm-type-1 ">
						<img class="cm-banner-carousel-image" src="${model.certificateDetail.certificateRedeemImage}" alt=""> 
						<div class="cm-banner-overlay"></div>
					</div>
				</div>		
				</div>
			</div>
		</div>
		<h1 class="cm-heading text-center mt-50 mb-50"> ${model.certificateDetail.certificateName} </h1>
	
	</sly>
	
   <div class="cm-wrapper mt-50 " id="terms-conditions" data-termsConditions-object="${model.termsAndConditionsList}">
	<div class="terms-content row">

		<div class="col-md-4 hidden-mobile">
			<ul class="section-links">
				<li><a data-href="#groupFeature1" class="cm-link section-link-item active">${properties.groupFeature1}</a></li>
				<li><a data-href="#groupFeature2" class="cm-link section-link-item">${properties.groupFeature2}</a></li>
			</ul>
		</div>

		<div class="col-md-8 ">
				<h2 class="cm-heading mb-25 terms-section-heading" id="groupFeature1">${properties.groupFeature1}</h2>
				<ol data-sly-list="${model.termsAndConditions.group1Features}">
					<li>${item}</li>
				</ol>

				<h2 class="cm-heading mb-25 terms-section-heading" id="groupFeature2">${properties.groupFeature2}</h2>
				<ol data-sly-list="${model.termsAndConditions.group2Features}">
					<li>${item}</li>
				</ol>
		</div>
		
	</div>
</div>
</sly>