.cm-banner {
	/* min-height: 500px; */
	/* height: calc(100vh - 80px); */ /* this was removed from here & added this in new class bcoz of issue in edit mode */
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* min-height: 680px; */
	/* height: 100%; */
	max-height: unset;
	object-fit: cover;
	width: 100%;
	background: #ddd;
}
.banner-height-Calc
	{
	height: 480px; 
 	max-height: calc(100vh - 80px); 
	/* height: 680px; */
	/* height: calc(100vh - 80px);
	min-height: 500px; */
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 500px;
	/* height: 100%; */
	max-height: unset;
	object-fit: cover;
	width: 100%;
	background: #ddd;
}
/* image style */
.cm-banner.cm-type-1 >img, .cm-banner.cm-type-1-image, .cm-banner.cm-type-1 video
	{
	/* height: 680px; */
	height: calc(100%);
	object-fit: cover;
	width: 100%;
	background: #ddd;
	max-height: unset;
}
/* banner carousel caption/title */
.cm-banner.cm-type-1 .carousel-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 1;
	transition: 1s;
	transition-delay: .5s;
	z-index: 1;
	max-width: 1190px;
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	padding: 0 20px;
}
.cm-banner.cm-type-1 .topAlign {
	top : 20px;
	justify-content: flex-start;
}
.cm-banner.cm-type-1 .centerAlign {
	justify-content: center;
}
.cm-banner.cm-type-1 .bottomAlign {
	bottom: 20px;
	justify-content: flex-end;
}
.cm-banner.left-aligned .carousel-caption {
	align-items: flex-start;
}

.cm-banner.right-aligned .carousel-caption {
	align-items: flex-start;
}

.cm-banner.center-aligned .carousel-caption {
	align-items: center;
}

.cm-banner.cm-banner-fixed {
	height: 680px;;
}

.cm-banner-image {
	height: 100%;
	/* min-height: 500px; */
	position: absolute;
	left: 0;
	top: 0;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

h2.cm-banner-title , h1.cm-banner-title {
	margin-bottom: 25px;
}

.cm-banner-title, .cm-banner-subtitle, .cm-banner-desc {
	color: #fff;
	font-weight: 300;
}

.cm-banner-action {
	margin-top: 50px;
}

.cm-banner .cm-banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 0;
}

.cm-banner-content-block {
	z-index: 1;
}

.cm-banner-is-hidden {
	display: none;
}



/* type 2 */
.cm-type-2 {
	position: relative;
}

.cm-type-2 .cm-banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

.cm-type-2 img {
	height: 100%;
	min-height: 500px;
	object-fit: cover;
	width: 100%;
}

.cm-type-2 .carousel-caption-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	max-width: 978px;
	width: calc(83.33% - 10px);
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: flex-end;
}

.cm-type-2.right-aligned .carousel-caption-block {
	justify-content: flex-end;
}

.cm-type-2.left-aligned .carousel-caption-block {
	justify-content: flex-start;
}

.cm-type-2.center-aligned .carousel-caption-block {
	justify-content: center;
}

.cm-type-2 .carousel-caption {
	position: relative;
	width: 320px;
	text-align: left;
	background: #fff;
	padding: 50px 27px;
	z-index: 1;
	left: unset;
	top: unset;
	bottom: unset;
	transform: none;
	right: unset;
	/* opacity: 0; */
	transition: 1s;
	transition-delay: .3s;
	margin: unset;
}

.cm-type-2 .carousel-caption h2, .cm-type-2 .carousel-caption p {
	color: #000;
	margin-bottom:0;
}
.cm-type-2 .caption-text{
	margin-top:25px;
}
@media only screen and (max-width: 767px) {
	.cm-banner-content-block {
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: calc(100% - 40px);
		min-width: 245px;
		position:absolute;
	}
	.cm-banner {
		height: 280px;
		min-height: unset;
	}
	.cm-banner-title, .cm-banner-subtitle, .cm-banner-desc{
		width: 100%;
		max-width:unset;
	}
	.cm-banner.cm-type-1 .carousel-caption{
		position:relative;
		width:100%;
		margin:0;
	}
	.cm-banner.cm-type-1 .topAlign {
		top : 20px;
		justify-content: flex-start;
	}
	.cm-banner.cm-type-1 .centerAlign {
		justify-content: center;
	}
	.cm-banner.cm-type-1 .bottomAlign {
		bottom: 20px;
		justify-content: flex-end;
	}
}