<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Blog listing Component"></div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.blog-listing'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.BlogListingModel">

    <div class="cm-wrapper cm-wrapper-collapse-mobile ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}" 
    	 id="listingCategory" data-attr-tagList="${model.sectionTagsJson}" data-attr-pageList="${model.blogPagesJson}">
	
	<div class=" filter-links">
            <ul class="blog-categories" id="categoryitem" data-sly-list="${model.sectionTags}">
                <li class="blog-category" data-attr-val="${item.tagValue}">${item.title}</li>
            </ul>
    </div>
	<script id="handlebars-demo" type="text/x-handlebars-template">
            {{#each this}}
        	<div class="cm-blog-item right-aligned">         
                <div class="row">
                    <div class="col-md-6 blog-thumbnail-image-block">
					<div class="blog-thumbnail-image-aspect">
                        <img src="{{this.thumbnailImage}}" alt="" class="blog-thumbnail-image">
					</div>                   
 					</div>
                    <div class="col-md-1 col-lg-2 spacer"></div>
                    <div class="col-md-4 col-lg-3  blog-item-content">
                        <div class="blog-item-content-block">
                            <h2 class="cm-heading caption-title mb-50 mb-25-sm">{{this.heading}}</h2>
                            <p class="cm-text-serif caption-text">
                                {{item.date}}
                            </p>
                            <p class="cm-text-serif caption-text">
                                {{this.description}}
                            </p>
                            <a href="{{this.pageUrl}}" class="cm-link  cm-link-serif">Read More</a>
                        </div>
                    </div>
                    <!-- overlay for banners  -->
                    <div class="cm-banner-overlay"></div>
                </div>    
       	  </div>
        {{/each}} 
    </script>
	<div class="" id="page-list"></div>
</div>
</sly>