<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Carousel Component"></div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.carouselGeneric'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.CarouselModelNew"
	 data-sly-use.bannerTemplate="../banner/bannerTemplate.html">
<div class="${properties.classType} ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
	<div class="cm-padding-block">
	<div class="${properties.bannerType == 'cm-type-2' ? 'cm-carousel-type2' : ''}" >
		<div class="${properties.bannerType == 'cm-type-1' ? 'cm-type-1' : 'cm-type-2'}  cm-carousel" data-bannertype="${properties.bannerType}">
			<div id="cm-generic-carousel" class="carousel slide" data-ride="carousel">
				
				<ol class="carousel-indicators"> </ol>
				<div class="carousel-inner" data-sly-list="${model.bannerList}">
					<sly data-sly-test="${model.bannerList}">
					<div class="carousel-item">
						<!--  BANNER Included-->
						<sly data-sly-call="${bannerTemplate.bannerTemplate @ model = item}" />
						<!-- END BANNER -->
					</div>
					</sly>
				</div>

			</div>
			<sly data-sly-test="${properties.nav}">
			<sly data-sly-test="${model.bannerList.size>1}"> 
			<a class="carousel-control-prev" href="#cm-carousel0" role="button" data-slide="prev"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
				<g fill="none" fill-rule="evenodd" transform="translate(-41)">
				<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
            	<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
        		</g>
      			</svg> 
      			<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next" href="#cm-carousel0" role="button" data-slide="next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
          	<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
             <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
             <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
          	</g>
        	</svg> 
        	<span class="sr-only">Next</span>
			</a> 
			</sly>
			</sly>
		</div>
	</div>
	</div>
</div>
</sly>