.cm-links-list {
	/* min-height:88px; */
	list-style-type: none;
	padding: 0;
	margin: 0;
}


@media ( max-width : 575px) {
	.cm-links-list {
		min-height:unset;
		/* margin-bottom: 40px; */
	}
}