<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure offers and events Listing Component" class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.experienceCarousel'}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.OffersEventsListingModel">
<sly data-sly-test="${model.offerEventsList}">

<h1 class="cm-heading cm-main-heading with-space-50 text-center" data-sly-test="${model.offerEventsList}">
	${inheritedPageProperties.OffersAndEventsHeadingText} ${model.detailpagelayout.title} </h1>
</sly>
<sly data-sly-test="${model.offerEventsList}">
<div class="cm-padding-block">
	<div class="cm-carousel-type2">
		<div id="carousel-type-offers"
			class="carousel slide carousel-type-two " data-ride="carousel">
			<div class="carousel-inner" data-sly-list="${model.offerEventsList}">
				<!-- carousel type 2 item -->
				<div class="carousel-item ${itemList.first ? 'active' : ''}">
					<img class="d-block w-100" src="${item.image}"
						alt="${item.imageAltText}">
					<div class="carousel-type-two-caption-block">
						<div class="carousel-caption ">
							<h2 class="cm-heading caption-title">${item.descriptionSmall @context='html'}</h2>
							<p class="cm-text-serif caption-text">${item.descriptionMedium @context='html'}</p>
							<a href="${item.pageUrl}" class="cm-button primary caption-cta cm-wide-mobile" data-sly-test="${inheritedPageProperties.discoverMoreText}">
								${inheritedPageProperties.discoverMoreText} </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<sly data-sly-test="${model.offerEventsList.size > 1} "> 
		<a class="carousel-control-prev" href="#carousel-type-offers"
			role="button" data-slide="prev"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">                
			<g fill="none" fill-rule="evenodd" transform="translate(-41)">                   
			 <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />                    
			 <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />               
			  </g>    </svg>
			<span class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carousel-type-offers" role="button" data-slide="next"> 
		<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">                
		<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">                    
		<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />                    
		<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />               
		 </g>     </svg>
			<span class="sr-only">Next</span>
		</a></sly>
		<div class="cm-banner-overlay"></div>
	</div>
</div>
</sly>
</sly>