<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Become A Member Banner"></div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.all @ categories='tlc-aem-web.becomeAMemberBanner'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.BannerModel">
<div class="cm-padding-block">
	<div class="cm-wrapper">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<sly data-sly-resource="${'heading' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
			</div>
		</div>
	</div> 
	<!-- <div class=" membership-container"> -->
		<div class="membership-section-wrapper ${!(wcmmode.edit || wcmmode.preview) ? 'membership-section-wrapper-publish-mode':''}"> 
			<div class="membership-banner">
				<img src="${model.imgPath}" class="membership-banner-image" alt="${model.altText}" srcset="">
			</div>
			<div class="membership-form-block align-right">
				<div class="membership-form">
					<sly data-sly-resource="${'member-form-in-banner' @ resourceType='/apps/tlc-web-platform/components/content/memberForm'}"></sly>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
</sly>
