<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure List Of Teasers Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.listOfTeasers'}" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.ListOfTeasersModel">

<div class= "cm-wrapper cm-padding-block  ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
<div class='row'>
<div class='col-md-10 offset-md-1'>
<sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
</div>
</div>

<div class="cm-teasers-list-block">
  <ul class="cm-teasers-list  owl-carousel teaser-owl-carousel owl-theme"  data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
    <sly data-sly-list="${model.teasers}">
    <!-- teaser item -->
    <li class="item cm-teasers-list-item">
      <div class="cm-teaser-list-image-block">
        <img src="${item.imagePath}"  class="cm-teaser-list-image" alt="${item.imageAltText}" />
        <div class="cm-teasers-list-item-cta" data-sly-test="${item.ctaText}">
          <a href="${item.ctaLink}" target="${item.ctaOpenInNewWindow == 'true' ? '_blank' : '' }" class="cm-button primary" >${item.ctaText}</a>
        </div>
      </div>
      <h2 class="cm-heading">${item.title}</h2>
      <div class="cm-text-serif">${item.description @context ='html'}</div>
    </li>
  </sly>
  </ul>
</div>
</div>
</sly>
