<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Blog Layouts Component"></div>

<sly data-sly-use.model="com.tlc.web.platform.core.models.BlogLayoutModel">
 <div class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">

 <sly data-sly-test="${model.layoutType=='layout1'}">
    <section data-sly-include="/apps/tlc-web-platform/components/content/blogsLayout/BlogLayout1.html"></section>
 </sly> 

 <sly data-sly-test="${model.layoutType=='layout2'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/blogsLayout/BlogLayout2.html"></section>
 </sly> 

 <sly data-sly-test="${model.layoutType=='layout3'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/blogsLayout/BlogLayout3.html"></section>
 </sly> 

 </div>
</sly>
