<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.css @ categories='tlc-aem-web.blog-layout1'}" />
<sly
	data-sly-use.model="com.tlc.web.platform.core.models.BlogLayoutModel">

<div class="cm-wrapper cm-padding-block">
	<div class="row sticky-container">
		<div class="col-md-4 ">
			<h1 class="cm-heading blog-title">${model.heading}</h1>
			<p class="cm-text-16 cm-text-gray">
				${model.location} | ${model.date} <br> ${model.author} <br>
				${model.photoCredits}
			</p>

			<sly data-sly-resource="${'sociallinks1' @ resourceType='/apps/tlc-web-platform/components/content/socialLinks'}"></sly>
			
		</div>
	</div>
	<div class="row blog-content-container" id="blog-layout1-container">
		<div class="col-md-7 cm-text-serif">
			<sly
				data-sly-resource="${'rte1' @ resourceType='/apps/tlc-web-platform/components/content/text'}"></sly>
		</div>
		<div class="col-md-5 cm-right-adjust">
			<div class="blog-content-images">
				<div class="blog-content-image"
					data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></div>
			</div>
		</div>
	</div>
</div>
</sly>