<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories=['tlc-aem-web.blog-layout3','tlc-aem-web.titleCarousel']}" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.BlogLayoutModel">

<div class="blog-fixed-navigation" data-sly-list="${model.titleCarouselList}">
	<sly data-sly-test="${itemList.first}"> 
	<a href="${item.pageUrl}.html"> 
		<img src="${model.prevIcon}" alt="" srcset=""> 
	</a>

	<div class="cm-wrapper">
		<h1 class="cm-heading blog-title">${model.heading}</h1>
	</div>
	</sly>
	<sly data-sly-test="${itemList.last}"> 
	<a href="${item.pageUrl}.html"> 
		<img src="${model.nextIcon}" alt="" srcset=""> 
	</a> 
	</sly>
</div>
<div class="cm-wrapper  cm-padding-block">
	<div class="row" id="blog-layout-3">
		<div class="col-md-4">
			<h1 class="cm-heading blog-title">${model.heading}</h1>
			<p class="cm-text-16 cm-text-gray">
				${model.location} | ${model.date} <br> ${model.author} <br>
				${model.photoCredits} 
			</p> 
				<sly data-sly-resource="${'sociallinks3' @ resourceType='/apps/tlc-web-platform/components/content/socialLinks'}"></sly>
		</div>
	</div>
	<div class="row blog-content-container">

		<div class="col-md-8">
			<div class="cm-text-serif blog-text-content">
				<sly data-sly-resource="${'rte3' @ resourceType='/apps/tlc-web-platform/components/content/text'}"></sly>
			</div>
		</div>
	</div>
</div>
</sly>