<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='tlc-aem-web.blog-layout2'}" />
<sly
	data-sly-use.model="com.tlc.web.platform.core.models.BlogLayoutModel">

<div class="cm-wrapper  cm-padding-block">
	<div class="row sticky-container">
		<div class="col-md-4 cm-left-sticky">
			<h1 class="cm-heading blog-title">${model.heading}</h1>
			<p class="cm-text-16 cm-text-gray">
				${model.location} | ${model.date} <br> ${model.author} <br>
				${model.photoCredits}
			</p>	
				<sly data-sly-resource="${'sociallinks2' @ resourceType='/apps/tlc-web-platform/components/content/socialLinks'}"></sly>
		</div>
		<div class="col-md-8 cm-right-adjust">
			<div class="cm-text-serif blog-text-content">
				<sly
					data-sly-resource="${'rte2' @ resourceType='/apps/tlc-web-platform/components/content/text'}"></sly>
			</div>
		</div>
	</div>
</div>
</sly>