.cm-card-accordion-section{
  margin-bottom: 100px;
}
.cm-accordion-item{
  border-bottom: 1px solid #a1a1a1;
}
.cm-accordion-item:last-of-type{
  /* border-bottom: none; */
}
.load-more-block{
  text-align: center;
  margin-bottom: 50px;
  background: #fff;
}
.cm-accordion-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.cm-accordion-header h2{
  margin: 0;
}
.cm-card-accordion-link{
  width: 20px;
  position: relative;
  height: 20px;
  cursor: pointer;
}
.cm-card-accordion-link:before,
.cm-card-accordion-link:after{
  position: absolute;
  width: 20px;
  height: 1px;
  background: #c2c2c2;
  content:'';
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: .3s;
}
.cm-card-accordion-link:before{
  transform:rotate(90deg);
}
.cm-accordion-body{
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease;
}
.is-opened .cm-accordion-body{
  max-height: 6000px;
}
.is-opened .cm-accordion-header  .cm-card-accordion-link::before{
  transform:rotate(0deg);
}

.tncLink , .tncLink:hover{
	color :#C99700;
    margin-top: auto;
}

@media only screen and (max-width: 767px){
  .cm-card-accordion-section{
     margin-bottom: 50px;
   }
}