.cm-card-list-block{
  margin-top: 50px;
  border-bottom: solid 1px #a1a1a1;

}
ul.cm-card-list{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.cm-card-list-image-block{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}
.cm-card-list-item-cta{
  position: absolute;
  top: 0%;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.cm-card-list-image-block:hover .cm-card-list-item-cta{
  top: 0px;
  opacity: 1;
}
.has-3-col .card-col{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.has-4-col .card-col{
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.card-list-section{
	margin-bottom:100px;
}
@media only screen and (max-width: 767px){
  .has-3-col .card-col{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .has-4-col .card-col{
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
   .card-list-section{
	margin-bottom:50px;
  }
  .cm-card-list-section-title, .cm-card-list-section-title.cm-heading{
    margin-bottom: 25px;
  }

  .cm-card-list-item{
    display:  block;
    background: #fff;
    width: 100%;
  }
  .cm-card-list-block{
    margin-top: 30px;
  }
  ul.cm-card-list{
    margin: 0%;
  }
  .cm-card-list-item .cm-text-serif{
    margin-bottom: 0;
  }
  .cm-card-arrow{
	margin-top:25px;
	}
  .cm-card-desc,
  .cm-card-title,.cm-card-link{
    text-align: left;
  }
  .cm-card-link{
    display: block;
    margin-top: 5px;
  }
}