<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Dynamic Accordion Component" class="cq-placeholder"> </p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.dynamicAccordian'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.MemberBenefitsModel">

 <div class="cm-padding-block cm-wrapper">
     <div class="row">
		<div  class="col-md-6 offset-md-3">
			<div class="mb-25 ">
				<h1 class="cm-heading text-center"> ${pageProperties.dynamicAccordianHeading} </h1>
			</div>
			<p class="cm-text-serif text-center mb-100 mb-50-sm"> ${pageProperties.dynamicAccordianSubheadingText} ${model.propertyModel.propertyName}</p>
		</div>
	</div>
        <div class="cm-card-accordion-section">
          <sly data-sly-test="${inheritedPageProperties.includeCardBenefits}">
            <sly data-sly-test="${model.cardBenefitsList}">
                <div class="cm-accordion-item">
                    <div class="cm-accordion-header">
                        <h2 class="cm-card-accordion-title cm-heading">
           				 ${pageProperties.cardBenefitsText}
          				</h2>
                        <span class="cm-card-accordion-link"></span>
                    </div>
                    <div class="cm-accordion-body">
                        <div class="cm-accordion-cards">
                                <div class="cm-card-list ">
                                    <div class="has-4-col row" data-slides="4">

                                        <sly data-sly-list="${model.cardBenefitsList}">
                                            <div class="card-col card-benefits ${itemList.count > 4 ? 'no-display' : ''}"> 
                                                <div class="cm-card-list-item ">
                                                    <div class="cm-card-list-image-block">
                                                        <img src="${item.cardBenefitImage}" class="cm-card-list-image" alt="${item.cardBenefitImageAltText}" srcset="" />
                                                    </div>
                                                    <h2 class="cm-heading cm-card-title">${item.cardBenefitName}</h2>
                                                    <p class="cm-heading cm-text-16 cm-card-subtext">${item.cardBenefitCategory}</p>
                                                    <p class="cm-text-serif cm-card-desc mt-25" data-sly-test="${item.cardBenefitDesc}">${item.cardBenefitDesc @ context = 'html'}</p>
                                                    <!-- <a href="" class="cm-card-arrow"></a> -->
                                                </div>
                                            </div>
                                        </sly>

                                    </div>
                                </div>
                        </div>
                        <div class="load-more-block" data-sly-test="${model.cardBenefitsList.size > 4}">
                          <a class="load-more-link cm-link underlined" id="benefitsLoad">Load More</a>
                        </div>

                    </div>
                </div>
            </sly>
          </sly>
          <sly data-sly-test="${inheritedPageProperties.includeCertificates}">
            <sly data-sly-test="${model.certificateList}">
                <div class="cm-accordion-item">
                    <div class="cm-accordion-header">
                        <h2 class="cm-card-accordion-title cm-heading">
            			${pageProperties.certificatesText}
          				</h2>
                        <span class="cm-card-accordion-link"> </span>
                    </div>
                    <div class="cm-accordion-body">
                        <div class="cm-accordion-cards">
                                <div class="cm-card-list ">
                                    <div class="has-4-col row" data-slides="4">
                                        <sly data-sly-list="${model.certificateList}">
                                            <div class="card-col certificates ${itemList.count > 4 ? 'no-display' : ''}">  
                                                <div class="cm-card-list-item ">
                                                    <div class="cm-card-list-image-block">
                                                        <img src="${item.certificateImage}" class="cm-card-list-image" alt="${item.certificateImageAltText}" srcset="" />
                                                    </div>
                                                    <h2 class="cm-heading cm-card-title">${item.certificateName}</h2>
                                                    <!-- <p class="cm-heading cm-text-16 cm-card-subtext" data-sly-test="${item.certificateCategory}">${item.certificateCategory}</p> -->
                                                    <p class="cm-text-serif cm-card-desc mt-25" data-sly-test="${item.certificateDesc}">${item.certificateDesc @ context = 'html'}</p>
                                                    <a href="${item.termsConditionsUrl}" class="tncLink">${pageProperties.termsLinkText}</a>
                                                </div>
                                            </div>
                                        </sly>
                                    </div>
                                </div>
                        </div>
                        <div class="load-more-block" data-sly-test="${model.certificateList.size > 4}">
                          <a class="load-more-link cm-link underlined" id="certificateLoad">Load More</a>
                        </div>

                    </div>
                </div>
            </sly>
          </sly>
          <sly data-sly-test="${inheritedPageProperties.includeSignatureCollections}">
            <sly data-sly-test="${model.signatureCollectionList}">
                <div class="cm-accordion-item">
                    <div class="cm-accordion-header">
                        <h2 class="cm-card-accordion-title cm-heading">
							${pageProperties.signatureCollectionsText}
          				</h2>
                        <span class="cm-card-accordion-link">  </span>
                    </div>
                    <div class="cm-accordion-body">
                        <div class="cm-accordion-cards">
                            
                                <div class="cm-card-list ">
                                    <div class="has-4-col row" data-slides="4">
                                        <sly data-sly-list="${model.signatureCollectionList}">
                                            <div class="card-col signatureCollections ${itemList.count > 4 ? 'no-display' : ''}">

                                                <sly data-sly-test="${item.detailPageLayout1}">
                                                    <div class="cm-card-list-item ">
                                                     <a href="${item.detailPageLayout1.pageUrl}" class="card-link">
                                                        <div class="cm-card-list-image-block">
                                                            <img src="${item.detailPageLayout1.sliderImage}" class="cm-card-list-image" alt="${item.detailPageLayout1.sliderImageAltText}" srcset="" />
                                                        </div>
                                                        <h2 class="cm-heading cm-card-title">${item.detailPageLayout1.title} </h2>
                                                        <p class="cm-heading cm-text-16 cm-card-subtext">${item.detailPageLayout1.descriptionSmall}</p>
                                                        <p class="cm-text-serif cm-card-desc mt-25">${item.detailPageLayout1.descriptionMedium @ context = 'html'}</p>
                                                        <a href="${item.detailPageLayout1.pageUrl}" class="cm-card-arrow"></a>
                                                   </a>
                                                    </div>
                                                </sly>

                                                <sly data-sly-test="${item.detailPageLayout2}">
                                                    <div class="cm-card-list-item ">
                                                     <a href="${item.detailPageLayout2.pageUrl}" class="card-link">
                                                        <div class="cm-card-list-image-block">
                                                            <img src="${item.detailPageLayout2.sliderImage}" class="cm-card-list-image" alt="${item.detailPageLayout2.sliderImageAltText}" srcset="" />
                                                        </div>
                                                         <h2 class="cm-heading cm-card-title">${item.detailPageLayout2.title} </h2> 
                                                        <p class="cm-heading cm-text-16 cm-card-subtext">${item.detailPageLayout2.descriptionSmall}</p>
                                                        <p class="cm-text-serif cm-card-desc mt-25">${item.detailPageLayout2.descriptionMedium @ context = 'html'}</p>
                                                        <a href="${item.detailPageLayout2.pageUrl}" class="cm-card-arrow"></a>
                                                   </a>
                                                    </div>
                                                </sly>

                                                <sly data-sly-test="${item.detailPageLayout3}">
                                                    <div class="cm-card-list-item ">
                                                     <a href="${item.detailPageLayout3.pageUrl}" class="card-link">
                                                        <div class="cm-card-list-image-block">
                                                            <img src="${item.detailPageLayout3.sliderImage}" class="cm-card-list-image" alt="${item.detailPageLayout3.sliderImageAltText}" srcset="" />
                                                        </div>
                                                        <h2 class="cm-heading cm-card-title">${item.detailPageLayout3.title} </h2>
                                                        <p class="cm-heading cm-text-16 cm-card-subtext">${item.detailPageLayout3.descriptionSmall}</p>
                                                        <p class="cm-text-serif cm-card-desc mt-25">${item.detailPageLayout3.descriptionMedium @ context = 'html'}</p>
                                                        <a href="${item.detailPageLayout3.pageUrl}" class="cm-card-arrow"></a>
                                                   </a>
                                                    </div>
                                                </sly>

                                                <sly data-sly-test="${item.detailPageLayout4}">
                                                    <div class="cm-card-list-item ">
                                                     <a href="${item.detailPageLayout4.pageUrl}" class="card-link">
                                                        <div class="cm-card-list-image-block">
                                                            <img src="${item.detailPageLayout4.sliderImage}" class="cm-card-list-image" alt="${item.detailPageLayout4.sliderImageAltText}" srcset="" />
                                                        </div>
                                                        <h2 class="cm-heading cm-card-title">${item.detailPageLayout4.title} </h2>
                                                        <p class="cm-heading cm-text-16 cm-card-subtext">${item.detailPageLayout4.descriptionSmall}</p>
                                                        <p class="cm-text-serif cm-card-desc mt-25">${item.detailPageLayout4.descriptionMedium @ context = 'html'}</p>
                                                        <a href="${item.detailPageLayout4.pageUrl}" class="cm-card-arrow"></a>
                                                   </a>
                                                    </div>
                                                </sly>

                                                 

                                            </div>
                                        </sly>
                                    </div>
                                </div>
                        </div>
                       
                        <div class="load-more-block" data-sly-test="${model.signatureCollectionList.size > 4}">
                          <a class="load-more-link cm-link underlined" id="signatureLoad">Load More</a>
                        </div>
                      
                    </div>
                </div>
            </sly>
          </sly>
          <sly data-sly-test="${inheritedPageProperties.includeMembershipTerms}">
            <sly data-sly-test="${model.membershipTermsList}">
                <div class="cm-accordion-item">
                    <div class="cm-accordion-header">
                        <h2 class="cm-card-accordion-title cm-heading">
						${pageProperties.membershipTermsText}
          				</h2>
                        <span class="cm-card-accordion-link"> </span>
                    </div>
                    <div class="cm-accordion-body">
                        <sly data-sly-list="${model.membershipTermsList}">
                            <sly data-sly-list.nestedItem="${item.group1Features}">

                                <p class="cm-text-serif cm-card-desc mt-25">${nestedItem}</p>
                            </sly>
                        </sly>
                    </div>
                </div>
            </sly>
        </div>
    </div>
</sly>
</sly>