/* Section 1 */
.sticky-sections{
  position: relative;
  height: 400vh;
  background: #fff;
  overflow: hidden;
  z-index: 1;
  flex-direction: column;
  display: flex;
}
.sticky-sections.align-bottom{
  flex-direction: column-reverse;
}
.sticky-section{
  position: relative;
  height: 100vh;
}
.height-100{
height: 100%;
}
.multi-content{
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%,calc(-50% + 40px));
  left: 20px;
  transition: 0s;
}
.multi-content img{
  height: 86px;
  margin-bottom: 20px;
}
.multi-content h1{
  margin-bottom: 20px;
}
.sticky-image{
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(0px,-50%);
  left: 50%;
  height: 80%;
  transition: 1s;
  max-height: 680px;

}
.multi-content.visible{
  opacity: 1;
  transform: translate(0%, -50%);
}
.sticky-image.visible{
  opacity: 1;
  transform: translate(-50%, -50%);
}
.sticky-section.fixed{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  margin: auto;
  right: 0;
}
.sticky-sections .content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sticky-sections .image,
.sticky-sections .image > div{
  height: 100%;
  justify-content: center;
  display: flex;
}
.sticky-sections .image > div img{
  height: 80%;
  margin: auto;
}

#sticky-image-2{
  left: calc(60%);
}
#sticky-image-3{
  left: calc(70%);
}
#sticky-image-4{
  left: calc(80%);
}

.sticky-section #multi-content-1,
.sticky-section.section-2 #multi-content-2,
.sticky-section.section-3.section-2 #multi-content-3,
.sticky-section.section-4.section-3.section-2 #multi-content-4{
  opacity: 1;
  transform: translate(0%, -50%);
  transition: 1s;
}

.sticky-section #multi-content-2,
.sticky-section #multi-content-3,
.sticky-section.section-2 #multi-content-3,
.sticky-section.section-2 #multi-content-1,
.sticky-section.section-2.section-3 #multi-content-1,
.sticky-section.section-2.section-3 #multi-content-2,
.sticky-section.section-2.section-3.section-4 #multi-content-1,
.sticky-section.section-2.section-3.section-4 #multi-content-2,
.sticky-section.section-2.section-3.section-4 #multi-content-3
{
  opacity: 0;
  transition: 0s;
}


/* Section 2 */
.sticky-sections-part-2{
  position: relative;
  height: 300vh;
  background: linear-gradient(60deg, #f5f5f5, #d9d9d9);
  z-index: 1;
  flex-direction: column;
  display: flex;
}
.sticky-sections-part-2.align-bottom{
  flex-direction: column-reverse;
}
.sticky-section-part-2{
  position: relative;
  height: 100vh;
}
.sticky-section-part-2.fixed{
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(60deg, #f5f5f5, #d9d9d9);
  margin: auto;
  right: 0;
}
.sticky-section-part-2 .main-content{
  text-align: center;
  height: 100%;
  height: auto;
  margin-bottom: 50px; 
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
.sticky-section-part-2 .image-container{
  height: 60vh;
    padding: 25px;
    position: relative;
    width: auto;
  max-height: 680px;

    /* flex: 1; */
    width: auto;
}
.sticky-section-part-2 .image-container img{
  height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 50px 0;
    transform: translate(-50%,0);
    transition: 1s;
}
.sticky-section-part-2 .main-content h1{
  padding-bottom: 25px;
  margin: 0;
}
.sticky-section-part-2 .main-content p{
  margin: 0;
  padding-bottom: 50px;
}
.sticky-section-part-2.section-2 #part-2-image-1{
  transform: translate(-100%,0);
}

.sticky-section-part-2.section-2 #part-2-image-3{
  transform: translate(0%,0);
}
.sticky-section-part-2.section-3 #part-2-image-1{
  transform: translate(-200%,0);
}

.sticky-section-part-2.section-3 #part-2-image-3{
  transform: translate(100%,0);
}

/* third section */
.personal-section{
  position: relative;
  /* height: calc(180vh); */
}
.personal-section-inner{
  height: 100vh;
  max-height: 680px;
}
#personal-section-2{
  /* position: absolute; */
  /* top: 80vh;
  left: 0;
  right: 0;
  margin: auto;
  height: auto; */
}
.personal-section .image-banner{
  text-align: center;
  height: 100%;
  max-height: 680px;
}
.personal-section .content{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.personal-section .image-banner img{
  padding-top: 50px;
    transition: 1s;
    height: 100%;
    max-height: 680px;
  height: 100%;
  box-sizing: border-box;
}
#personal-section-2 .image-banner img{
  transform: translateY(15%);
  opacity: 0;
  padding-top: 0;
}
#personal-section-2 .image-banner{
	overflow: hidden;
}
#personal-section-2 .image-banner img.shift{
  transform: translateY(0);
  opacity: 1;
}
.sticky-section-part-2 .main-content p{
    width: 66.67%;
  }
  
@media only screen and (max-width: 1260px){
  .sticky-section-part-2.section-3 #part-2-image-1{
    transform: translate(-150%,0);
  }

  .sticky-section-part-2.section-3 #part-2-image-3{
    transform: translate(50%,0);
  }
  .sticky-image.visible{
    transform: translate(-75%, -50%);
  }
  .sticky-section .row{
    flex-direction: column;
  }
  .sticky-section .content{
    order: 2;
    margin: auto;
    padding-bottom: 50px;
    /* flex: 1; */
  }
  .sticky-section .image{
    order: 1;
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .sticky-section .content img{
    display: none;
  }
  #sticky-image-2{
    left: calc(52vw);
  }
  #sticky-image-3{
    left: calc(55vw);
  }
  #sticky-image-4{
    left: calc(58vw);
  }
  .multi-content{
    text-align: center;
  }
  .sticky-section-part-2 p{
    width: 60%;
  }
}

@media only screen and (max-width: 992px){
  .sticky-section-part-2.section-3 #part-2-image-1{
    transform: translate(-100%,0);
  }

  .sticky-section-part-2.section-3 #part-2-image-3{
    transform: translate(0%,0);
  }
}
@media only screen and (max-width: 767px){
  .sticky-section-part-2 p{
    width: 100%;
  }
  .sticky-section .content{
    flex: 1;
  }
  .sticky-section .image{
    flex: 2;
  }
  .sticky-image{
    transform: translate(0,0);
    bottom: 0;
    top: unset;
  }
  .sticky-image.visible{
    transform: translate(-75%, 0%);
    bottom: 0;
    top: unset;
  }
  #sticky-image-2{
    left: calc(56%);
  }
  #sticky-image-3{
    left: calc(62%);
  }
  #sticky-image-4{
    left: calc(68%);
  }
  .sticky-section-part-2 .image-container{
    height: 40vh;
  }
  .multi-content{
    left: 0;
  }
  #personal-section-1 .content{
    order: 1;
    height: auto;
    padding: 50px 15px;
    margin: 0;
  }
  #personal-section-1 .image-banner{
    order: 2;
  }
  #personal-section-1 .image-banner img{
    height: auto;
    width: 100%;
  }
  #personal-section-2 .content{
    order: 2;
    height: auto;
    padding: 50px 15px;
    margin: 0;
  }
  #personal-section-2 .image-banner img{
    height: auto;
    width: 70%;
    margin: auto;
  }
  #personal-section-2{
    min-height: 100vh;
    max-height: unset;
    height: auto;
  }
}