<div data-sly-test="${wcmmode.edit}">
	Configure List of links Component 
</div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
 	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.listOfLinks'}"/>
<sly data-sly-use.model="com.tlc.web.platform.core.models.ListofLinksModel">

<ul class="cm-links-list ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}" data-sly-list="${model.listitems}">
 <li class="cm-links-list-item cm-menu-link"><a href="${item.url}"> ${item.text}</a></li> 
</ul>

</sly>