<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Heading Component" class="cq-placeholder"></p>

<sly data-sly-use.model="com.tlc.web.platform.core.models.HeadingModel">
<div class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.marginLeftClass}  ${properties.marginRightClass} ${properties.paddingTopClass} ${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
  
  <sly data-sly-test="${model.container=='includeContainer'}"> 
	<div class="cm-wrapper cm-padding-block ">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 data-sly-element="${model.headingType}" data-sly-test="${model.headingText @context ='html'}" class="cm-heading text-${model.align} ${properties.bottomSpacer} ">${model.headingText @context ='html'}</h1>
				<h2 data-sly-element="${model.subHeadingType}" data-sly-test="${model.subHeadingText @context ='html'}" class="cm-headingtext-${model.align} ${properties.bottomSpacer}">${model.subHeadingText @context ='html'}</h2>
				<p data-sly-test="${model.descText @context ='html'}" class="cm-text-serif mb-25  text-${model.align}">${model.descText @context ='html'}</p>
			</div>
		</div>
	</div>
  </sly>

  <sly data-sly-test="${model.container=='excludeContainer'}">
	<div class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.marginLeftClass}  ${properties.marginRightClass} ${properties.paddingTopClass} ${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
		<h1 data-sly-element="${model.headingType}" data-sly-test="${model.headingText @context ='html'}" class="cm-heading  cm-main-heading ${properties.bottomSpacer} text-${model.align} ">${model.headingText @context ='html'}</h1>
		<h2 data-sly-element="${model.subHeadingType}" data-sly-test="${model.subHeadingText @context ='html'}" class="cm-heading cm-main-heading ${properties.bottomSpacer} text-${model.align}">${model.subHeadingText @context ='html'}</h2>
		<p data-sly-test="${model.descText @context ='html'}" class="cm-text-serif mb-25  text-${model.align}">${model.descText @context ='html'}</p> 
	</div>
  </sly>

</div>
</sly>
