.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}
.custom-combobox-input{
  background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
}