<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Footer List of Logo Component" class="cq-placeholder"></p>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
 	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.listOfLinks'}"/>
<sly data-sly-use.model="com.tlc.web.platform.core.models.ListofLinksModel">

  <div  class= "${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
	<div class="custom-hotel-row" data-sly-list="${model.listitems}">
        <a href="${item.url}" target="${item.ctaOpenInNewWindow == 'true' ? '_blank' : '' }"><img src="${item.logoPath}" alt="${item.altText}"></a>
	</div>
  </div>
  
</sly>