.subscription-box {
	display: flex;
	margin-bottom: 25px;
	align-items: flex-end;
    width:100% ;
}

.subscription-box .subscription-button {
	margin-left: 20px;
}

.subscription-input-label {
	flex: 1;
	margin-bottom: 0;
}

@media only screen and (max-width:767px) {
	.subscription-box {
		margin-bottom: 50px;
	}
}