.cm-teasers-list-block {
	/* margin-top: 100px; */
	
}
.teaser-owl-carousel .owl-dots{
	    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teaser-owl-carousel button.owl-dot{
	    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    margin: 0 12px;
    background: #b1aaaa;
    opacity:0.5;
}

.teaser-owl-carousel button.owl-dot.active{
	opacity:1;
}

ul.cm-teasers-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cm-teasers-list-item{
/* display: inline-flex; */
/* width: 33.33%; */
flex-direction: column;
}
.cm-teasers-list-item .cm-teaser-list-image{
width: 100%;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 100%;
object-fit: cover;
/* margin-bottom: 50px; */
}
.cm-teaser-list-image-block{
position: relative;
overflow: hidden;
cursor: pointer;
display: flex;
width: 100%;
margin-bottom: 25px;
position: relative;
width: 100%;
padding-top: 121.2%;
}
.cm-teaser-square-image-block{
padding-top: 82.58%;
}

.cm-teaser-desc{
	margin-bottom: unset;
}
/* .cm-teasers-list-item {
	display: inline-flex;
	width: 33.33%;
	flex-direction: column;
}

.cm-teasers-list-item .cm-teaser-list-image {
	width: 100%;
	margin-bottom: 50px;
}

.cm-teaser-list-image-block {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;
} */

.cm-teasers-list-item-cta {
	position: absolute;
	top: 0%;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
	left: 0;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
}

.cm-teaser-list-image-block:hover .cm-teasers-list-item-cta {
	top: 0px;
	opacity: 1;
}

/* .listOfTeasers .cm-heading{
	margin-bottom: 100px;
} */
.dyn-part-hotel .cm-heading {
	margin:0;
} 
/* CSS for dynamic listing */

.dynamicListing .cm-heading p{
	margin:0;
}

@media only screen and (max-width: 767px) {
	.cm-teasers-list-block {
		/* padding: 0 20px; */
		
	}
	.cm-teasers-list-item {
		display: block;
		background: #fff;
		width: calc(100% - 110px);
		margin: auto;
		min-width: 245px;
	}
	.cm-teasers-list-block {
		margin-top: 30px;
	}
	ul.cm-teasers-list {
		margin: 0%;
	}
	.cm-teasers-list-item .cm-text-serif {
		margin-bottom: 0;
	}
	.cm-teaser-desc, .cm-teaser-title, .cm-teaser-link {
		text-align: center;
	}
	.cm-teaser-link {
		display: block;
		margin-top: 5px;
	}
}