<div class="wrapper-contents">
<div class="main-body-container">
	<div data-sly-resource="${'dynamicCarousel' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicCarousel'}"></div>
	<div class="cm-wrapper cm-padding-block">
    	<div data-sly-resource="${'dynamicText' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicText'}"></div>
   		<div data-sly-resource="${'dynamicOwlCarousel' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicOwlCarousel'}"></div>
	</div>
	<div data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></div>
</div>
</div>