<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Image Component" class="cq-placeholder"></p>

<a href = "${properties.imageLink}">
	<picture class="lozad ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">		
        <source media="(max-width: 300px)" srcset="${properties.mobileImage}">      
		<img src="${properties.desktopImage}" alt="${properties.imgAlt}">     
	</picture> 
</a>