<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Generic List Component New" class="cq-placeholder"></p>

 <sly data-sly-use.model="com.tlc.web.platform.core.models.ListingModel">
 <sly data-sly-test="${model.viewType =='owl-carousel'}">
    <section data-sly-include="/apps/tlc-web-platform/components/content/genericListing/owlCarouselType.html"></section>
 </sly>

 <sly data-sly-test="${model.viewType=='teaserCarousel'}">
 	<section data-sly-include="/apps/tlc-web-platform/components/content/genericListing/teaserCarouselType.html"></section>
 </sly>
 
 <sly data-sly-test="${model.viewType=='teaser'}">
 	 <section data-sly-include="/apps/tlc-web-platform/components/content/genericListing/teaserType.html"></section>
 </sly>
 </sly>  