<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.owlCarousel'}" />
	 
 <sly data-sly-use.model="com.tlc.web.platform.core.models.ListingModel">
 
        <div class="benefits-container" id="listingCategory" data-attr-pageList="${model.pageListJson}" data-attr-tag="${model.tags}">
            <div class="cm-wrapper cm-padding-block">
                <div>
                    <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
                </div>

                <div class="benefits-carousel-container">
                        <sly data-sly-test="${properties.tagFilter == 'true'}">

                        <script id="handlebars-demo" type="text/x-handlebars-template">
  
                         {{#each this}}  
                            <div class="cm-owl-carousel-item">
                                <div class="cm-owl-carousel-image-block">
                                    <img src="{{item.thumbnailImage}}" alt="{{item.imageAltText}}" class="cm-owl-carousel-image">
                                </div>
                                <div class="cm-owl-carousel-content">
                                    <p class="cm-text-serif cm-owl-carousel-content-body"></p>
                                    <h2 class="cm-heading cm-owl-carousel-content-title">{{this.title}}</h2>
                                    <p class="cm-text-serif cm-owl-carousel-content-body">{{this.description}}</p>
                                    <a href="{{pageUrl}}" class="cm-link cm-owl-carousel-content-link">{{this.ctaText}}</a>
                                </div>
                            </div>
                            {{/each}}  
                        </script> 

                        </sly>
                        <div class="owl-carousel cm-owl-carousel" id="page-list" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}"></div>
                    

                    <div class="owl-carousel cm-owl-carousel" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
                            <sly data-sly-list="${model.listingPageList}">
    
                                <div class="cm-owl-carousel-item">
                                    <div class="cm-owl-carousel-image-block">
                                        <img src="${item.thumbnailImage}" alt="${item.imageAltText}" class="cm-owl-carousel-image">
                                    </div>
                                    <div class="cm-owl-carousel-content">
                                        <p class="cm-text-serif cm-owl-carousel-content-body"></p>
                                        <h2 class="cm-heading cm-owl-carousel-content-title">${item.title}</h2>
                                        <p class="cm-text-serif cm-owl-carousel-content-body">${item.description}</p>
                                        <a href="${item.pageUrl}" class="cm-link cm-owl-carousel-content-link" data-sly-test=${item.ctaText}>${item.ctaText}</a>
                                    </div>
                                </div>
    
                                
                            </sly>
    
                        </div>

                </div>
                <div data-sly-test="${model.viewAllctaText}" class="cm-button-group centered mt-30"> 
      				<a href="${model.ctaUrl}" class="cm-button primary">${model.viewAllctaText}</a>
   		 		</div>
            </div>
        </div>
</sly>