<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.all @ categories='tlc-aem-web.teaserSearchCard'}" />

<!-- HOTEL LISTING TYPE -->
<sly data-sly-use.model="com.tlc.web.platform.core.models.ListingModel">
   <div class="cm-bottom-padding-block search-results-container" id="listingCategory" data-attr-pageList="${model.pageListJson}" data-attr-tag="${model.tags}">
      <div class="cm-wrapper search-results-section search-results-section-active" id="total-results">
         <div id="result-title" data-sly-resource="${'heading' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
              <div data-sly-test="${properties.tagFilter == 'true'}">    
         
         <script id="handlebars-demo" type="text/x-handlebars-template">
            {{#each this}}
            <div class="col-md-4 hotel-column">
             <div class="hotel-card cm-inner-wrapper">
                <img src="{{this.thumbnailImage}}" alt="" class="hotel-card-image">
                <h2 class="hotel-card-title cm-heading">
                   {{this.title}}
                </h2>
             </div>
            </div> 
            {{/each}} 
            
         </script> 
         <div class="row hotels-listed" id="page-list"></div>
         </div>

         <div data-sly-test="${properties.tagFilter == 'false'}">
			<sly data-sly-list="${model.listingPageList}">
                <div class="col-md-4">

                         <div class="hotel-card cm-inner-wrapper">
                             <img src="${item.thumbnailImage}" alt="${item.imageAltText}" class="hotel-card-image">
                         <h2 class="hotel-card-title cm-heading">
                                ${item.title}
                         </h2>
                    </div>

                 </div>
            </sly>
         
         </div>
      </div>
      <div data-sly-test="${model.viewAllctaText}" class="cm-button-group centered mt-30"> 
      		<a href="${model.ctaUrl}" class="cm-button primary">${model.viewAllctaText}</a>
     </div>
   </div>
</sly>