<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
data-sly-call="${clientlib.css @ categories='tlc-aem-web.teaserCarousel'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.ListingModel">
          <div class="cm-wrapper cm-padding-block" id="listingCategory" data-attr-pageList="${model.pageListJson}" data-attr-tag="${model.tags}">
              <div class="row">
                  <div class="col-md-10 offset-md-1 cm-inner-wrapper">
                        <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
                    </div>
              </div>
             
              <div class="featured-offers-container">
                    <div class="cm-teasers-list-block"  id="tagFilterId" tagFilterValue="${properties.tagFilter}">
                     <div class="teaser-block" >
                     <sly data-sly-test="${properties.tagFilter == 'true'}">
   
                              <!-- teaser item -->
                        <script id="handlebars-teaser" type="text/x-handlebars-template">

                                {{#each this}}  
                              <li class=" item cm-teasers-list-item  ">
                                <div class="cm-teaser-list-image-block cm-teaser-square-image-block">
                                  <img src="{{this.thumbnailImage}}" class="cm-teaser-list-image" alt="" srcset="" />
                                  <div class="cm-teasers-list-item-cta hidden-mobile">
                                    <a href="{{this.pageUrl}}" class="cm-button primary cm-teaser-link">Discover more</a>
                                  </div>
                                </div> 
                                <p class="cm-text-serif cm-teaser-desc top">{{this.subtitle}}</p>
                                <h2 class="cm-heading cm-teaser-title">{{this.title}}</h2>
                                <p class="cm-text-serif cm-teaser-desc">{{{this.description}}}</p>
                                <a href="{{this.pageUrl}}" class="cm-link cm-teaser-link visible-mobile">{{this.ctaText}}</a>
                              </li>
                              {{/each}} 

                      </script> 
                      <!-- teaser item --> 
                      <ul class="cm-teasers-list owl-carousel teaser-owl-carousel owl-theme" id="page-list" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
                        </ul>  
                </sly>  
</div>
                <sly data-sly-test="${properties.tagFilter == 'false'}">
                        <ul class="cm-teasers-list  owl-carousel teaser-owl-carousel owl-theme" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
                      	 <sly data-sly-list="${model.listingPageList}">
                           <!-- teaser item -->
                           <li class="item cm-teasers-list-item">
                               <div class="cm-teaser-list-image-block cm-teaser-square-image-block">
                                   <img src="${item.thumbnailImage}" class="cm-teaser-list-image" alt="${item.imageAltText}" />
                                   <div class="cm-teasers-list-item-cta">
                                       <a href="${item.pageUrl}" class="cm-button primary cm-teaser-link" data-sly-test=${item.ctaText}>${item.ctaText}</a>
                                   </div>
                               </div>
                               <p class="cm-text-serif cm-teaser-desc top">${item.subtitle}</p>
                               <h2 class="cm-heading">${item.title}</h2>
                               <p class="cm-text-serif">${item.description @context ='html'}</p>
                           </li>
                       	</sly>
                       </ul>
                    </sly>   
                
         		</div>
          </div>
          <div data-sly-test="${model.viewAllctaText}" class="cm-button-group centered mt-30"> 
      			<a href="${model.ctaUrl}" class="cm-button primary">${model.viewAllctaText}</a>
   		 </div>
     </div>         
</sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.js @ categories='tlc-aem-web.teaserCarousel'}" />