<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Experiences Card Component"
    class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='tlc-aem-web.dynamicExperience'}" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicExperiencesCardModel">

    <div class="personal-section ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}"
        id='personal-section-1'>

        <div class="cm-wrapper">
            <div class="mb-50 ">
                <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
            </div>
            <sly data-sly-list.key="${model.expOutletMap}">
                <div class="card-list-section" data-sly-test="${model.expOutletMap[key]}">
                    <div class="cm-card-list-block">
                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <h2 class="cm-heading cm-card-list-section-title">${key}</h2>
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <div class="cm-card-list ">
                                    <div class='owl-carousel cards-carousel owl-theme' data-slides="3"   data-sly-list.nestedItem="${model.expOutletMap[key]}">
                                        <div class="card-col">
                                        <a href="${nestedItem.pageUrl}" class="card-link">
                                            <div class="cm-card-list-item ">
                                                <div class="cm-card-list-image-block" data-sly-list.imgItem="${nestedItem.items2.bgImages}">
                                                    <sly data-sly-test="${imgItem.image}">
                                                          <img src="${imgItem.image}/jcr:content/renditions/cq5dam.resized.webbox.png" class="cm-card-list-image" alt="" srcset="" />
                                                     </sly>
                                                     <!-- <sly data-sly-test="${imgItem.image}">
                                                          <img src="${imgItem.image}" class="cm-card-list-image" alt="" srcset="" />
                                                     </sly> -->
                                                </div>
                                                <h2 class="cm-heading cm-card-title">${nestedItem.items2.title}</h2>
                                                <!-- <sly data-sly-test="${key == 'Dining' }" >
                                                	<p class="cm-heading cm-text-16 cm-card-subtext">${nestedItem.cuisine}  </p> 
                                                </sly> 
                                                <sly data-sly-test="${key != 'Dining' }" >
                                               		<p class="cm-heading cm-text-16 cm-card-subtext">${nestedItem.outletType} </p>  
                                                </sly>  -->
                                                <p class="cm-heading cm-text-16 cm-card-subtext">${nestedItem.outletType} </p>  
                                                <p class="cm-text-serif cm-card-desc mt-25">${nestedItem.items2.descriptionMedium}</p>
                                                <a  class="cm-card-arrow"></a> 
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </sly>
        </div>
	</div>

</sly>