<sly data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Carousel Component" class="cq-placeholder"> </sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.carouselGeneric'}" />
	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicTextModel">
<sly data-sly-test="${model.promoContentList}"> 
	<div class="cm-padding-block">
		<div class="cm-type-1 cm-carousel" >
			<div id="cm-dynamic-carousel" class="carousel slide" data-ride="carousel">
				
				<ol class="carousel-indicators"> </ol>
				<div class="carousel-inner" data-sly-list="${model.promoContentList}">
				<sly data-sly-list.subItem="${item.bgImages}">
				<div class="carousel-item ${subItemList.first ? 'active' : ''}">
					<div class="cm-banner ${!wcmmode.edit ? 'banner-height-Calc':''} cm-type-1 ">
						<img class="cm-banner-carousel-image" src="${subItem.image}" alt=""> 
						<div class="cm-banner-overlay"></div>
					</div>
				</div>
				</sly>
				</div>
			</div>
			<sly data-sly-list="${model.promoContentList}"> 
		    <sly data-sly-test="${item.bgImages.size>1}"> 
			<a class="carousel-con`trol-prev" href="#cm-dynamic-carousel" role="button" data-slide="prev"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
				<g fill="none" fill-rule="evenodd" transform="translate(-41)">
				<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
            	<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
        		</g>
      			</svg> 
      			<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next" href="#cm-dynamic-carousel" role="button" data-slide="next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
          	<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
             <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
             <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
          	</g>
        	</svg> 
        	<span class="sr-only">Next</span>
			</a> 
		</sly>
		</sly>
		</div>
	</div>
	</sly>
</sly>