<div class="wrapper-contents">
<div class="main-body-container">
<sly data-sly-resource="${'outlet-detail' @ resourceType='/apps/tlc-web-platform/components/content/outletDetail'}"></sly>
<sly data-sly-resource="${'offer-event-listing' @ resourceType='/apps/tlc-web-platform/components/content/outlet/offers-and-events'}"></sly> 
	<sly data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>

</div>
</div>