.blog-content-images {
	width: 100%;
}

.blog-content-image {
	width: 100%;
	margin-bottom: 50px;
}

.blog-social-icons {
	list-style-type: none;
	padding: 0;
	display: flex;
	margin: 0;
	margin-top: 25px;
}

.blog-social-icons li {
	margin-right: 25px;
}

.blog-social-icons li img {
	width: 20px;
}

.blog-title {
	margin-bottom: 15px;
}

.blog-content-container {
	margin-top: 50px;
}

.blog-content-images.layout-2 {
	margin-top: 50px;
}

.blog-text-content .blog-content-image {
	margin: 50px 0;
}

.blog-text-content .blog-content-image:last-child {
	margin-bottom: 0;
}

.affix-it {
	position: fixed;
	top: 100px;
}

.affix-it.stop {
	position: absolute;
	bottom: 0;
	top: auto;
}

.sticky-container {
	position: relative;
}

.blog-fixed-navigation {
	position: fixed;
	top: -120px;
	background: #fff;
	height: 120px;
	width: 100%;
	z-index: 11;
	border-top: solid 1px #dddbd6;
	border-bottom: solid 1px #dddbd6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .5s;
}

.blog-fixed-navigation img {
	padding-left: 10px;
}

.blog-fixed-navigation img:last-of-type {
	padding-right: 10px;
}

.blog-fixed-navigation h1 {
	margin-bottom: 0;
}

.blog-fixed-navigation.slide-up, .blog-fixed-navigation.slide-up.show {
	top: 0;
	transition: .8s;
}

.blog-fixed-navigation.show {
	top: 80px;
}