<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Download App Component" class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.css @ categories='tlc-aem-web.downloadAppAnimation-1'}" />
     
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientlib.js @ categories='tlc-aem-web.downloadApp'}" />

<div class="personal-section mb-50 ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}" id='personal-section-1'>
    <div class="personal-section-inner">
        <div class="cm-wrapper height-100">
          <div class="row height-100">
            <div class="col-md-6  image-banner">
                <div data-sly-resource="${'image11' @ resourceType='/apps/tlc-web-platform/components/content/imageComponent'}"></div>
            </div>
            <div class="col-md-4 offset-1 content">
                <div data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
            </div>
          </div>
        </div>
    </div>
      <div class="personal-section-inner" id='personal-section-2'>
        <div class="cm-wrapper height-100">
          <div class="row height-100">
            <div class="col-md-6  image-banner">
                <div data-sly-resource="${'image12' @ resourceType='/apps/tlc-web-platform/components/content/imageComponent'}"></div>
            </div>
            <div class="col-md-4 offset-1 content">
                <div data-sly-resource="${'heading2' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
                <div data-sly-resource="${'download-app-parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>

					<div class="cm-button-group mt-50 mb-25">
						<button class="cm-button cm-button-sm primary cm-wide-mobile has-icon ">
							<img src="/content/dam/tlc-website/downloadApp/group-178-3-x.png" alt=""
								srcset="">${properties.googlePlayText}
						</button>
						<button class="cm-button cm-button-sm primary cm-wide-mobile has-icon">
							<img src="/content/dam/tlc-website/downloadApp/group-188-3-x.png" alt=""
								srcset=""> ${properties.AppStoreText}
						</button>
					</div>

                    <a class="cm-link cm-link-serif lets-chat-link footer-links" href="">
						<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14"
							viewBox="0 0 15 14">
    					<path fill="currentColor" fill-rule="evenodd"
								d="M12.149 0A2.851 2.851 0 0 1 15 2.851v5.704a2.852 2.852 0 0 1-2.482 2.828V14l-2.909-2.594H2.851A2.851 2.851 0 0 1 0 8.555V2.851A2.851 2.851 0 0 1 2.851 0h9.298z" />
						</svg> ${properties.letsChatText}
					</a>
					
				</div>
          </div>
        </div>
      </div>
    </div>