<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Offer and event Detail Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['tlc-aem-web.hotelDetail','tlc-aem-web.dynamicExperienceCarousel']}" />
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.carouselGeneric'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.OffersEventsModel">
    <sly data-sly-test="${model.detailPage.bgImages}">
<div class="cm-padding-block">
		<div class="cm-type-1 cm-carousel" >
			<div id="cm-offer-carousel" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner" data-sly-list="${model.detailPage.bgImages}">
				<div class="carousel-item ${itemList.first ? 'active' : ''}">
					<div class="cm-banner ${!wcmmode.edit ? 'banner-height-Calc':''} cm-type-1 ">
						<img class="cm-banner-carousel-image" src="${item.image}" alt=""> 
						<div class="cm-banner-overlay"></div>
					</div>
				</div>
				</div>
			</div>
			<sly data-sly-test="${model.detailPage.bgImages.size>1}"> 
			<a class="carousel-control-prev" href="#cm-offer-carousel" role="button" data-slide="prev"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
				<g fill="none" fill-rule="evenodd" transform="translate(-41)">
				<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
            	<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
        		</g>
      			</svg> 
      			<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next" href="#cm-offer-carousel" role="button" data-slide="next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
          	<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
             <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
             <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
          	</g>
        	</svg> 
        	<span class="sr-only">Next</span>
			</a> 
		</sly> 
		</div>
</div>
</sly>
<div class="cm-padding-block cm-wrapper">
    <div class="row">
      <div class="col-md-5 col-lg-4">      
        <div class="property-details">
            <div class="property-title">
             <h1 class="cm-heading">${model.detailPage.title}</h1>


          </div>
            <div class="property-content">
                <div class="property-content-item">
                  <h3 class="cm-text-16 property-content-item-heading">${inheritedPageProperties.overviewText}</h3>
                  <p class="cm-text-serif property-content-item-body">
                 ${model.detailPage.descriptionLarge @ context='html'}
                  </p>
                </div>
            </div>
          </div>
          </div>

      <div class="col-md-6 col-lg-7 offset-lg-1 offset-md-1">
          <img class="full-image" src="${model.detailPage.sliderImage}" alt="${model.detailPage.sliderImageAltText}">
      </div>
      <div class="col-12">
          <div class="cm-button-group start vertical-sm mt-50 property-actions">
              <button href="${inheritedPageProperties.becomeMemberUrl}" class="cm-button cm-button-sm cm-wide-mobile primary">${inheritedPageProperties.becomeMemberText}</button>        
            </div>
      </div>
    </div>   
</div>
  


</sly>
