<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Header Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories='tlc-aem-web.header'}" />
  
<sly data-sly-use.model="com.tlc.web.platform.core.models.NavigationModel">
<div class="cm-header ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
  <!-- hamburger link -->
  <a class="cm-header-hamburger-link d-lg-none d-block"></a>
  <!-- hamburger html uses the same components as main navigation with different styling -->
  <div class="cm-header-hamburger d-lg-none d-block">
  <div class="cm-hamburger-wrapper">
      <div data-sly-resource="${'navigation1' @ resourceType='/apps/tlc-web-platform/components/content/navigation'}"></div>
      <div data-sly-resource="${'header-ctas1' @ resourceType='/apps/tlc-web-platform/components/content/cta'}"></div>
      </div> 
  </div>

  <div class="cm-header-wrapper">
   <a href="${model.headerLogoUrl}"> <img class="cm-header-logo" src="${properties.logoImagePath}" alt=""></a>
    <div class="d-lg-block d-none"  data-sly-resource="${'navigation1' @ resourceType='/apps/tlc-web-platform/components/content/navigation'}"></div>
    <div class="d-lg-block d-none" data-sly-resource="${'header-ctas1' @ resourceType='/apps/tlc-web-platform/components/content/cta'}"></div>
  </div>
<a class="cm-member-drawer-link cm-member-drawer-overlay"></a>
  <div class="cm-member-drawer">
    <span class="cm-member-drawer-link cm-member-close">
      <img src="/content/dam/tlc-website/grey-cross.svg" alt="" srcset="">
    </span>
   <div data-sly-resource="${'member-form-drawer' @ resourceType='/apps/tlc-web-platform/components/content/memberForm'}"></div>
  </div>
</div>
</sly>