<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Footer Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['tlc-aem-web.footer', 'tlc-aem-web.chat']}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.FooterModel">
<div class="${properties.classType} ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">

<div class="cm-footer">
     <!-- bottom footer -->
     <div class="footer-bottom">
       <div class="cm-wrapper">
         <div class="row">
           
           <div class="col-md-6">
           <sly>
            <div data-sly-resource="${'footer-parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>
            <div class="row"> 
            <sly data-sly-list="${model.footerLinksGridList}">
               <div class="col-4 list-link-col ">
                <div data-sly-resource="${@path=item, resourceType='/apps/tlc-web-platform/components/content/listOfLinks'}"></div>                 
               </div>
             </sly>
            </div>
           <!-- <p class="cm-text mt-25 hidden-mobile">${properties.date}<img class="footer-icon" src="${properties.copyrightIcon}" />${properties.copyrightText} </p> -->
           </div>

             <div class="col-sm-12 offset-lg-2 col-lg-4 col-md-5 offset-md-1 cm-order-sm-1">
                <div data-sly-resource="${'cta1' @ resourceType='/apps/tlc-web-platform/components/content/cta'}"></div>
                <div class="footer-sticky-links visible-mobile">
                    <a href="" class="cm-link cm-link-serif lets-chat-link footer-links">
                        <img src="${inheritedPageProperties.letsChatIcon}"/>
                        ${inheritedPageProperties.chatText}
                     </a>
                     <a href="tel:${inheritedPageProperties.tollFreeNo}" class="cm-link  cm-link-serif footer-links">
                       <img src="${inheritedPageProperties.callIcon}"/>
                        ${inheritedPageProperties.tollFreeText}
                     </a>
                </div>
                <p class="footer-section cm-text">
                    ${properties.licenseInfoText}
                </p>
              </div>
            </div>
            
            <div class="">
              <div class="bottom-links row">
                <p class="cm-text col-md-6">${properties.date}<img class="footer-icon" src="${properties.copyrightIcon}" />${properties.copyrightText}</p>
                <div class="footer-sticky-links hidden-mobile col-sm-12 offset-lg-2 col-lg-4 col-md-5 offset-md-1 cm-order-sm-1">
                    <a href="" class="cm-footer-link cm-link-serif lets-chat-link footer-links">
                        <img src="${inheritedPageProperties.letsChatIcon}"/>
                       ${inheritedPageProperties.chatText}
                     </a>
                     <a href="tel:${inheritedPageProperties.tollFreeNo}" class="cm-footer-link cm-link-serif footer-links">
                       <img src="${inheritedPageProperties.callIcon}"/>
                         ${inheritedPageProperties.tollFreeText}
                     </a>
                </div>
              </div>
            </div>

            </div>
         
         </div>    
 	</div>
 </div>
 </div>
 
 </div>
 </sly>