.banner-height-calc{

height: calc(100vh - 80px);
}
.banner-type-cta{

  max-height: 680px;
  /* display: flex; */
  /* align-items: center; */
}
.banner-type-cta.full-height{
  max-height: calc(100vh - 80px);
  min-height:550px;
}
.banner-type-cta.banner-type-cta.full-height .cm-wrapper,
.banner-type-cta.banner-type-cta.full-height .row{
  height: 100%;
}
.banner-type-cta.with-padding{
  padding-top: 45px;
  padding-bottom: 45px;
}
.banner-type-cta.with-gradient{
  background: linear-gradient(60deg, #f5f5f5, #d9d9d9);
}
.banner-type-cta-title{
  margin-bottom: 50px;
}
.banner-type-cta-title.small-margin{
  margin-bottom: 20px;
}
.banner-type-cta.banner-type-cta.full-height .banner-type-cta-image{
  height: calc(100% - 50px); 
  width: auto;
   max-height: 680px;
}

.banner-type-cta-image{
  height: calc(100% - 50px);
}
.banner-type-cta-content{
  padding-right: 15px;
  padding-left: 15px;
  align-self: center;
  margin-right: auto;
  max-width: 33.333333%;
}
.content-align-row.image-first .banner-type-cta-content{
    order:2
}
.content-align-row.image-first .banner-type-cta-image-block{
  order:1;
  text-align:left;
}
.content-align-row.text-first .banner-type-cta-content{
  order:1
}
.content-align-row.text-first .banner-type-cta-image-block{
order:2;
text-align:right;
}

@media only screen and (max-width: 991px){
	
  .banner-type-cta.full-height{
    max-height: unset;
    height: auto;
  }
  .banner-type-cta-content{
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .banner-type-cta-content-wrapper{
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .banner-type-cta.banner-type-cta.full-height .row{
    height: auto;
  }
  .banner-type-cta-image-block,.content-align-row.text-first .banner-type-cta-image-block{
    text-align: center;
  }
  .banner-type-cta.banner-type-cta.full-height .banner-type-cta-image {
    width: 80%;
    height: auto;
    max-height: 680px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 767px){
	.content-align-row.image-first .banner-type-cta-content,
	.content-align-row.text-first .banner-type-cta-content{
    order:2;
    text-align:center;
    margin:0;
	}
	.content-align-row.image-first .banner-type-cta-image-block,
	.content-align-row.text-first .banner-type-cta-image-block{
		order:1;
		text-align:center;
	}
  .banner-type-cta{
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: unset;
  }
  .banner-type-cta-image{
    height: auto;
    width: 100%;
  }
  .banner-type-cta-title{
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-type-cta.banner-type-cta.full-height .banner-type-cta-image {
    max-width: 246px;
  }
  .banner-type-cta-content{
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}