/* .section-links{
  list-style: none;
  padding: 0;
  margin: 0;
} */
.section-links{
list-style: none;
padding: 0;
margin: 0;
height: calc(100vh - 120px);
width: 100%;
overflow: overlay;
-ms-overflow-style: none;
}
.section-links li{
  margin-bottom: 15px;
}
.section-links a{
  font-size: 16px !important;
}
.section-links a:hover,
.section-links a:not([href]):not([tabindex]):focus, 
.section-links a:not([href]):not([tabindex]):hover{
  color: #c4b67e;
}
.section-links a.active{
  text-decoration: underline;
  color: #c4b67e;
}

/* .section-links.is-fixed{
  position: fixed;
  top: 100px;
} */
.section-links.is-fixed{
position: fixed;
top: 100px;
width: calc(33.33% - 59px);

}
/* .section-links.is-fixed.is-bottom{
  position: absolute;
  bottom: 0;
  top: unset;
} */
.section-links.is-fixed.is-bottom{
position: absolute;
bottom: 0;
top: unset;
width: calc(100% - 30px);
}

.section-links::-webkit-scrollbar {
display: none;
}

@media only screen and (max-width:767px){
  .cm-accordion-link{
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  .questions-list .faq-sno{
    font-size: 14px;
  }
  .questions-list li{
    padding: 8px 0;
  }
}
