<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='tlc-aem-web.benefits-listing'}" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.ListOfTeasersModel">
<div  class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
<div  class="cm-top-padding-block cm-wrapper">
	<div  class="row">
		<div  class="col-md-10 offset-md-1">
			<div  class="mb-50 mb-25-sm">
    			<div data-sly-resource="${'heading-1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
			</div>
    			<div data-sly-resource="${'subHeading-1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>
		</div>
	</div>
</div>
   <div class="cm-wrapper cm-wrapper-collapse-mobile">
      <sly data-sly-list="${model.teasers}">
         <div class="cm-blog-item ${item.align}-aligned">
            <div class="row">
               <div class="col-md-6 blog-thumbnail-image-block">
                <div class="blog-thumbnail-image-aspect">
                  <img src="${item.imagePath}" alt="${item.imageAltText}" class="blog-thumbnail-image">
                  </div>
               </div>
               <div class="col-md-1 col-lg-2 spacer"></div>
               <div class="col-md-4 col-lg-3 blog-item-content">
                  <div class="blog-item-content-block">
                     <h1 class="cm-heading caption-title mb-50 mb-25-sm">${item.title}</h1>
                     <div class="cm-text-serif caption-text">
                        ${item.description @context ='html'}
                     </div>
						<a href="${item.ctaLink}" target="${item.ctaOpenInNewWindow == 'true' ? '_blank' : '' }"  class="cm-link cm-link-serif underlined">
                     ${item.ctaText}
                     </a>
                  </div>
               </div>
               <!-- overlay for banners  -->
               <div class="cm-banner-overlay"></div>
            </div>
         </div>
       </sly>
   </div>
</div>
</sly>
