.benefits-search-container {
	padding-bottom: 100px;
}

.benefits-dropdown-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.benefits-search-button {
	margin-left: auto;
	margin-right: auto;
}

.search-content-container {
	flex-direction: column;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.search-content-title {
	text-align: center;
	margin-bottom: 25px;
}
.footer-links{
  font-size: 14px;
  text-decoration: underline;
} 

.footer-links:hover{
	text-decoration: underline;
	color: #c4b67e ;
	font-size: 14px;
}
.footer-links svg{
	margin-right: 5px;
	width:17px;
	height:auto;
    display: inline-block;
	color:#B1AAAA;
}
.footer-links:hover svg{
	color: #c4b67e ;
}

@media only screen and (max-width: 767px) { 
/* .benefits-container{
    margin-top: 224px;
  } */
  .benefits-search-container {
   	padding-bottom:50px;
}
}