<div class="wrapper-contents">
<div class="main-body-container">
<div data-sly-resource="${'/apps/tlc-web-platform/components/content/banner' @ resourceType='/apps/tlc-web-platform/components/content/banner'}"></div>
<div data-sly-resource="${'membership-terms' @ resourceType='/apps/tlc-web-platform/components/content/membershipTerms'}"></div> 
<sly data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
</div>