<div class="wrapper-contents">
<div class="main-body-container">
<div data-sly-resource="${'property-detail' @ resourceType='/apps/tlc-web-platform/components/content/hotelDetail'}"></div>
<div data-sly-resource="${'dining-experience-card' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicExperiencesCard'}"></div>
<div data-sly-resource="${'member-benefits' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicAccordion'}"></div>
<div data-sly-resource="${'become-member' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicMember'}"></div> 
<div data-sly-resource="${'experience-carousel' @ resourceType='/apps/tlc-web-platform/components/content/dynamicComponent/dynamicExperienceCarousel'}"></div>
<div data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></div>
</div>
</div>