<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Social Links Component" class="cq-placeholder"></p>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='tlc-aem-web.socialLink'}" />
<sly data-sly-test="${!properties.disableComponent}">
    <sly data-sly-use.model="com.tlc.web.platform.core.models.SocialLinkModel">
        <!-- Social Share -->
        <div class="${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}" id="${properties.customScrollId}">

                <!--/* socialLinksList Multifield */-->
                <ul class="blog-social-icons" data-sly-list="${model.socialLinksList}">
                    <li >
                        <a href="${item.url ? item.url : '#'}" target="${item.openInNewWindow ? '_blank' : '_self'}">
                       <img src="${item.iconClass}" alt="" srcset="">
                        </a>
                    </li>
                </ul>
        </div>
        <!-- End Social Share -->
    </sly>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='tlc-aem-web.sociallink'}" />