
.cm-social-list{
	list-style:none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 50px;
  margin-top: 25px;
    margin-left: 20px;
}
.cm-social-list-item:not(:last-child){
  margin-right: 25px
}
.cm-social-list-item > a{
  display: block;
  cursor: pointer;
}
.cm-social-list li {
    margin-left: 20px;
}
@media (max-width: 767px){
  .cm-social-list{
    margin-bottom: 40px;
  }
}