<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Footer Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='tlc-aem-web.footer'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.FooterModel">
<div class="${properties.classType} ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">
    <div class="top-footer ">
      <div class="cm-wrapper">
         <div class="custom-hotel-list">
            <div class="custom-hotel-list-logo">
             <a href="${item.url}" target="${properties.ctaOpenInNewWindow == 'true' ? '_blank' : ''}"> <img src="${model.brandLogoImage}" alt="${properties.altText}"></a>
            </div> 
            <div data-sly-list="${model.topFooterLogoList}">
            <div data-sly-resource="${@path=item, resourceType='/apps/tlc-web-platform/components/content/listOfFooterLogo'}"></div>
            </div>
         </div>
      </div>
     </div>
</div>
 </sly>