<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Become a Member Form Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories= ['tlc-aem-web.memberForm', 'tlc-aem-web.chat' , 'tlc-aem-web.dropDown'] }" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.MemberFormModel">
    <form action="https://cs6.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" id="memberForm" class="cm-form member-form visible ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}">

        <input type=hidden name="orgid" value="00DN0000000Bysd">
        <input type=hidden name="retURL" value="https://www.clubmarriott.in/">
        <input type=hidden name="recordType" id="recordType" value="012N00000010sJT">
        <input type=hidden name="origin" id="origin" value="Web - Club Marriott">

        <h2 class="cm-heading mb-50 mb-25-sm">${properties.formHeading}</h2>
        <!-- input group for name -->
        <div class="cm-input-group">
            <!-- custom select for all options -->
            <div class="cm-select cm-input-item cm-select-mini" id="avail-title-select">
                <i class="arrow-down"></i>
                <input id="00NN0000007Alcw" maxlength="20" name="00NN0000007Alcw" size="20" type="text" class="cm-input" placeholder="${properties.salutation}" required></input>
                <p class="ErrMsg error" id="titleError" style="display: none">Please select title</p>
                <ul class="cm-select-options" id="dropdown-title" data-sly-list="${model.gender}">
                    <li class="cm-select-option title-select" data-value="${item.gender}" value="${item.gender}">${item.gender}</li>
                    
                </ul>
            </div>

            <label for="name" class="cm-input-label">
                <input id="name" maxlength="80" name="name" size="20" type="text" class="cm-input cm-input-item formElement name" placeholder="${properties.firstName}"  pattern="^[a-zA-Z]*$"  required></input>

                <p class="ErrMsg error" id="nameerror" style="display: none">Please enter firstname</p>
            </label>
            <label for="lastname" class="cm-input-label">
                <input id="00NN0000007Ald6" maxlength="50" name="00NN0000007Ald6" size="20" type="text" class="cm-input cm-input-item formElement name" placeholder="${properties.lastName}" pattern="^[a-zA-Z]*$" required></input>

                <p class="ErrMsg error" id="lastNameError" style="display: none">Please enter lastname</p>
            </label>
        </div>

        <div class="cm-input-group">
            <!--  <label for="" class="cm-input-label cm-input-mini">
          <span class="cm-text-16 cm-input-text">${properties.countryCode}</span>
        </label> -->
            <div class="cm-select cm-input-item cm-select-mini" id="avail-title-select">
                <i class="arrow-down"></i>
                <input type="text" name="00NN0000007Alcm" size="20" class="cm-input" maxlength="20" autocomplete="new-password" placeholder="+91" id="00NN0000007Alcm" required></input>
                <p class="ErrMsg error" id="countryCodeError" style="display: none">Please select country code</p>
                <ul class="cm-select-options" id="dropdown-Countrycode" data-sly-list="${model.countryCode}">
                    <li class="cm-select-option countryCode-select" data-value="${item.countryCode}">${item.countryCode}</li>
                </ul>
              </div>
              
            <label for="" class="cm-input-label input-number">
                <input type="number" maxlength="10" size="20" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="cm-input formElement" name="phone" id="phone" placeholder="${properties.mobile}" pattern="^[0-9]{10}$" required></input>

                <p class="ErrMsg error" id="mobileerror" style="display: none">Please enter valid mobile number</p>
            </label>
        
            </div>

        <label for="" class="cm-input-label">
            <input type="text" type="text" class="cm-input formElement" maxlength="80" size="20" id="email" name="email" placeholder="${properties.email}" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" required></input>

            <p class="ErrMsg error" id="emailerror" style="display: none">Please enter valid email address</p>
        </label>

        <label for="terms" class="cm-input-label md-checkbox cm-input-checkbox">
            <input type="checkbox" id="00NN0000007Alcr" name="00NN0000007Alcr" value="1" required></input>
            
            <label></label>
            ${properties.tncText @context = 'html'}
        </label>
        <p class="ErrMsg error" id="checkboxError" style="display: none">Please agree to terms</p>
        <!-- <p class="ErrMsg error" id="termsErrMsg" style="display: none">Please agree to terms</p> -->
        <p class="help-text assist-space">
            ${properties.helpText}
        </p>
        <div class="mt-20 help-links">
            <a class="cm-footer-link cm-link-serif lets-chat-link footer-links" href="">
              <img src="${inheritedPageProperties.letsChatIcon}"/>
           		${inheritedPageProperties.chatText}
			</a>
                
            <a class="cm-footer-link cm-link-serif footer-links" href="tel:${inheritedPageProperties.tollFreeNo}">
               <img src="${inheritedPageProperties.callIcon}"/>
             	 ${inheritedPageProperties.tollFreeText}
             </a>
        </div>
        <input type="submit" name="submit" id="getStartedButton" class="cm-button primary mt-30 mt-25-sm cm-wide-mobile">
    </form>
</sly>