.cm-blog-item {
	margin-bottom: 100px;
}

.blog-thumbnail-image {
    position:absolute;
    top:0;
    left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}
.blog-thumbnail-image-aspect{
	/* ﻿padding-top: 64.3%; */
   /*  overflow: hidden; */
    width: 100%;
   /*  position: relative; */
    padding-top:64.3%;
    position:relative;
}
.blog-item-content {
	text-align: left;
}

.left-aligned .blog-item-content {
	order: 1;
}

.left-aligned .blog-thumbnail-image-block {
	order: 3;

}

.left-aligned .spacer {
	order: 2;
}

.right-aligned .blog-item-content {
	order: 3;
}

.right-aligned .blog-thumbnail-image-block {
	order: 1;
	
}

.right-aligned .spacer {
	order: 2;
}
@media only screen and (max-width:991px){
	.blog-thumbnail-image-aspect{
		padding-top:88.4%;
	}
}
@media only screen and (max-width: 767px) {
	.blog-thumbnail-image-block {
		margin-bottom: 30px;
	}
	.blog-thumbnail-image {
		/* height: 280px;
    object-fit: cover; */
		
	}
	.blog-item-content-block {
		padding: 0 20px;
	}
	.cm-blog-item:nth-child(odd) .blog-item-content, .left-aligned .blog-item-content{
		order: 3;
	}
	.cm-blog-item:nth-child(odd) .blog-thumbnail-image-block, .left-aligned .blog-thumbnail-image-block{
		order: 1;
	}

	.cm-blog-item:nth-child(even) .blog-item-content, .right-aligned .blog-item-content{
		order: 3;
	}
	.cm-blog-item:nth-child(even) .blog-thumbnail-image-block,
		.right-aligned .blog-thumbnail-image-block {
		order: 1;
	}
}