<sly class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Benefit search Results listing Component"></sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.owlCarousel'}" />	 
   
    <div class="benefits-container" id="benefits-search-result" data-loadAllResults="${properties.loadAllResults}" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">
        <div class="cm-wrapper cm-bottom-padding-block" >
            <div class="mb-50" id= "benefits-heading">
               <sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
            </div>
  
          <sly  data-sly-use.model="com.tlc.web.platform.core.models.HotelListingModel">
            <div class="owl-carousel cm-owl-carousel  hotels-listed" id="hotel-list-card"></div>
            <div class="benefits-carousel-container"  id="searchRes" >
                <script id="search" type="text/X-handlebars-template">
                {{#each this}}
				  <a href="{{this.pageUrl}}" class="cm-link cm-owl-carousel-content-link">
                    <div class="cm-owl-carousel-item">
                        <div class="cm-owl-carousel-image-block"> 
                            <img src="{{this.bgImage}}" alt="{{this.bgImageAltText}}" class="cm-owl-carousel-image">
                        </div>
                        <div class="cm-owl-carousel-content">
                            <p class="cm-text-serif cm-owl-carousel-content-body"></p>
                            <h2 class="cm-heading cm-owl-carousel-content-title">{{this.propertyName}}</h2>
                            <!--<p class="cm-text-serif cm-owl-carousel-content-body">${item.descriptionLarge}</p> -->   
                        </div>
                    </div>
				   </a>
               {{/each}}
              </script>
          </div>
          <div id="city-path" data-cityPath="${model.cityPath}" data-pageP="${currentPage.getParent.getPath}" hidden >
        </div>
        </sly>

	 <div class="mb-50" id="noResults"  hidden>
         <sly data-sly-resource="${'heading2' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
     </div>
     
      <div id= "dynlisting"  data-sly-use.model="com.tlc.web.platform.core.models.BenefitsSearchResultListing"> 
     
           <div class="benefits-carousel-container">
			  <div class="owl-carousel cm-owl-carousel" data-sly-list="${model.propertyList}">                         
                 <div class="cm-owl-carousel-item">
                    <a href="${item.pageUrl}" class="cm-link cm-owl-carousel-content-link">
                        <div class="cm-owl-carousel-image-block">
                            <img src="${item.bgImage}" alt="${item.bgImageAltText}" class="cm-owl-carousel-image">
                        </div>
                        <div class="cm-owl-carousel-content">
                            <p class="cm-text-serif cm-owl-carousel-content-body"></p>
                            <h2 class="cm-heading cm-owl-carousel-content-title">${item.propertyName}</h2>
                            <!--<p class="cm-text-serif cm-owl-carousel-content-body">${item.descriptionLarge}</p> -->
                        </div>
                    </a> 
                 </div>
              </div>
            </div>

          </div>
            
        </div>
    </div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.js @ categories='tlc-aem-web.benefitSearchResult'}" />