.cm-header{
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 11;
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 14px -5px #ccc;
  transition: .5s;
}
.cm-header.cm-hidden{
  top: -80px;
  transition: .8s;
}
.cm-header-wrapper{
  max-width: 1440px;
  padding: 0px 25px;
  display: flex;
  height: 80px;
  margin: auto;
  align-items: center;
}
.cm-header-wrapper > *:last-child{
  margin-left: auto;
}
.cm-header-logo{
    height: 17px;
    margin-right: 20px;
}

/* Hamburger styling */
.cm-header-hamburger{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0px 10px -5px #8e8e8e;
    width: 250px;
    padding: 20px;
    transform: translateX(110%);
    transition: .5s;
}
.cm-header-hamburger.cm-header-hamburger-opened{
  transform: translateX(0%);
}
.cm-header-hamburger-link{
  display: block;
  /* background: black; */
  width: 20px;
  height: 14px;
  border-bottom: 2px solid #c4b67e;
  border-top: 2px solid #c4b67e;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  transition: .3s;
  position: fixed;
  top: 34px;
  right: 20px;
  z-index: 1;
}
.cm-header-hamburger-link::after,
.cm-header-hamburger-link::before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #c4b67e;
  top: 4px;
  transition: .6s;
}
.cm-header-hamburger-link.cm-header-hamburger-link-opened{
  border: none;
}
.cm-header-hamburger-link.cm-header-hamburger-link-opened::after{
  transform: rotate(45deg)
}
.cm-header-hamburger-link.cm-header-hamburger-link-opened::before{
  transform: rotate(-45deg)
}

/* member drawer styling */
.cm-member-drawer{
  max-width: 637px;
  width: 637px;
  position: fixed;
  right: 0;
  background: #fff;
  padding: 50px 125px;
  box-shadow: -2px 0 1px 1px rgba(0, 0, 0, 0.06);
  top: 0px;
  height: calc(100vh);

  overflow: overlay;
  display: flex;
  flex-direction: column;
  transform: translateX(110%);
  transition: .5s;
}
.cm-member-drawer::before, .cm-member-drawer::after {
  content: '';
}
.cm-member-drawer::before {
  margin-top: auto;               /*  added  */
}
.cm-member-drawer::after {
  margin-bottom: auto;            /*  added  */
}
.cm-member-drawer.cm-member-drawer-opened{
  transform: translateX(0%);
}
.cm-member-close{
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
  /* opacity: 0; */
}
.cm-member-drawer-overlay{
  position: fixed;
  top: 80px;
  left: 0;
  background: rgba(0, 0, 0, .2);
  width: 100%;
  max-width: 100%;
  padding: 0;
  z-index: 0;
  opacity: 0;
  display: block;
  height: calc(100vh - 80px);
  /* cursor: pointer; */
  transform: translateX(-100%);
}
.cm-member-drawer-overlay.cm-member-drawer-overlay-opened{
  opacity: 1;
  transform: translateX(0%);
}
@media only screen and (max-width: 991px){
  .cm-member-drawer{
    width: 100vh;
  }
  .cm-member-close{
    opacity: 1;
  }
  .cm-header-hamburger{
    width: 100vw;
    display: flex !important;
    align-items: center;
    justify-content: center;
    /* left: 0; */
  }

  .cm-header.cm-hidden .cm-header-hamburger-link{
    top: -40px;
    transition: .5s;
  }
  .cm-hamburger-wrapper{
    width: 100%;
    max-width: 245px;
    display: inline-block;
  }
  .cm-header.cm-hidden .cm-header-hamburger-link{
    top: -40px;
    transition: .5s;
  }
}
@media only screen and (max-width: 767px){
  .cm-header{
    padding: 0 20px;
    height: 50px;
    max-width: 100vw;
  }
  .cm-header-wrapper{
    height: 50px;
    padding: 0;
  }
  .cm-header-hamburger-link{
    top: 18px
  }
  .cm-member-drawer{
    max-width: 100vw;
    width: 100vw;
    top: 50px;
    height: calc(100vh - 50px);
    padding: 50px 85px;
  }
  .cm-member-drawer-overlay{
    visibility: hidden;
  }
  .cm-member-close{
    right: 20px;
    top: 23px;
  }
}