<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure outlet Detail Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='tlc-aem-web.hotelDetail'}" />
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.carouselGeneric'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.OutletDetailModel">
<sly data-sly-test="${model.detailpagelayout.bgImages}">
	<div class="cm-padding-block">
		<div class="cm-type-1 cm-carousel" >
			<div id="cm-generic-carousel" class="carousel slide" data-ride="carousel">
				
				<ol class="carousel-indicators"> </ol>
				<!-- <div class="carousel-inner" data-sly-list="${model.outlet.outletWebBannerImages}"> -->
			  <div class="carousel-inner" data-sly-list="${model.detailpagelayout.bgImages}"> 
				<div class="carousel-item ${itemList.first ? 'active' : ''}">
					<div class="cm-banner ${!wcmmode.edit ? 'banner-height-Calc':''} cm-type-1 ">
						<img class="cm-banner-carousel-image" src="${item.image}" alt=""> 
						<div class="cm-banner-overlay"></div>
					</div>
				</div>
			  </div>
			</div>
		
			<sly data-sly-test="${model.detailpagelayout.bgImages.size>1}">
			<a class="carousel-control-prev" href="#cm-generic-carousel" role="button" data-slide="prev"> 
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="79" viewBox="0 0 39 79">
				<g fill="none" fill-rule="evenodd" transform="translate(-41)">
				<ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
            	<path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
        		</g>
      			</svg> 
      			<span class="sr-only">Previous</span>
			</a> 
			<a class="carousel-control-next" href="#cm-generic-carousel" role="button" data-slide="next"> 
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="79" viewBox="0 0 40 79">
          	<g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 80 0)">
             <ellipse cx="40" cy="39.5" fill="#FFF" rx="40" ry="39.5" />
             <path fill="#DDDBD6" d="M49.763 40.737l13.474 10v-20z" />
          	</g>
        	</svg> 
        	<span class="sr-only">Next</span>
			</a> 
		</sly>
		</div>
	</div>
	</div>
</sly>

<div class="cm-padding-block cm-wrapper">
    <div class="row"> 
      <div class="col-md-5 col-lg-4">      
        <div class="property-details">
            <div class="property-title">
              <h1 class="cm-heading">${model.detailpagelayout.title}</h1>
               <sly data-sly-use.model1="com.tlc.web.platform.core.models.SocialLinkModel">
              <ul class="cm-social-list" data-sly-list="${model1.socialLinksList}">
                    <li class="cm-social-list-item cm-menu-link">
                        <a href="${item.url ? item.url : '#'}" target="${item.openInNewWindow ? '_blank' : '_self'}">
                       <img src="${item.iconClass}" alt="" srcset="">
                        </a>
                    </li>
              </ul>
              </sly>
          </div>
            <div class="property-content">
                <div class="property-content-item" data-sly-test="${model.detailpagelayout.descriptionLarge}">
                  <h3 class="cm-text-16 property-content-item-heading">${inheritedPageProperties.overviewText}</h3>
                  <p class="cm-text-serif property-content-item-body">
                      ${model.detailpagelayout.descriptionLarge @ context = 'html'}
                  </p>
                </div>
            
               
               <!--  <div class="property-content-item" data-sly-test="${model.outlet.cuisine}">
                    <h3 class="cm-text-16 property-content-item-heading" >${inheritedPageProperties.cuisineText}</h3>
                    <p class="cm-text-serif property-content-item-body" >
                        ${model.outlet.cuisine}
                    </p>
                </div> -->

                <div class="property-content-item" data-sly-test="${model.outlet.outletAddress}">
                    <h3 class="cm-text-16 property-content-item-heading" >${inheritedPageProperties.addressText}</h3>
                    <p class="cm-text-serif property-content-item-body">
                      ${model.outlet.outletAddress}
                    </p>
                </div>
               
                <div class="property-content-item" data-sly-test="${model.outlet.contact}">
                    <h3 class="cm-text-16 property-content-item-heading">${inheritedPageProperties.contactDetailsText}</h3>
                    <p class="cm-text-serif property-content-item-body">
                        <span>${model.outlet.contact}</span> <!-- <sly data-sly-test="${model.outlet.contacttext}">or </sly><a class="cm-link" href="${model.outlet.contactlink}">${model.outlet.contacttext}</a> -->
                    </p>
                </div>
                <div class="property-content-item"  data-sly-test="${model.outlet.outletTiming}">
                    <h3 class="cm-text-16 property-content-item-heading">${inheritedPageProperties.operatingHoursText}</h3>
                    <p class="cm-text-serif property-content-item-body">
                        ${model.outlet.outletTiming}
                    </p>
                </div>
            </div>
          </div>
          </div>

      <div class="col-md-6 col-lg-7 offset-lg-1 offset-md-1">
          <img class="full-image" src="${model.outlet.outletSideWebImage}" alt="${model.outlet.imageAltText}">
      </div>
      <div class="col-12">
          <div class="cm-button-group start vertical-sm mt-50 property-actions">
              <a href="${inheritedPageProperties.becomeMemberUrl}.html" class="cm-button cm-button-sm primary cm-wide-mobile">${inheritedPageProperties.becomeMemberText}</a>
              <sly data-sly-resource="${'popUpCta1' @ resourceType='/apps/tlc-web-platform/components/content/popUpCta'}"></sly>
            </div>
			<div class="">
				<a class="cm-link property-back-link underlined" href="${model.outlet.pageUrl}">${inheritedPageProperties.backToHotelText}</a>
			</div>
		</div>
    </div>   
</div>

</sly> 
