<sly data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure owl Carousel Component" class="cq-placeholder"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.owlCarousel'}" />

<div data-sly-resource="${'heading-owl-car' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>

<script id="handlebars-owl" type="text/x-handlebars-template"> 
  {{#each this}}
  {{#if this.detailPageLayout1}}
    <div class="cm-owl-carousel-item">
         <a href="{{this.detailPageLayout1.pageUrl}}" class="hotel-link">
          <div class="cm-owl-carousel-image-block">
            <img src="{{this.detailPageLayout1.sliderImage}}" alt="{{this.detailPageLayout1.sliderImageAltText}}" class="cm-owl-carousel-image">
          </div>
    
          <div class="cm-owl-carousel-content">
              <p class="cm-owl-carousel-subtext cm-text-serif">{{this.subBrandTag}}</p>
              <h2 class="cm-heading cm-owl-carousel-content-title">{{this.detailPageLayout1.title}}</h2>
          </div>
		 </a>	
    </div>
    {{/if}}


    {{#if this.detailPageLayout2}}
    <div class="cm-owl-carousel-item">
         <a href="{{this.detailPageLayout2.pageUrl}}" class="hotel-link">
          <div class="cm-owl-carousel-image-block">
            <img src="{{this.detailPageLayout2.sliderImage}}" alt="{{this.detailPageLayout2.sliderImageAltText}}" class="cm-owl-carousel-image">
          </div>
    
          <div class="cm-owl-carousel-content">
              <p class="cm-owl-carousel-subtext cm-text-serif">{{this.subBrandTag}}</p>
              <h2 class="cm-heading cm-owl-carousel-content-title">{{this.detailPageLayout2.descriptionSmall}}</h2>
          </div>
		 </a>	
    </div>
    {{/if}}


    {{#if this.detailPageLayout3}}
    <div class="cm-owl-carousel-item">
         <a href="{{this.detailPageLayout3.pageUrl}}" class="hotel-link">
          <div class="cm-owl-carousel-image-block">
            <img src="{{this.detailPageLayout3.sliderImage}}" alt="{{this.detailPageLayout3.sliderImageAltText}}" class="cm-owl-carousel-image">
          </div>
    
          <div class="cm-owl-carousel-content">
              <p class="cm-owl-carousel-subtext cm-text-serif">{{this.subBrandTag}}</p>
              <h2 class="cm-heading cm-owl-carousel-content-title">{{this.detailPageLayout3.descriptionSmall}}</h2>
          </div>
		 </a>	
    </div>
    {{/if}}


    {{#if this.detailPageLayout4}}
    <div class="cm-owl-carousel-item">
         <a href="{{this.detailPageLayout4.pageUrl}}" class="hotel-link">
          <div class="cm-owl-carousel-image-block">
            <img src="{{this.detailPageLayout4.sliderImage}}" alt="{{this.detailPageLayout4.sliderImageAltText}}" class="cm-owl-carousel-image">
          </div>
    
          <div class="cm-owl-carousel-content">
              <p class="cm-owl-carousel-subtext cm-text-serif">{{this.subBrandTag}}</p>
              <h2 class="cm-heading cm-owl-carousel-content-title">{{this.detailPageLayout4.descriptionSmall}}</h2>
          </div>
		 </a>	
    </div>
    {{/if}}
        
  {{/each}}
</script>

<sly data-sly-use.model="com.tlc.web.platform.core.models.OwlCarouselModel">
<sly data-sly-test="${model.signatureCollectionList}">
<div class="benefits-container owlCarouselConatiner">
	<div class="cm-wrapper cm-padding-block">
		<div class="benefits-carousel-container"
			data-object="${model.signatureCollectionList.size}">
			<div id="owl-carousel-id"
				signatureCollectionPath="${model.signatureCollectionPath}"
				pagePath="${model.pagePath}" class="owl-carousel cm-owl-carousel"
				data-sly-list="${model.signatureCollectionList}"
				data-attr-dots="${properties.includeDots}"
                data-attr-nav="${properties.includeOwlNav}">

                <sly data-sly-test="${item.detailPageLayout1}">
				<div class="cm-owl-carousel-item">
					<a href="${item.detailPageLayout1.pageUrl}" class="hotel-link">
						
						<div class="cm-owl-carousel-image-block">
							<img src="${item.detailPageLayout1.sliderImage}"
								alt="${item.detailPageLayout1.sliderImageAltText}"
								class="cm-owl-carousel-image">
						</div>

						<div class="cm-owl-carousel-content p-mtb-0">
							<p class="cm-owl-carousel-subtext cm-text-serif">${item.subBrandTag}</p>
							<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout1.title}</h2>
							<!-- <p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout1.descriptionSmall @ context = 'html'}</p> -->
							<!-- <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a> -->
						</div>

						
					</a>
                </div>
            </sly>

           


            <sly data-sly-test="${item.detailPageLayout2}">
				<div class="cm-owl-carousel-item">
					<a href="${item.detailPageLayout2.pageUrl}" class="hotel-link">
						
						<div class="cm-owl-carousel-image-block">
							<img src="${item.detailPageLayout2.sliderImage}"
								alt="${item.detailPageLayout2.sliderImageAltText}"
								class="cm-owl-carousel-image">
						</div>

						<div class="cm-owl-carousel-content p-mtb-0">
							<p class="cm-owl-carousel-subtext cm-text-serif">${item.subBrandTag}</p>
							<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout2.descriptionSmall}</h2>
							<!-- <p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout1.descriptionSmall @ context = 'html'}</p> -->
							<!-- <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a> -->
						</div>

						
					</a>
                </div>
            </sly>



            <sly data-sly-test="${item.detailPageLayout3}">
				<div class="cm-owl-carousel-item">
					<a href="${item.detailPageLayout3.pageUrl}" class="hotel-link">
						
						<div class="cm-owl-carousel-image-block">
							<img src="${item.detailPageLayout3.sliderImage}"
								alt="${item.detailPageLayout3.sliderImageAltText}"
								class="cm-owl-carousel-image">
						</div>

						<div class="cm-owl-carousel-content p-mtb-0">
							<p class="cm-owl-carousel-subtext cm-text-serif">${item.subBrandTag}</p>
							<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout3.descriptionSmall}</h2>
							<!-- <p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout1.descriptionSmall @ context = 'html'}</p> -->
							<!-- <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a> -->
						</div>

						
					</a>
                </div>
            </sly>


            <sly data-sly-test="${item.detailPageLayout4}">
				<div class="cm-owl-carousel-item">
					<a href="${item.detailPageLayout4.pageUrl}" class="hotel-link">
						
						<div class="cm-owl-carousel-image-block">
							<img src="${item.detailPageLayout4.sliderImage}"
								alt="${item.detailPageLayout4.sliderImageAltText}"
								class="cm-owl-carousel-image">
						</div>

						<div class="cm-owl-carousel-content p-mtb-0">
							<p class="cm-owl-carousel-subtext cm-text-serif">${item.subBrandTag}</p>
							<h2 class="cm-heading cm-owl-carousel-content-title">${item.detailPageLayout4.descriptionSmall}</h2>
							<!-- <p class="cm-text-serif cm-owl-carousel-content-body">${item.detailPageLayout1.descriptionSmall @ context = 'html'}</p> -->
							<!-- <a href="" class="cm-link cm-owl-carousel-content-link">Explore Benefits</a> -->
						</div>

						
					</a>
                </div>
            </sly>

			</div>
		</div>
	</div>
</div>

</sly> 
</sly>