<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Become a Member Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  data-sly-call="${clientlib.all @ categories=['tlc-aem-web.dynamicMember' , 'tlc-aem-web.chat']}"/>

<sly data-sly-use.model="com.tlc.web.platform.core.models.BecomeAMemberModel">
    <sly data-sly-list="${model.becomeMemberCard}">

<div class="personal-section ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass}${properties.paddingRightClass} ${properties.paddingLeftClass} ${properties.customStyleClass}" id='personal-section-1'>
  <div class="cm-wrapper cm-padding-block">
  <div class="member-section right-aligned">
    <h1 class="cm-heading content-title visible-mobile">${inheritedPageProperties.becomeMemberHeadingText}</h1>

    <div class="row">
      <div class="col-md-7 image-section ">
        <img class="" src="${item.leftImage}" alt="" class="member-section-image">
      </div>
      <div class="col-md-1 spacer"></div>
      <div class="col-md-4 cm-member-section-content">
          <h1 class="cm-heading content-title hidden-mobile">${inheritedPageProperties.becomeMemberHeadingText}</h1>
          <p class="cm-text-serif content-desc">
             ${item.descriptionLarge @context='html'}
          </p>
        
          <p class="price">
              ${item.price}
          </p>
          <p class="cm-text-serif content-desc" data-sly-test="${item.sobLink}">
              ${pageProperties.toKnowMoreText}  <a href="${item.sobLink}" class="cm-link underlined" target="_blank"> ${pageProperties.pdfText}</a>.
          </p>

          <div class="cm-button-group mb-25 vertical-sm">
            <a href="${pageProperties.getStartedUrl}" class="cm-button primary caption-cta carousel-item-hidden">
             ${pageProperties.getStartedCtaText}
            </a>
            <a href="${pageProperties.downloadAppUrl}" class="cm-button primary caption-cta  carousel-item-hidden">
              ${pageProperties.downloadAppCtaText}
              </a>
          </div>
          <p class="help-text member-subtext">${pageProperties.terms}</p>
                   
           <div class=" member-links-block mt-20 help-links">
            <a class="cm-link cm-link-serif lets-chat-link footer-links" href="">
              <img src="${inheritedPageProperties.letsChatIcon}"/>
           		${inheritedPageProperties.chatText}
			</a>
                
            <a class="cm-link cm-link-serif footer-links" href="tel:${inheritedPageProperties.tollFreeNo}">
               <img src="${inheritedPageProperties.callIcon}"/>
             	 ${inheritedPageProperties.tollFreeText}
             </a>
        </div>
      </div>
    </div>
</div>
</div>
    </div>

</sly>
</sly>
