.app-ctas{
  display: flex;
  margin-bottom: 0px;
  flex-wrap: wrap;
}
.app-ctas-image{
  flex: 1;
  display: block;
}
.app-ctas-image:first-child{
  margin-right: 20px;
}
.app-ctas-image img{
  width: 100%;
}
.app-ctas-text{
  margin-top: 25px;
  text-align: right;
  width: 100%;
}
@media only screen and (max-width:767px){
  .app-ctas{
    margin-top: 25px;
    font-size:0;
  }
  .app-ctas-image img{
    width: 100%;
    width: 100%;
    height: auto;
  }
  .app-ctas-image{
    text-align: center;
    flex: 1;
    width:calc(50% - 10px);
        display: inline-block;
    margin-bottom: 0px;
  }
  .app-ctas-text{
    text-align: center;
    margin-top: 15px;
  }
}