<!--  Dynamic Offers Teaser Carousel Type 1 Component for Experiences Page-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
       data-sly-call="${clientlib.all @ categories=['tlc-aem-web.dynamicTeaserCarousel' , 'tlc-aem-web.listOfTeasers']}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicTeaserCarouselModel">
<div id= "teaserfeatureid" offerEventPath="${model.offersEventPath}" cityPath="${model.cityPath}"  pagePath="${model.pagePath}" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">

    <sly data-sly-test="${model.offersEventsList}">
		<div class="cm-wrapper offersEventsContainer cm-padding-block ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
			<div class='row'>
				<div class='col-md-10 offset-md-1 mb-50'> 
					<sly data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></sly>
				</div>
			</div>
    	<div class="cm-teasers-list-block">
    		<script id="handlebars-featuredOffers" type="text/x-handlebars-template"> 
      		{{#each this}}
     		<li class="item cm-teasers-list-item">
              
            	<div class="cm-teaser-list-image-block">
               		<img src="{{this.image}}" class="cm-teaser-list-image" alt="{{this.imageAltText}}" srcset="" />
					{{#if this.tagDisplay}}
						<span class="location-tag cm-text white"> {{this.tagDisplay}}</span>
					{{/if}}
                  	 <div class="cm-teasers-list-item-cta hidden-mobile"> 
                     <!-- the redirect link in below should be same in both anchor tags in the same <li> -->
                   		<a href="{{this.pageUrl}}" class="cm-button primary cm-teaser-link">${model.offerTeaserType2CtaText @ context = 'html'}</a>
                   </div>
             	</div>
                  <h2 class="cm-heading">{{{this.descriptionSmall}}}</h2> 
				  <p class="cm-text-serif">{{this.propertyName}}</p>
            </li>
     	   {{/each}}
   		   </script>


  			<ul class="cm-teasers-list  owl-carousel teaser-owl-carousel owl-theme" id="featuredOffersid"  data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">


            <sly data-sly-list="${model.offersEventsList}">
    				<!-- teaser item -->
    				<li class="item cm-teasers-list-item" id ="hide">
                    
      					<div class="cm-teaser-list-image-block">
        				<img src="${item.image}" class="cm-teaser-list-image" alt="${item.imageAltText}" />
        				<span class="location-tag cm-text white" data-sly-test="${item.tagDisplay}">${item.tagDisplay}</span>
        				<div class="cm-teasers-list-item-cta hidden-mobile"> 
          				 <a href="${item.pageUrl}"  data-sly-test="${model.offerTeaserType2CtaText}" class="cm-button primary cm-teaser-link">${model.offerTeaserType2CtaText}</a> 
        				</div> 
      					</div>
       				      <h2 class="cm-heading">${item.descriptionSmall @context ='html'}</h2>
        				  <p class="cm-text-serif">${item.propertyName} </p>
    				</li>
  				</sly>

  			  </ul>

			</div>
		</div>
	</sly>
</div>
</sly>
