<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Dynamic Teaser Carousel Component" class="cq-placeholder"></p>

<sly data-sly-use.model1="com.tlc.web.platform.core.models.dynamic.DynamicTeaserCarouselModel">

<sly data-sly-test="${model1.componentType=='component1'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicComponent/offersTeaserCarousel/offersTeaserCarousel1.html"></section>
</sly> 
<sly data-sly-test="${model1.componentType=='component2'}">
	<section data-sly-include="/apps/tlc-web-platform/components/content/dynamicComponent/offersTeaserCarousel/offersTeaserCarousel2.html"></section>
</sly> 


</sly>