<!--  Dynamic Offers Teaser Carousel Type 2 Component for Hotels & resorts Page-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories=['tlc-aem-web.dynamicTeaserCarousel' , 'tlc-aem-web.listOfTeasers']}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicTeaserCarouselModel">
    <div id="teaserfeatureid" offerEventPath="${model.offersEventPath}" cityPath="${model.cityPath}" pagePath="${model.pagePath}" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}">

        <sly data-sly-test="${model.offersEventsList}">
            <div class="cm-wrapper offersEventsContainer cm-padding-block ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
                <div class='row' id="featuredOffersHeading" style="display:none;">
                    <div class='col-md-10 offset-md-1 mb-50'>
                    <h1 class="cm-heading  cm-main-heading"><sly data-sly-test="${properties.featuredOffersAt}"><p class="cityN" headingText="${properties.featuredOffersAt}" style="text-align: center;"><b></b></p> </sly>
					</h1>
                    </div>
                </div>
                <div class="cm-teasers-list-block">
                    <script id="handlebars-featuredOffers" type="text/x-handlebars-template">
                        {{#each this}}
                        <li class="item cm-teasers-list-item">

                                <div class="cm-teaser-list-image-block">
                                    <img src="{{this.image}}" class="cm-teaser-list-image" alt="{{this.imageAltText}}" srcset="" />
									{{#if this.tagDisplay}}
										<span class="location-tag cm-text white">{{this.tagDisplay}}</span>
									{{/if}}
                                    <div class="cm-teasers-list-item-cta hidden-mobile"> 
                                    <a href="{{this.pageUrl}}" class="cm-button primary cm-teaser-link">${model.offerTeaserType2CtaText @ context = 'html'}</a>
                                    </div> 
                                </div>
								<h2 class="cm-heading">{{{this.descriptionSmall}}} </h2>
                                <p class="cm-text-serif">{{this.propertyName}}</p>

                           
                        </li>
                        {{/each}}
                    </script>

                 <ul class="cm-teasers-list  owl-carousel teaser-owl-carousel owl-theme" id="featuredOffersid"  data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}"></ul>
             </div>
        </div>
        </sly>
        
    </div>
</sly>i