.search-results-container{
padding-bottom: 100px;
}
.search-results-section{
  display: none;
}
.search-results-section.search-results-section-active{
  display: block;
}
.search-filter-block{
  /* width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between;  */
}
.search-categories{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* margin-bottom: 50px; */
}
.search-category{
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #b1aaaa;
  padding: 0 25px;
  cursor: pointer;
  transition: .3s;
}
.search-category:hover{
  text-decoration: underline;
}
.search-category.search-category-active{
  color: #c4b67e;
  text-decoration: underline;
}
.search-category:first-child{
  padding-left: 0;
}
.search-category:last-child{
  padding-right: 0;
}
.search-filter-inputs{
  flex: 1;
  padding: 0 0px;
  display: flex;
}

/* 20th December changes */
.per-page{
  display: inline-flex;
  align-items: center;
}
.pagination-container{
  display: inline-flex;
}
.centered-filters{
  align-items: center;
  justify-content: space-between;
  display: flex;
}
/* 20th December changes ends*/
.hotel-link, .hotel-link:hover{
	color: #2d2d2d;
	text-decoration: none;
}
.hotel-link:hover .hotel-card-image{
opacity:.8
}

.per-page h2{
  margin-right: 5px;
}
@media only screen and (max-width:767px){
  .search-categories{
    margin-bottom: 30px;
  }
  .search-category{
    /* padding: 0px 10px; */
    text-align: center;
    flex: 1;
  }
  .search-filter-inputs{
      flex-direction: column;
  }
  .search-filter-links{
    align-items: center;
    justify-content: center;
    display: flex;
    order: 2;
    margin-top: 25px;
  }
  .search-category{
    font-size: 12px;
  }
}