.hotel-card{
    margin-bottom: 50px;
    position: relative;
    width: 100%;
   /*  padding-top: 177.77%; 16:9 Aspect Ratio */
}
.aspect-fix{
/*   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  	position: relative;
    width: 100%;
    padding-top: 121.2%;
    height: 0;
    margin: 0;
    margin-bottom: 25px;
  
}
.aspect-fix .hotel-link{
	 position: absolute;
  	top: 0;
 	 left: 0;
  	bottom: 0;
  	right: 0;
}
.hotel-card.less-space{
  margin-bottom: 50px;
}
.hotel-card-image{
  width: 100%;
/*   margin-bottom: 25px; */
  height: 100%;
  object-fit: cover;
}