 .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: black;
        font-family: "Arial", sans-serif;
    }
.embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #F39C12;
    }