.name {
 text-transform:capitalize;
}
.member-form{
  width: 100%;
}
.assist-space{
  padding-left: 30px;
} 
@media only screen and (max-width: 767px){
  .help-links{
  	text-align:center;
  }
  .cm-select.cm-select-mini{
    width: 50px;
    min-width: 50px;
    margin-right: 15px;
  }
  .cm-input-label.cm-input-mini{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
  }
  .cm-input-group .cm-input-label{
    margin-right: 15px;
  }
  .cm-input-group .cm-input-label:last-child{
    margin-right: 0;
  }
}

.cm-input-label.input-number {
    position: relative;
}

.cm-input-label.input-number:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 87%;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}