<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Accordian Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.accordian'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.AccordianModel">

    <div class="cm-wrapper cm-padding-block">
        <div class="error-content row">
            <div class="col-md-10 offset-md-1">
                <!-- Rich text medium -->
                <h2 class="cm-heading mb-25 ">${properties.headingMain}</h2>
                <p class="cm-text-serif">
                    <a href="" class="cm-link cm-link-serif lets-chat-link footer-links">
                    <img src="${inheritedPageProperties.letsChatIcon}"/>
           	 		${inheritedPageProperties.chatText}
                     </a>
                </p>

                <sly data-sly-list="${model.faqList}">

                    <h2 class="cm-heading mt-50 mb-25">${item.heading}</h2>

                    <ul class="questions-list" id="general-list${itemList.count}">
                        <sly data-sly-list.nestedItem="${item.accordianItem}">

                            <li class="cm-accordion-item">
                                <span class="faq-sno"></span>
                                <span class="faq-question cm-text-16 cm-text">${nestedItem.text}</span>
                                <span class="cm-plus cm-accordion-link"></span>
                                <div class="cm-accordion-content" id="${nestedItem.parsysId}">

                                    <sly data-sly-test="${wcmmode.edit}">
                                        Configure ${nestedItem.parsysId} Tab
                                    </sly>
                                    <div data-sly-resource="${@path=nestedItem.parsysId , resourceType='wcm/foundation/components/parsys' } "></div>

                                </div>
                            </li>

                        </sly>
                    </ul>

                </sly>

            </div>
        </div>
    </div>

</sly>

