/* type 1 for banner type */
.cm-type-1 {
	position: relative;
}
/* overlay */
.cm-type-1 .cm-banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
}
/* image style */
.cm-type-1 >img, .cm-type-1-image {
	/* height: 680px; */
	height: 480px; 
   	max-height: calc(100vh - 80px); 
	/* min-height: 500px;
	height: 100%;
	max-height: 680px; */
	object-fit: cover;
	width: 100%;
	background: #ddd;
}

/* carousel indicators ovveride for banner type */
.cm-type-1 .carousel .carousel-indicators {
	margin-bottom: 30px;
	z-index: 2;
}

.cm-carousel-type2 img{
  height: 100%;
  min-height: unset;
  max-height: unset;
  object-fit: cover;
  width: 100%;
}

.cm-type-1 .carousel  .carousel-indicators li.round {
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 50%;
	margin: 0 12px;
}

.carousel-item iframe, .carousel-item video {
	width: 100%;
}
/* banner carousel caption/title */
.cm-type-1 .carousel-caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 1s;
	transition-delay: .5s;
	z-index: 1;
	max-width: 1190px;
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	padding: 0 20px;
}

.cm-type-1 .carousel-item.right-aligned .carousel-caption {
	align-items: flex-end;
}

.cm-type-1 .carousel-item.left-aligned .carousel-caption {
	align-items: flex-start;
}

.cm-type-1 .carousel-item.center-aligned .carousel-caption {
	align-items: center;
}

.cm-type-1 .carousel-caption h2, .cm-type-1 .carousel-caption p {
	color: #fff;
}

.cm-type-1 .carousel-caption .caption-subtitle {
	margin-bottom: 0;
}

.cm-type-1 .carousel-caption .caption-text {
	margin-bottom: 0;
	margin-top: 25px;
}

.cm-type-1 .carousel-caption .caption-cta {
	margin-top: 50px;
}

.cm-type-1.cm-carousel .carousel-item.active  .carousel-caption {
	opacity: 1;
}

.cm-type-1.cm-carousel .cm-banner .carousel-caption{
	opacity: 0;
}

.carousel-item.active.carousel-item-left .cm-type-2  .carousel-caption {
	opacity: 0;
	transition: 0s;
}

.carousel-item.active.carousel-item-left .cm-type-1  .carousel-caption,
.carousel-item.active.carousel-item-right .cm-type-1  .carousel-caption{
	opacity: 0;
	transition: 0s;
	transition-delay:0s;
}

.carousel-item.active.carousel-item-left .cm-type-1  .cm-banner-carousel-image,
.carousel-item.active.carousel-item-right .cm-type-1  .cm-banner-carousel-image ,
.carousel-item.active .cm-type-2  .carousel-caption {
	opacity: 1;
}

.cm-carousel .carousel-control-prev, .cm-carousel .carousel-control-next
	{
	width: 40px;
	opacity: 1; 
}

.carousel-control-next:hover svg path, .carousel-control-prev:hover svg path
	{
	fill: #c4b67e;
	transition: .3s;
}

.cm-heading.cm-banner-title {
	margin-bottom: 25px;
}

.cm-banner-action {
	margin-top: 50px;
}

@media only screen and (max-width: 767px) {
	.cm-carousel-type2 .cm-type-2 .carousel-caption-block{
    width: 100%;
    position: relative;
    background: #fff;
  }
  .cm-carousel-type2 .cm-type-2.cm-banner{
  	display:block;
  	height: auto;
  }
.cm-carousel-type2 .carousel-item .carousel-caption{
    opacity: 1;
  }
  .cm-carousel-type2 .cm-type-2 .carousel-caption{
    top: 100%;
    padding: 30px 80px;
    width: 100%;
    left: 0;
    transform: translate(0);
    border-bottom: solid 1px #a1a1a1;
  }
.cm-carousel-type2 .cm-type-2 img{
    height: 280px;
    min-height: 280px;
  }
	
	
	.carousel-type-two-caption-block {
		width: 100%;
		position: relative;
		background: #fff;
	}
	.cm-type-2 .carousel-item .carousel-caption {
		opacity: 1;
	}
/* 	.carousel-type-two .carousel-inner {
		overflow: visible;
	} */
	.cm-type-2 .carousel-caption {
		top: 100%;
		padding: 30px 80px;
		width: 100%;
		left: 0;
		transform: translate(0);
		border-bottom: solid 1px #a1a1a1;
	}
	.cm-type-2 img {
		height: 280px;
		min-height: 280px;
	}
	.cm-carousel .carousel-control-next, .cm-carousel .carousel-control-prev
		{
		top: 110px;
		height: 50px;
		width: 25px;
	}
	.carousel-control-next svg path, .carousel-control-prev svg path {
		fill: #c4b67e;
	}
	.cm-type-2 .cm-banner-overlay {
		height: 280px;
	}
	.cm-type-1 img, .cm-type-1-image {
		height: 100%;
		min-height: 280px;
		max-height: 40vh;
		object-fit: cover;
		width: 100%;
	}
	.cm-type-1 .carousel-indicators {
		margin-bottom: 20px;
	}
	.cm-type-1 .carousel-indicators li {
		width: 7px;
		height: 7px;
	}
	.cm-type-1 .carousel-caption {
		max-width: calc(100vw - 170px);
		padding: 0;
	}
}
