<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure CTA Component" class="cq-placeholder"></p>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='tlc-aem-web.button'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.ButtonModel">
<div class= "${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.paddingRightClass} ${properties.paddingLeftClass}${properties.customStyleClass}">
		<!-- Header Type CTA - Button with Text -->
      <sly data-sly-test="${properties.btnType=='text'}">
         <div class="cm-button-group cm-header-cta ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}" data-sly-list="${model.textBtnList}">
             <a class="cm-button cm-button-sm primary cm-wide-mobile ${item.memberDrawer ? 'cm-member-drawer-link' : ''}" href="${item.btnUrl}" target="${item.openInNewWindow == 'true' ? '_blank' : '_self'}">${item.btnText}</a>
            </div>
      </sly>

      <!-- Link Type CTA - Link with Text -->
       <sly data-sly-test="${properties.btnType=='link'}">
         <div data-sly-list="${model.textBtnList}">
               <a class="cm-link cm-link-serif text-underline" href="${item.btnUrl}" target="${item.openInNewWindow == 'true' ? '_blank' : '_self'}">${item.btnText}</a>
            </div>
      </sly>

  		<!-- App CTA - Image CTA-->
      <sly data-sly-test="${properties.btnType=='image'}">
         <div class="app-ctas" >
            <sly data-sly-list="${model.imgBtnList}">
            <a href="${item.btnUrl}" class="app-ctas-image">
            <img class="app-ctas-images" src="${item.btnImagePath}" alt="${item.btnImageAltText}" /> 
            </a>
            </sly>
              <span class="cm-text app-ctas-text">${properties.ImageCtaText}</span>
        </div>
     </sly>


</div>

</sly>