#blog-layout1-container img{
	width:calc(50% - 20px);
	display:inline-block;
	margin-bottom:10px;
}
#blog-layout1-container img:nth-child(odd){
	margin-right:10px;
}
.blog-content-images {
	width: 100%;
}

.blog-content-image {
	width: 100%;
	margin-bottom: 50px;
}

.blog-social-icons {
	list-style-type: none;
	padding: 0;
	display: flex;
	margin: 0;
	margin-top: 25px;
}

.blog-social-icons li {
	margin-right: 25px;
}

.blog-social-icons li img {
	width: 20px;
}

.blog-title {
	margin-bottom: 15px;
}

.blog-content-container {
	margin-top: 50px;
}

.cm-layout1-left-sticky.affix-it {
	position: fixed;
	top: 100px;
	position: fixed;
	/* bottom: 0; */
	width: 52%;
}

.cm-layout1-left-sticky.affix-it.stop {
	position: absolute;
	bottom: 0;
	top: auto;
}

.sticky-container {
	position: relative;
}

@media only screen and (max-width: 767px) {
	.blog-content-images {
		margin-top: 25px;
	}
}