<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Subscription Link Component" class="cq-placeholder"></p> 

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.subscriptionLink'}" />

 <div class="subscription-box ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}">
      <label for="" class="cm-input-label  subscription-input-label">
        <input type="text" class="cm-input subscription-input" name="" id="">
			<span class="cm-placeholder-label">${properties.newsLetterText}</span>
      </label>
      <sly data-sly-test="${properties.signUpText}">
	<button class="cm-button cm-button-sm primary subscription-button">${properties.signUpText}</button>
    </sly>
 </div>