.property-map{
  width: 100%;
  min-height: 500px;
}

.property-image-d{
    display:block ;
}
.property-image-m{
     display:none ;
}
@media only screen and (max-width:767px){


}


.property-content{
  margin-top: 50px;
}
.property-content-item{
  margin-bottom: 25px;
}

.property-content-item-heading{
  margin-bottom: 5px;
}
.property-content-item-body{
  margin: 0;
}


.cm-social-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 50px;
  margin-top: 25px;
}
.cm-social-list-item:not(:last-child){
  margin-right: 25px
}
.cm-social-list-item > a{
  display: block;
  cursor: pointer;
}
  .property-back-link{
    margin-bottom: 0px;
    margin-top : 25px;
    display: inline-block;
  }
@media only screen and (max-width:767px){

    .property-content{
    margin-top: 25px;
  }
          .property-map{
    margin-top: 25px;
    min-height: 330px;
  }
  .property-back-link{
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
  .property-image-d{
     display:none ;
}
    .property-image-m{
     display:block ;
     margin-bottom:25px;
}
}

@media (max-width: 767px){
  .cm-social-list{
    margin-bottom: 40px;
  }

}