<div class="main-body-container">
	<div data-sly-resource="${'banner1' @ resourceType='/apps/tlc-web-platform/components/content/banner'}"></div>
	<div data-sly-resource="${'blogslayout' @ resourceType='/apps/tlc-web-platform/components/content/blogsLayout'}"></div>
	<div data-sly-resource="${'section-par' @ resourceType='/wcm/foundation/components/parsys'}"></div>
</div>