.cm-accordion-link{
    width: 16px;
      height: 16px;
      position: relative;
      display: inline-block;
      margin-left: 10px;
      vertical-align: text-bottom;
      cursor: pointer;
  }
  .questions-list{
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
    margin: 0;
  }
  .cm-accordion-item.active .cm-accordion-link.cm-plus::before{
    transform: rotate(90deg);
  }
  .questions-list li{
    padding: 15px 0;
  }
  .questions-list .faq-sno{
    padding-right:15px ;
    font-size: 16px;
  }
  
  .cm-accordion-content{
    padding: 25px 0 0 28px;
    color: #a4a4a4;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
  }
  .cm-accordion-item.active .cm-accordion-content{
    height: auto;
    opacity: 1;
    padding-top: 5px;
    transition: .3s;
  }
  .cm-accordion-content p{
    color: #a4a4a4;
  }
  
  .footer-links img{
  margin-right: 5px;
  display: inline-block;
  filter:grayscale(100%);
}
.footer-links:hover img{
  filter:grayscale(0);
}

  @media only screen and (max-width:767px){
    .cm-accordion-link{
      width: 14px;
      height: 14px;
      vertical-align: middle;
    }
    .questions-list .faq-sno{
      font-size: 14px;
    }
    .questions-list li{
      padding: 8px 0;
    }
  }