﻿.benefits-carousel-container {
	/* margin-top: 50px; */
}

@media only screen and (max-width: 576px) {
/*	.benefits-container {
		margin-top: 224px;
	} */
}

.cm-owl-carousel .owl-dots{
	    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cm-owl-carousel button.owl-dot{
	    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    margin: 0 12px;
    background: #b1aaaa;
    opacity:0.5;
}

.cm-owl-carousel button.owl-dot.active{
	opacity:1;
}

/* .owl-carousel .owl-item img{
  height: 540px;
}
.cm-owl-carousel .owl-item.cloned.active .cm-owl-carousel-image{
  width: 363px;
  height: 540px;
  object-fit: cover;
  transition: .5s;
} */
.cm-owl-carousel-item {
	display: flex;
	flex-direction: column;
}

.cm-owl-carousel-image-block {
	﻿margin-bottom: 50px;
    position: relative;
    width: 100%;
    padding-top: 52.7%;
	position: relative;
}

.cm-owl-carousel-image-block::before, .cm-owl-carousel-image-block::after
	{
	position: absolute;
	/*content: "";*/
	width: 101%;
	height: 50px;
	background: white;
	transform: scaleY(1);
	transition: .5s;
	z-index:1;
}

.cm-owl-carousel-image-block::before {
	top: -2px;
	left: -1px;
	transform-origin: top;
}

.cm-owl-carousel-image-block::after {
	bottom: -1px;
	transform-origin: bottom;
	left: -1px;
}

.cm-owl-carousel-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	﻿font-family: 'object-fit: contain;object-position: 100%;';
	position:absolute;
	top:0;
}


/* .cm-owl-carousel .owl-item.active.center .cm-owl-carousel-content {
	margin-top: 50px;
} */
.cm-owl-carousel-content .cm-heading{
	margin-bottom:5px;
}
.cm-owl-carousel-link {
	margin-top: 25px;
}
.hotel-link, .hotel-link:hover{
	color: #2d2d2d;
	text-decoration: none;
}
