.cm-carousel-type2{
  position: relative;
}
.cm-carousel-type2 .cm-banner-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.cm-carousel-type2 img{
	height: 480px; 
 	max-height: calc(100vh - 80px); 
 /*  height: 680px;
  min-height: 500px;
  max-height: calc(100vh - 100px); */
  object-fit: cover;
  width: 100%;
}

.cm-carousel-type2 .carousel-control-prev,
.cm-carousel-type2 .carousel-control-next{
  width: 40px;
  opacity: 1;
}
.carousel-control-next:hover svg path,
.carousel-control-prev:hover svg path{
  fill: #c4b67e;
  transition: .3s;
}
.carousel-type-two-caption-block{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 978px;
  width: calc(83.33% - 10px);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: flex-end;
}
.cm-carousel-type2.right-aligned .carousel-type-two-caption-block{
  justify-content: flex-end;
}

.cm-carousel-type2.left-aligned .carousel-type-two-caption-block{
  justify-content: flex-start;
}

.cm-carousel-type2.center-aligned .carousel-type-two-caption-block{
  justify-content: center;
}
.cm-carousel-type2 .carousel-caption{
  position: relative;
  width: 320px;
  text-align: left;
  background: #fff;
  padding: 50px 27px;
  z-index: 1;
  left: unset;
  top: unset;
  bottom: unset;
  transform: none;
  right: unset;
  opacity: 0;
  transition: 1s;
  transition-delay: .3s;
}
.cm-carousel-type2 .carousel-item.active.carousel-item-left .carousel-caption{
  opacity: 0;
  transition: 0s;
}
.cm-carousel-type2 .carousel-item.active .carousel-caption{
  opacity: 1;
}
@media only screen and (max-width: 767px){
  .carousel-type-two-caption-block{
    width: 100%;
    position: relative;
    background: #fff;
  }
  .cm-carousel-type2 .carousel-item .carousel-caption{
    opacity: 1;
  }
  .carousel-type-two .carousel-inner{
    overflow: visible;
  }
  .cm-carousel-type2 .carousel-caption{
    top: 100%;
    padding: 30px 80px;
    width: 100%;
    left: 0;
    transform: translate(0);
    border-bottom: solid 1px #a1a1a1;
  }
  .cm-carousel-type2 img{
    height: 280px;
    min-height: 280px;
  }
  .cm-carousel-type2 .carousel-control-next,
  .cm-carousel-type2 .carousel-control-prev{
    top: 280px;
    height: 80px;
  }
  .carousel-control-next svg path,
  .carousel-control-prev svg path{
    fill: #c4b67e;
  }
  .cm-carousel-type2 .cm-banner-overlay{
    height: 280px;
  }
}