<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure owlCarousel Component" class="cq-placeholder"></p>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.dynamicOwlCarousel'}" />
	 
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	 data-sly-call="${clientlib.css @ categories='tlc-aem-web.owlCarousel'}" />
	 	 
<sly data-sly-use.model="com.tlc.web.platform.core.models.dynamic.DynamicOwlCarouselModel">

<div class="benefits-container" id="dynamic-owl-carousel">
	<div class="">
		<div class="row">
			<div class="col-md-10 offset-md-1 mb-50">
				<h1 class="cm-heading text-center">${inheritedPageProperties.hotelListingText}</h1>
			</div>
		</div>
		<div class="benefits-carousel-container">
			<div class="owl-carousel cm-owl-carousel" data-attr-dots="${properties.includeDots}" data-attr-nav="${properties.includeOwlNav}" data-sly-list="${model.propertyDetailsList}">
				<a href="${item.pageUrl}" class="cm-link cm-owl-carousel-content-link">
				<div class="cm-owl-carousel-item">
					<div class="cm-owl-carousel-image-block">
						<img src="${item.bgImage}" alt="${item.imageAltText}" class="cm-owl-carousel-image">
					</div>
					<div class="cm-owl-carousel-content p-mtb-0">
						<p class="cm-text-serif cm-owl-carousel-content-body" data-sly-test="${item.tag}">${item.tag}</p>
						<h2 class="cm-heading cm-owl-carousel-content-title">${item.propertyName}</h2>
						<!-- <p class="cm-text-serif cm-owl-carousel-content-body">${item.propertyDetailsModel.descriptionSmall}</p> -->
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</div>

</sly>