<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Navigation Component" class="cq-placeholder"></p> 

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
  	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.navigation' }" />
<sly data-sly-use.model="com.tlc.web.platform.core.models.NavigationModel">

<ul class="cm-header-menu-list ${properties.bgcolor} ${properties.marginTopClass} ${properties.marginBottomClass} ${properties.paddingTopClass} ${properties.paddingBottomClass} ${properties.customStyleClass}" data-sly-list="${model.listitems}">
       <sly data-sly-test="${itemList.count <= 6}">
    <li class="cm-header-menu-list-item cm-menu-link" data-tab="${item.navigationTitle}">
    <a href="${item.navigationLink}">${item.navigationTitle}</a></li>
</ul>
</sly>
</sly>