<div class="cq-placeholder" data-sly-test="${wcmmode.edit}" data-emptytext="Hotel listing Component"></div>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='tlc-aem-web.hotelListing'}" />

<sly data-sly-use.model="com.tlc.web.platform.core.models.HotelListingModel">
	
<div class="search-results-container">
<div class="cm-wrapper cm-inner-wrapper search-results-section"  id="not-found-container" data-list="${model.searchResults}">
	<div class="row" hidden>
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<h1 class="cm-heading mb-50 text-center">Nothing Found</h1>
			<p class="cm-text-16 text-center mb-50">Sorry, but nothing
				matched your search terms. Please try again with some different
				keywords.</p>
		</div>
	</div>
</div>
<div class="cm-wrapper cm-inner-wrapper search-results-section"
	id="did-you-mean-container" hidden>
	<div class="row">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<h1 class="cm-heading mb-50 text-center">Sorry, your search did not yield any results.</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">

			<div class="hotel-card cm-inner-wrapper">
				<div class="aspect-fix">
					<a href="${item.propertyPageUrl}" class="hotel-link"> <img
						src="${item.webfacade}" alt="${item.bgImageAltText}"
						class="hotel-card-image">
						<h2 class="hotel-card-title cm-heading">${item.propertyName @ context='html'} </h2></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cm-wrapper search-results-section search-results-section-active" id="total-results">
<div data-sly-resource="${'heading1' @ resourceType='/apps/tlc-web-platform/components/content/heading'}"></div>

<!-- 	<div class="search-filter-block row mb-50">
		<div class=" col-md-3 col-sm-12 mb-25-sm no-padding-sm"></div>
	</div> -->

	<div id="hotel-list-card" class="row hotels-listed"></div>

	<div class="row hotels-listed">
			<script id="search" type="text/X-handlebars-template">
            {{#each this}}
                <div  class="col-md-4 hotel-column">
                    <div class="hotel-card cm-inner-wrapper">
 					<div class="aspect-fix">
                      <a href="{{this.propertyPageUrl}}" class="hotel-link"> 
					  <img id="image" src="{{this.webfacade}}" alt="{{this.bgImageAltText}}" class="hotel-card-image">
					  </a>
                      
					</div>
					<a href="{{this.propertyPageUrl}}" class="hotel-link"> 
 						<h2 id="title" class="hotel-card-title cm-heading">
                            {{{this.propertyName}}}
                    	</h2>
					</a>
                    </div>
                </div>

            </div>
            {{/each}}
        </script>
		</div>
		<div class="row">
			<div class="col-sm-12 centered-filters">
				<div class="per-page">
					<h2 class="cm-heading cm-heading-gray">Hotels Per Page</h2>
					<div class="ui-widget">
						<select id="cm-hotel-category" class="dropdown-type2">
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="12" selected>12</option>
							<option value="24" >24</option>
							<option value="36">36</option>
						</select>
					</div>
				</div>
				<nav aria-label="Page navigation" class="pagination-container" id="paginationId"></nav>
			</div>
		</div>
	</div>
	</div>
  <div id="noidea" data-resourcePath="${model.cityPath}" data-pagePath="${currentPage.getPath}" hidden></div>

</sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.js @ categories='tlc-aem-web.search'}" />